{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planningpage %} 
{{ parent() }}
 <h1>Hello World ! Planning du magasin</h1>

        <p>
            Ici on visualise le planning du mag id: {{ idMag }}
        </p>
{% endblock %}