{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationeditpage %} 
{{ parent() }}
<h4>{% trans %}Modifier une formation{% endtrans %}</h4>

<form action="{{ path('formation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la formation{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomGC') ~ "-" ~ lieux.nomville ~ "-" ~ lieux.codag }} name="site2"></td>
				<td><div class="input-append date" id="datepicker2" data-date={% if entity.dateform %}{{ entity.dateform|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.dateform %}{{ entity.dateform|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateformation">
				<span class="add-on"><i class="icon-th"></i></span></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Formateur{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('nomUSER') }} name="nomform"></p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('prenomUSER') }} name="prenomform"></p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}La formation{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Détail de la formation{% endtrans %}: <p>{{ form_widget(edit_form.detailform) }}</p></td>
				<td>{% trans %}Type de formation{% endtrans %}: <p>{{ form_widget(edit_form.typeform) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Observations{% endtrans %}: <p>{{ form_widget(edit_form.observ) }}</p></td>
				<td>{% trans %}Recommandé pour{% endtrans %}: <p>{{ form_widget(edit_form.recommand) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}L'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ form_widget(edit_form.nomagent) }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ form_widget(edit_form.prenomagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Adresse1{% endtrans %}: <p>{{ form_widget(edit_form.adr1agent) }}</p><p>Adresse2: </p><p>{{ form_widget(edit_form.adr2agent) }}</p></td>
				<td>{% trans %}Code Postal{% endtrans %}:<p>{{ form_widget(edit_form.cpagent) }}</p><p>Ville:</p><p>{{ form_widget(edit_form.villeagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Appréciation{% endtrans %}: <p>{{ form_widget(edit_form.critere) }} / 20</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Nationnalité{% endtrans %}: <p>{{ form_widget(edit_form.nation) }}</p></td>
				<td>{% trans %}Ressortissant CE{% endtrans %}: <p>{{ form_widget(edit_form.CEE) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Carte Identité{% endtrans %}: <p>{{ form_widget(edit_form.numci) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(edit_form.pref) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Titre de séjour{% endtrans %}: <p>{{ form_widget(edit_form.numtsej) }}</p></td>
				<td>{% trans %}Date de validité{% endtrans %}: <p><div class="input-append date" id="datepicker3" data-date={% if entity.datesej %}{{ entity.datesej|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.datesej %}{{ entity.datesej|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datesej">
				<span class="add-on"><i class="icon-th"></i></span></p></td>
			</tr>
			<tr>
				<td>{% trans %}Autorisation de travail salarié{% endtrans %}: <p>{{ form_widget(edit_form.autotravsal) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(edit_form.pref2) }}</p></td>
			</tr>
		</tbody>
	</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
		
		<a class="btn btn-success" href="{{ path('formation') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la liste{% endtrans %}
        </a>
    </p>
</form>
{% if app.user.username == "Jeff" %}
<ul class="record_actions">
    <li>
        <form action="{{ path('formation_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}
