{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationnewpage %} 
{{ parent() }}
<h4>{% trans %}Nouvelle Formation{% endtrans %}</h4>
<br></br>
<form action="{{ path('formation_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la formation{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomGC') ~ "-" ~ lieux.nomville ~ "-" ~ lieux.codag }} name="site2"></td>
				<td><div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="dateformation">
				<span class="add-on"><i class="icon-th"></i></span></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Formateur{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('nomUSER') }} name="nomform"></p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('prenomUSER') }} name="prenomform"></p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}La formation{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Détail de la formation{% endtrans %}: <p>{{ form_widget(form.detailform) }}</p></td>
				<td>{% trans %}Type de formation{% endtrans %}: <p>{{ form_widget(form.typeform) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Observations{% endtrans %}: <p>{{ form_widget(form.observ) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}L'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ form_widget(form.nomagent) }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ form_widget(form.prenomagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Adresse1{% endtrans %}: <p>{{ form_widget(form.adr1agent) }}</p><p>Adresse2: </p><p>{{ form_widget(form.adr2agent) }}</p></td>
				<td>{% trans %}Code Postal{% endtrans %}:<p>{{ form_widget(form.cpagent) }}</p><p>Ville:</p><p>{{ form_widget(form.villeagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Nationnalité{% endtrans %}: <p>{{ form_widget(form.nation) }}</p></td>
				<td>{% trans %}Ressortissant CE{% endtrans %}: <p>{{ form_widget(form.CEE) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Carte Identité{% endtrans %}: <p>{{ form_widget(form.numci) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(form.pref) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Titre de séjour{% endtrans %}: <p>{{ form_widget(form.numtsej) }}</p></td>
				<td>{% trans %}Date de validité{% endtrans %}: <p><div class="input-append date" id="datepicker3" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datesej">
				<span class="add-on"><i class="icon-th"></i></span></p></td>
			</tr>
			<tr>
				<td>{% trans %}Autorisation de travail salarié{% endtrans %}: <p>{{ form_widget(form.autotravsal) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(form.pref2) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Appréciation de l'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Appréciation générale{% endtrans %}: <p>{{ form_widget(form.critere) }} / 20</p></td>
				<td>{% trans %}Recommander pour{% endtrans %}: <p>{{ form_widget(form.recommand) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Présentation{% endtrans %}: <p>{{ form_widget(form.notepres) }} / 20</p></td>
				<td>{% trans %}Elocution{% endtrans %}: <p>{{ form_widget(form.noteeloc) }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Dynamisme{% endtrans %}: <p>{{ form_widget(form.notedynam) }} / 20</p></td>
				<td>{% trans %}Analyse Compréhension{% endtrans %}: <p>{{ form_widget(form.noteanaly) }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Organisation{% endtrans %}: <p>{{ form_widget(form.noteorga) }} / 20</p></td>
				<td>{% trans %}Expérience{% endtrans %}: <p>{{ form_widget(form.noteexp) }} / 20</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Fichiers Upload{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Carte d'identité recto{% endtrans %}: <p>{{ form_widget(form.fileimg1) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Carte d'identité verso{% endtrans %}: <p>{{ form_widget(form.fileimg2) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Autre{% endtrans %}: <p>{{ form_widget(form.fileimg3) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('formation') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}