{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationshowpage %} 
{{ parent() }}
<h4>{% trans %}Formation du{% endtrans %} {{ entity.dateform|date('d-m-Y') }}</h4>

<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la formation{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.site }}</td>
				<td>{{ entity.dateform|date('d-m-Y') }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Formateur{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ entity.nomform }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ entity.prenomform }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}La formation{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Détail de la formation{% endtrans %}: <p>{{ entity.detailform }}</p></td>
				<td>{% trans %}Type de formation{% endtrans %}: <p>{{ entity.typeform }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Observations{% endtrans %}: <p>{{ entity.observ }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}L'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ entity.nomagent }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ entity.prenomagent }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Adresse1{% endtrans %}: <p>{{ entity.adr1agent }}</p><p>{% trans %}Adresse2{% endtrans %}: </p><p>{{ entity.adr2agent }}</p></td>
				<td>{% trans %}Code Postal{% endtrans %}:<p>{{ entity.cpagent }}</p><p>{% trans %}Ville{% endtrans %}:</p><p>{{ entity.villeagent }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Compétences{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Appréciation générale{% endtrans %}: <p>{{ entity.critere }} / 20</p></td>
				<td>{% trans %}Recommander pour{% endtrans %}: <p>{{ entity.recommand }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Présentation{% endtrans %}: <p>{{ entity.notepres }} / 20</p></td>
				<td>{% trans %}Elocution{% endtrans %}: <p>{{ entity.noteeloc }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Dynamisme{% endtrans %}: <p>{{ entity.notedynam }} / 20</p></td>
				<td>{% trans %}Analyse Compréhension{% endtrans %}: <p>{{ entity.noteanaly }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Organisation{% endtrans %}: <p>{{ entity.noteorga }} / 20</p></td>
				<td>{% trans %}Expérience{% endtrans %}: <p>{{ entity.noteexp }} / 20</p></td>
			</tr>
		</tbody>
		</table>
		<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Civilité{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nationnalité{% endtrans %}: <p>{{ entity.nation }}</p></td>
				<td>{% trans %}Ressortissant CE{% endtrans %}: <p>{% if entity.CEE == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Carte Identité{% endtrans %}: <p>{{ entity.numci }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ entity.pref }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Titre de séjour{% endtrans %}: <p>{{ entity.numtsej }}</p></td>
				<td>{% trans %}Date de validité{% endtrans %}: <p>{{ entity.datesej|date('d-m-Y') }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Autorisation de travail salarié{% endtrans %}: <p>{% if entity.autotravsal == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ entity.pref2 }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Carte d'identité recto{% endtrans %}: <p><img src="{{ asset('upload/nomade/formation/stagiaire1/' ~ entity.id ~'/' ~ entity.fileimg1)}}" alt="CI Recto" height="525" width="666" /></p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Carte d'identité verso{% endtrans %}: <p><img src="{{ asset('upload/nomade/formation/stagiaire2/' ~ entity.id ~'/' ~ entity.fileimg2)}}" alt="CI Verso" height="525" width="666" /></p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Autre{% endtrans %}: <p><img src="{{ asset('upload/nomade/formation/stagiaire3/' ~ entity.id ~'/' ~ entity.fileimg3)}}" alt="CI Autre" height="525" width="666" /></p></td>
				<td></td>
			</tr>
		</tbody>
	</table>

<ul class="record_actions">
    <a href="{{ path('formation_edit', { 'id': entity.id }) }}?idMag={{idMag}}" class="btn btn-warning">
            {% trans %}Modifier{% endtrans %}
    </a>
	
	<a class="btn btn-success" href="{{ path('formation') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la Liste{% endtrans %}
    </a>
    
	
	{% if app.user.username == "Jeff" %}
	<p>
    <li>
        <form action="{{ path('formation_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
	</p>
	{% endif %}
</ul>
{% endblock %}