{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvel Article{% endtrans %}</h4></div>

<form action="{{ path('articlestbl_create') }}" method="post" {{ form_enctype(form) }}>
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.client, "") }}{% trans %}Client{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.client) }}</td>
						</tr>
						</tbody>
					</table>
					{% endif %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.categorie, "") }}{% trans %}Catégorie{% endtrans %}</th>
							<th>{{ form_label(form.fourniss, "") }}{% trans %}Fournisseur{% endtrans %}</th>
							<th>{{ form_label(form.reference, "") }}{% trans %}Référence{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.categorie) }}</td>
							<td align="center">{{ form_widget(form.fourniss) }}</td>
							<td align="center">{{ form_widget(form.reference) }}</td>
						</tr>
						</tbody>
					</table>
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.poids, "") }}{% trans %}Poids{% endtrans %}</td>
							<td>{{ form_label(form.profond, "") }}{% trans %}Longueur en Mètre{% endtrans %}</td>
							<td>{{ form_label(form.large, "") }}{% trans %}Largeur en Mètre{% endtrans %}</td>
							<td>{{ form_label(form.haut, "") }}{% trans %}Hauteur en Mètre{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.poids) }}</td>
							<td align="center">{{ form_widget(form.profond) }}</td>
							<td align="center">{{ form_widget(form.large) }}</td>
							<td align="center">{{ form_widget(form.haut) }}</td>	
						</tr>
						<tr>
							<td>{% trans %}* Utilisé la touche 'virgule' <,> pour les décimales{% endtrans %}</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					{% endif %}
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.qtetot, "") }}{% trans %}Qte totale{% endtrans %}</td>
							<td>{{ form_label(form.nbpalette, "") }}{% trans %}Nbre de palettes{% endtrans %}</td>
							<td></td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.qtetot) }}</td>
							<td align="center">{{ form_widget(form.nbpalette) }}</td>
							<td align="center"></td>
						</tr>
					</table>
					{% endif %}	

    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('articlestbl') }}">
            {% trans %}Retour à la Liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}
