{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planingdnewpage %} 
{{ parent() }}
<h4>{% trans %}Création planning{% endtrans %}</h4>
<br></br>
<div class="container">
<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Semaine{% endtrans %}</th>
			<th>{% trans %}Lundi{% endtrans %}</th>
            <th>{% trans %}Mardi{% endtrans %}</th>
            <th>{% trans %}Mercredi{% endtrans %}</th>
            <th>{% trans %}Jeudi{% endtrans %}</th>
            <th>{% trans %}Vendredi{% endtrans %}</th>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <th>{% trans %}Vitrage{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.numsemaine }}</td>
            <td>{{ entity.lundid|date('d-m-Y') }}</td>
            <td>{{ entity.mardid|date('d-m-Y') }}</td>
            <td>{{ entity.mercredid|date('d-m-Y') }}</td>
            <td>{{ entity.jeudid|date('d-m-Y') }}</td>
            <td>{{ entity.vendredid|date('d-m-Y') }}</td>
            <td>{{ entity.samedid|date('d-m-Y') }}</td>
            <td>{{ entity.vitrage }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('planingdate_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}