{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planingdnewpage %} 
{{ parent() }}
<h4>{% trans %}Création planning{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('planingdate_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Date du premier Lundi{% endtrans %}</td>
				<td>{% trans %}Agent{% endtrans %}</td>
				<td>{% trans %}Vitrage{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y H:i:s') }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y H:i:s') }} name="datedeb">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
				<td>{{ form_widget(form.agent2) }}</td>
				<td>{{ form_widget(form.vitrage) }}</td>
			</tr>
		</tbody>
	</table>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>
</div>


<ul class="record_actions">
    <li>
        <a href="{{ path('planingdate') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}