<h1>{% trans %}planingdate{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Datedeb{% endtrans %}</th>
            <td>{{ entity.datedeb|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tlsj{% endtrans %}</th>
            <td>{{ entity.tlsj }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lundi{% endtrans %}</th>
            <td>{{ entity.lundi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mardi{% endtrans %}</th>
            <td>{{ entity.mardi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mercredi{% endtrans %}</th>
            <td>{{ entity.mercredi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Jeudi{% endtrans %}</th>
            <td>{{ entity.jeudi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Vendredi{% endtrans %}</th>
            <td>{{ entity.vendredi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <td>{{ entity.samedi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nbrsemaine{% endtrans %}</th>
            <td>{{ entity.nbrsemaine }}</td>
        </tr>
        <tr>
            <th>{% trans %}Agent{% endtrans %}</th>
            <td>{{ entity.agent }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lieux{% endtrans %}</th>
            <td>{{ entity.lieux }}</td>
        </tr>
        <tr>
            <th>{% trans %}Vitrage{% endtrans %}</th>
            <td>{{ entity.vitrage }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('planingdate') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('planingdate_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('planingdate_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
