{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Articlespage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Articles{% endtrans %}</h4>
<pre>{% trans %}Un article est défini par{% endtrans %} : </pre>
<li>{% trans %}Une référence{% endtrans %}</li>
<li>{% trans %}Un libellé article{% endtrans %}</li>
<li>{% trans %}Le type d’unités logistiques : permet de distinguer pour plusieurs produits les types de conditionnement : palettes, cartons, bacs{% endtrans %}</li>
<pre>{% trans %}La fonction article permet de connaître les données dynamiques{% endtrans %} :</pre>
<li>{% trans %}Les quantités en stock (totale, en-cours, en quarantaine){% endtrans %}</li>
<li>{% trans %}Les dates des dernières réceptions et des dernières préparations{% endtrans %}.</li>
<div class="page-header"></div>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>{% trans %}- Ticket -{% endtrans %}</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Articles_create') }}" method="post" {{ form_enctype(form) }}>
	<p>{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:</p>
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}