{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block agentaffectationpage %} 
{{ parent() }}
<h1>affectation agent list</h1>
<br></br>
<div class="container">
<div class="spanscroll" align="center">
<table table-striped table-condensed" id="sortTableExample">
    <thead>
        <tr>
            <th>Nom_pers</th>
            <th>Prenom_pers</th>
            <th>Telfix_pers</th>
            <th>Telpor_pers</th>
            <th>Email_pers</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.NOMPERS }}</td>
            <td>{{ entity.PRENOMPERS }}</td>
            <td>{{ entity.TELFIXPERS }}</td>
            <td>{{ entity.TELPORPERS }}</td>
            <td>{{ entity.EMAILPERS }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}