{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block agenteditpage %} 
{{ parent() }}
<h1>{% trans %}Editer un agent{% endtrans %}</h1>

<form action="{{ path('agent_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('agent') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('agent_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}