<h1>agent</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num_pers{% endtrans %}</th>
            <td>{{ entity.NUMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Code_ville{% endtrans %}</th>
            <td>{{ entity.CODEVILLE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Sexe{% endtrans %}</th>
            <td>{{ entity.SEXE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Situation_famille{% endtrans %}</th>
            <td>{{ entity.SITUATIONFAMILLE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom_jeune_fille{% endtrans %}</th>
            <td>{{ entity.NOMJEUNEFILLE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_naissance{% endtrans %}</th>
            <td>{{ entity.DATENAISSANCE|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lieu_naissance{% endtrans %}</th>
            <td>{{ entity.LIEUNAISSANCE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num_ss{% endtrans %}</th>
            <td>{{ entity.NUMSS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nationalite{% endtrans %}</th>
            <td>{{ entity.NATIONALITE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num_cs{% endtrans %}</th>
            <td>{{ entity.NUMCS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Validite_cs{% endtrans %}</th>
            <td>{{ entity.VALIDITECS|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Copie_cs{% endtrans %}</th>
            <td>{{ entity.COPIECS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num_id{% endtrans %}</th>
            <td>{{ entity.NUMID }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_id{% endtrans %}</th>
            <td>{{ entity.DATEID|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Annexe7{% endtrans %}</th>
            <td>{{ entity.ANNEXE7 }}</td>
        </tr>
        <tr>
            <th>{% trans %}Handicape{% endtrans %}</th>
            <td>{{ entity.HANDICAPE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_f_handicape{% endtrans %}</th>
            <td>{{ entity.DATEFHANDICAPE|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nb_an_experience{% endtrans %}</th>
            <td>{{ entity.NBANEXPERIENCE|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Experience{% endtrans %}</th>
            <td>{{ entity.EXPERIENCE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Permis{% endtrans %}</th>
            <td>{{ entity.PERMIS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaire{% endtrans %}</th>
            <td>{{ entity.COMMENTAIRE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Appreciation{% endtrans %}</th>
            <td>{{ entity.APPRECIATION }}</td>
        </tr>
        <tr>
            <th>{% trans %}Vehicule{% endtrans %}</th>
            <td>{{ entity.VEHICULE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Complement_hrs{% endtrans %}</th>
            <td>{{ entity.COMPLEMENTHRS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Vitrage{% endtrans %}</th>
            <td>{{ entity.VITRAGE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <td>{{ entity.NOMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <td>{{ entity.PRENOMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <td>{{ entity.TELFIXPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <td>{{ entity.TELPORPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Email_pers{% endtrans %}</th>
            <td>{{ entity.EMAILPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Ad_rue{% endtrans %}</th>
            <td>{{ entity.ADRUE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Suppl_ad{% endtrans %}</th>
            <td>{{ entity.SUPPLAD }}</td>
        </tr>
        <tr>
            <th>{% trans %}Travex{% endtrans %}</th>
            <td>{{ entity.TRAVEX }}</td>
        </tr>
        <tr>
            <th>{% trans %}Code_clas{% endtrans %}</th>
            <td>{{ entity.CODECLAS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Echelon{% endtrans %}</th>
            <td>{{ entity.ECHELON }}</td>
        </tr>
        <tr>
            <th>{% trans %}Positionnement{% endtrans %}</th>
            <td>{{ entity.POSITIONNEMENT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_candi{% endtrans %}</th>
            <td>{{ entity.DATECANDI|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mode{% endtrans %}</th>
            <td>{{ entity.MODE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Source{% endtrans %}</th>
            <td>{{ entity.SOURCE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Appgen{% endtrans %}</th>
            <td>{{ entity.APPGEN }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lettrecv{% endtrans %}</th>
            <td>{{ entity.LETTRECV }}</td>
        </tr>
        <tr>
            <th>{% trans %}Datelet{% endtrans %}</th>
            <td>{{ entity.DATELET|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_envoi_contrat{% endtrans %}</th>
            <td>{{ entity.DATEENVOICONTRAT|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_envoi_avenant{% endtrans %}</th>
            <td>{{ entity.DATEENVOIAVENANT|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_envoi_contratsig{% endtrans %}</th>
            <td>{{ entity.DATEENVOICONTRATSIG|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Actif{% endtrans %}</th>
            <td>{{ entity.ACTIF }}</td>
        </tr>
        <tr>
            <th>{% trans %}Pers{% endtrans %}</th>
            <td>{{ entity.PERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Retraite{% endtrans %}</th>
            <td>{{ entity.RETRAITE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <td>{{ entity.SAMEDI }}</td>
        </tr>
        <tr>
            <th>{% trans %}Rplt{% endtrans %}</th>
            <td>{{ entity.RPLT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Formvit{% endtrans %}</th>
            <td>{{ entity.FORMVIT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Dispoj{% endtrans %}</th>
            <td>{{ entity.DISPOJ }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tpsp{% endtrans %}</th>
            <td>{{ entity.TPSP }}</td>
        </tr>
        <tr>
            <th>{% trans %}Noninter{% endtrans %}</th>
            <td>{{ entity.NONINTER }}</td>
        </tr>
        <tr>
            <th>{% trans %}Numnonatt{% endtrans %}</th>
            <td>{{ entity.NUMNONATT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tjsdispo{% endtrans %}</th>
            <td>{{ entity.TJSDISPO|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Buro{% endtrans %}</th>
            <td>{{ entity.BURO }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mag{% endtrans %}</th>
            <td>{{ entity.MAG }}</td>
        </tr>
        <tr>
            <th>{% trans %}Gdsurf{% endtrans %}</th>
            <td>{{ entity.GDSURF }}</td>
        </tr>
        <tr>
            <th>{% trans %}Hop{% endtrans %}</th>
            <td>{{ entity.HOP }}</td>
        </tr>
        <tr>
            <th>{% trans %}Part{% endtrans %}</th>
            <td>{{ entity.PART }}</td>
        </tr>
        <tr>
            <th>{% trans %}Eco{% endtrans %}</th>
            <td>{{ entity.ECO }}</td>
        </tr>
        <tr>
            <th>{% trans %}Hot{% endtrans %}</th>
            <td>{{ entity.HOT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Espv{% endtrans %}</th>
            <td>{{ entity.ESPV }}</td>
        </tr>
        <tr>
            <th>{% trans %}Maisret{% endtrans %}</th>
            <td>{{ entity.MAISRET }}</td>
        </tr>
        <tr>
            <th>{% trans %}Resto{% endtrans %}</th>
            <td>{{ entity.RESTO }}</td>
        </tr>
        <tr>
            <th>{% trans %}Remiseetat{% endtrans %}</th>
            <td>{{ entity.REMISEETAT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Decapage{% endtrans %}</th>
            <td>{{ entity.DECAPAGE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Pluscontact{% endtrans %}</th>
            <td>{{ entity.PLUSCONTACT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Motifpluscontact{% endtrans %}</th>
            <td>{{ entity.MOTIFPLUSCONTACT }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date_copie_cs{% endtrans %}</th>
            <td>{{ entity.DATECOPIECS|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('agent') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('agent_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('agent_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
