{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block commanderecipeditpage %} 
{{ parent() }}
<div class="container">
<h3>{% trans %}Editer l'état de la commande de reception{% endtrans %}</h3>
<pre>{% trans %}Num Ordre de réception{% endtrans %}: {{ entity.numor }}
</pre>
<pre>{% trans %}Date de la commande{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}
</pre>
<form action="{{ path('commanderecip_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
			<th>{% trans %}Articles{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
			<td>
			{% for entityarticlecom in entitiesarticlescom %}
			{% if entityarticlecom.idcomrecips == entity.id %}
			{% for article in articles %}
			{% if article.id == entityarticlecom.idarticles %}
			<blockquote>{{ article.designat }}
			<small>{% trans %}Qte Totale à réceptionner{% endtrans %}: {{ entityarticlecom.qtte }}</small>
			<small>{% trans %}Qte partiellement réceptionnée{% endtrans %}: {{ entityarticlecom.qttereception }}</small>
			<small>{% trans %}Qte en attente de réception{% endtrans %}: {{ entityarticlecom.qtteattente }}</small>
			</blockquote>
			<p>{% trans %}Qte en réception partielle{% endtrans %}: <input type="text" class="input-mini" name="qttereception{{ entityarticlecom.id }}"></p>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endfor %}
			</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td></td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.etat, "") }}{% trans %}Etat de la commande{% endtrans %}: {{ form_widget(edit_form.etat) }}</td>
	</tr>
	<tr>
		<td><p>{% trans %}Si réceptionné date de réception{% endtrans %}:</p>
		<div class="input-append date" id="datepicker" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datereception">
								<span class="add-on"><i class="icon-th"></i></span>
		</td>
	</tr>
</table>
	
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

</div>
{% endblock %}