{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block commanderecipshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Récapitulatif de vôtre ordre de réception{% endtrans %}:</h4></div>
<div class="progress progress-success progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<h4></h4>
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Réception{% endtrans %}: {{ entity.numor }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span8"> 
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Id{% endtrans %}</th>
			<th>{% trans %}Liste des articles à réceptionner{% endtrans %}:</th>
			<th>{% trans %}Qte Totale à réceptionner{% endtrans %}:</th>
			<th>{% trans %}Qte partiellement réceptionnée{% endtrans %}:</th>
			<th>{% trans %}Qte en attente de réception{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ identArticle }}</td>
			<td>{{ designat }}</td>
			<td>{{ qtte }}</td>
			<td>{{ qttereception }}</td>
			<td>{{ qtteattente }}</td>
		</tr>
	{% else %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.identArticle }}</td>
			<td>{{ article.designat }}</td>
			<td>{{ article.qtte }}</td>
			<td>{{ article.qttereception }}</td>
			<td>{{ article.qtteattente }}</td>
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
	


<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}:</th>
            <td>{{ entity.comm }}</td>
        </tr>
        <tr>
            <th>{% trans %}Ordre de réception{% endtrans %}</th>
			<td>{% if entity.compdf %}<a href="{{ asset('upload/toolbox/recip/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank">{% trans %}Télécharger {% endtrans %}<i class="icon-download"></i></a>{% else %} - {% endif %}</td>
            <!-- <td><a href="{{ asset('upload/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank">Télécharger <i class="icon-download"></i></a></td> -->
        </tr>
		<tr>
            <th>{% trans %}Etat{% endtrans %}</th>
            <td>{% if entity.etat %}{{ entity.etat }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de réception prévue{% endtrans %}</th>
            <td>{% if entity.datelivrprev %}{{ entity.datelivrprev|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de réception{% endtrans %}</th>
            <td>{% if entity.datereception %}{{ entity.datereception|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
    </tbody>
</table>
<div class="span4">...</div>
{% if app.session.get('applicationUSER') == "Toolbox" %}
{% if entity.etat == 'Réceptionné' %}
{% else %}
<a href="{{ path('commanderecip_edit', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Modifier{% endtrans %}
        </a>
{% endif %}
{% endif %}
<a href="{{ path('commanderecip') }}" class="btn btn-success">
            {% trans %}Retour à la liste{% endtrans %} ->
        </a>
</div>

{% endblock %}