{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block clienttoolnewpage %} 
{{ parent() }}
<div class="container">
<h4>{% trans %}Nouveau Client{% endtrans %}</h4>

<form action="{{ path('clienttool_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.nom, "") }}{% trans %}Client{% endtrans %}</th>
							<th>{{ form_label(form.contact, "") }}{% trans %}Contact{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.nom) }}</td>
							<td align="center">{{ form_widget(form.contact) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.adress1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(form.adress2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.adress1) }}</td>
							<td align="center">{{ form_widget(form.adress2) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.cp) }}</td>
							<td align="center">{{ form_widget(form.ville) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(form.email, "") }}{% trans %}Email{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.tel) }}</td>
							<td align="center">{{ form_widget(form.fax) }}</td>
							<td align="center">{{ form_widget(form.email) }}</td>
						</tr>
						</tbody>
	</table>
	
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('clienttool') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}