{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block fournisseurpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Fournisseurs{% endtrans %}</h4></div>
<div class="progress progress-info progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Fournisseur{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" %}
            <th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Modifier{% endtrans %}</th>
			<th>{% trans %}Voir{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nom }}</td>
			{% if app.session.get('applicationUSER') == "Toolbox" %}
            <td>{{ entity.idclient }}</td>
			{% endif %}
            <td><a href="{{ path('fournisseur_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
			<td><a href="{{ path('fournisseur_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>

        <a class="btn btn-info" href="{{ path('fournisseur_new') }}">
            {% trans %}Nouveau Fournisseur{% endtrans %}
        </a>

</ul>
</div>
{% endblock %}