{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block fournisseurshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Fournisseur{% endtrans %} {{ entity.nom }}</h4></div>
<div class="progress progress-info progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Fournisseur{% endtrans %}</th>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<th>{% trans %}Client{% endtrans %}</th>
							{% endif %}
							<th>{% trans %}Contact{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.nom }}</td>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<td align="center">{{ entity.idclient }}</td>
							{% endif %}
							<td align="center">{{ entity.contact }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Adresse{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adres1 }}</td>
						</tr>
						<tr>
							<td align="center">{{ entity.adres2 }}</td>
						</tr>
						<tr>
							<td align="center">{{ entity.cp }} {{ entity.ville }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Tel{% endtrans %}</th>
							<th>{% trans %}Fax{% endtrans %}</th>
							<th>{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel }}</td>
							<td align="center">{{ entity.fax }}</td>
							<td align="center">{{ entity.email }}</td>
						</tr>
						</tbody>
	</table>
<a href="{{ path('fournisseur_edit', { 'id': entity.id }) }}" class="btn btn-info">
            {% trans %}Modifier{% endtrans %}
</a>
<p>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('fournisseur') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}