{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block choixdestinationpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h3>{% trans %}Nouvel Ordre de Préparation{% endtrans %}</h3></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<div class="page-header"><h4>{% trans %}Sélectionner l'adresse de livraison du client{% endtrans %}:</h4></div>

<!-- <table class="table table-striped table-bordered table-condensed" id="sortTableExampleD2"> -->
<table class="table table-striped table-bordered table-condensed" id="sortDatatable19">
    <thead>
        <tr>
            <th>{% trans %}Type{% endtrans %}</th>
			<th>{% trans %}Compte{% endtrans %}</th>
			<th>{% trans %}Num Mag{% endtrans %}</th>
            <th>{% trans %}Nom du Site{% endtrans %}</th>
            <th>{% trans %}Adresse1{% endtrans %}</th>
            <th>{% trans %}Adresse2{% endtrans %}</th>
            <th>{% trans %}Cp{% endtrans %}</th>
            <th>{% trans %}Ville{% endtrans %}</th>
            <th>{% trans %}Modif.{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.typecpte }}</a></td>
			<td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.compte }}</a></td>
			<td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.nummag }}</a></td>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.site }}</a></td>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.adresse1 }}</a></td>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.adresse2 }}</a></td>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.cp }}</a></td>
            <td><a href="{{ path('comarticletmp') }}?idDestSelect={{entity.id}}">{{ entity.ville }}</a></td>
            <td><a href="{{ path('destination_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<ul>
        <a class="btn  btn-warning" href="{{ path('destination_new') }}">
            {% trans %}Nouveau Client{% endtrans %}
        </a>
</ul>

</div>
{% endblock %}