{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block destinationpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% if app.session.get('applicationUSER') == "Toolbox" %}{% trans %}Listing des destinations{% endtrans %}{% else %}{% endif %}{% trans %}Listing Clients{% endtrans %}</h4></div>
{% if app.session.get('applicationUSER') == "Toolbox" %}
{% else %}
<div class="progress progress-warning progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
{% endif %}
<table class="table cellpadding="0" cellspacing="0" border="0" class="display" {% if app.session.get('applicationUSER') == "Toolbox" %} id="sortDatatable5" {% else %} id="sortDatatable6" {% endif %}>
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "Toolbox" %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Type{% endtrans %}</th>
			<th>{% trans %}Compte{% endtrans %}</th>
			<th>{% trans %}Num Mag{% endtrans %}</th>
            <th>{% trans %}Nom du Site{% endtrans %}</th>
            <th>{% trans %}Adresse1{% endtrans %}</th>
            <th>{% trans %}Adresse2{% endtrans %}</th>
            <th>{% trans %}Cp{% endtrans %}</th>
            <th>{% trans %}Ville{% endtrans %}</th>
            <th>{% trans %}Tel{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "Toolbox" %}
			<th>{{ entity.client }}</th>
			{% endif %}
			<td>{{ entity.typecpte }}</td>
			<td>{{ entity.compte }}</td>
			<td>{{ entity.nummag }}</td>
            <td>{{ entity.site }}</td>
            <td>{{ entity.adresse1 }}</td>
            <td>{{ entity.adresse2 }}</td>
            <td>{{ entity.cp }}</td>
            <td>{{ entity.ville }}</td>
            <td>{{ entity.tel }}</td>
            <td><a href="{{ path('destination_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
            <td><a href="{{ path('destination_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>


</p>
<p>
<ul>
		{% if app.session.get('applicationUSER') == "Toolbox" %}
		<a class="btn  btn-success" href="{{ path('destination_new') }}">
            {% trans %}Nouveau Client{% endtrans %}
        </a>
		{% else %}
		<a class="btn  btn-warning" href="{{ path('destination_new') }}">
            {% trans %}Nouveau Client{% endtrans %}
        </a>
		{% endif %}
        

</ul>
</p>

{% endblock %}
{% block destinationjspage %}
{{ parent() }}
<script >
		$(function() {
		$("table#sortDatatableTot2").dataTable({
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"aaSorting": [[ 1, "asc" ]],
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][6]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][8]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[6].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[8].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
</script>
{% endblock %}