{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block destinationnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvelle adresse de livraison{% endtrans %}</h4></div>
<div class="progress progress-warning progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<form action="{{ path('destination_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<th>{{ form_label(form.typecpte, "") }}{% trans %}Type de Compte{% endtrans %}: {{ form_widget(form.typecpte) }}</th>
			<th>{{ form_label(form.compte, "") }}{% trans %}Compte{% endtrans %}: {{ form_widget(form.compte) }}</th>
		</tr>
		<tr>
			<td>{{ form_label(form.nummag, "") }}{% trans %}Num du Mag{% endtrans %}: {{ form_widget(form.nummag) }}</td>
			<td>{{ form_label(form.site, "") }}{% trans %}Nom du site{% endtrans %}: {{ form_widget(form.site) }}</td>	
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(form.adresse1, "") }}{% trans %}Adresse 1{% endtrans %}: {{ form_widget(form.adresse1) }}</td>
			<td>{{ form_label(form.adresse2, "") }}{% trans %}Adresse 2{% endtrans %}: {{ form_widget(form.adresse2) }}</td>			
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(form.cp, "") }}{% trans %}Code Postal{% endtrans %}: {{ form_widget(form.cp) }}</td>
			<td>{{ form_label(form.ville, "") }}{% trans %}Ville{% endtrans %}: {{ form_widget(form.ville) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(form.tel, "") }}{% trans %}Téléphone{% endtrans %}: {{ form_widget(form.tel) }}</td>
			<td>{{ form_label(form.fax, "") }}{% trans %}Fax{% endtrans %}: {{ form_widget(form.fax) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(form.tel2, "") }}{% trans %}Téléphone2{% endtrans %}: {{ form_widget(form.tel2) }}</td>
			<td>{{ form_label(form.mail, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(form.mail) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(form.sitenet, "") }}{% trans %}Site internet{% endtrans %}: {{ form_widget(form.sitenet) }}</td>
			<td>{{ form_label(form.pays, "") }}{% trans %}Pays:{% endtrans %} {{ form_widget(form.pays) }}</td>
		</tr>
	</table>
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-warning" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}