{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block destinationshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Client{% endtrans %} {{ entity.compte }} {{ entity.site }}</h4></div>
<div class="progress progress-warning progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th>{% trans %}Type de Compte{% endtrans %}: {{ entity.typecpte }}</th>
		</tr>
		<tr>
			<td>{% trans %}Compte{% endtrans %}: {{ entity.compte }}</td>
			<td>{% trans %}Nom du site{% endtrans %}: {{ entity.site }}</td>	
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th>{% trans %}Contact{% endtrans %}: {{ entity.contact }}</th>
		</tr>
		<tr>
			<td>{% trans %}Adresse 1{% endtrans %}: {{ entity.adresse1 }}</td>
			<td>{% trans %}Adresse 2{% endtrans %}: {{ entity.adresse2 }}</td>			
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{% trans %}Code Postal{% endtrans %}: {{ entity.cp }}</td>
			<td>{% trans %}Ville{% endtrans %}: {{ entity.ville }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{% trans %}Téléphone{% endtrans %}: {{ entity.tel }}</td>
			<td>{% trans %}Fax{% endtrans %}: {{ entity.fax }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{% trans %}Téléphone2{% endtrans %}: {{ entity.tel2 }}</td>
			<td>{% trans %}Mail{% endtrans %}: {{ entity.mail }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{% trans %}Site Internet{% endtrans %}: {{ entity.sitenet }}</td>
			<td>{% trans %}Pays{% endtrans %}: {{ entity.pays }}</td>
		</tr>
	</table>
	<a href="{{ path('destination_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            {% trans %}Modifier{% endtrans %}
    </a>
	<p>
	</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('destination') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}