{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>Modification de l'audit qualité</h4>

<form action="{{ path('audit_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div><h4>Date de Mise a jour: {{ entity.datemaj|date('d-m-Y') }}</h4>
	</div>
    <div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Nettoyage Visuel
				</a>
			</div>
			<div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>Etat:</td>
							<td>{{ form_label(edit_form.parvis_sol, "Parvis Sols Montants Vitre") }}</td>
							<td>{{ form_label(edit_form.tapis_entree, "Tapis d'entrée") }}</td>
							<td>{{ form_label(edit_form.portes_vit, "Portes vitrées") }}</td>
							<td>{{ form_label(edit_form.bornes_antivol, "Bornes anti vol") }}</td>
							<td>{{ form_label(edit_form.miroir_vit, "Miroirs, Surfaces vitrées") }}</td>
							<td>{{ form_label(edit_form.porte_mont_pil, "Portes, Montants, Piliers") }}</td>
							<td>{{ form_label(edit_form.caisses, "Caisses") }}</td>
							<td>{{ form_label(edit_form.dess_fac_tiroir, "Dessus et Façades de tiroirs") }}</td>
						</tr>
						<tr>
							<td align="center"><p></p><p>Propre ----><br></br>Traces ----><br></br></p><p>Poussières-><br></br>Tâches ----><br></br>Usé -------></p></td>
							<td align="center">{{ form_widget(edit_form.parvis_sol) }}</td>
							<td align="center">{{ form_widget(edit_form.tapis_entree) }}</td>
							<td align="center">{{ form_widget(edit_form.portes_vit) }}</td>
							<td align="center">{{ form_widget(edit_form.bornes_antivol) }}</td>
							<td align="center">{{ form_widget(edit_form.miroir_vit) }}</td>
							<td align="center">{{ form_widget(edit_form.porte_mont_pil) }}</td>
							<td align="center">{{ form_widget(edit_form.caisses) }}</td>
							<td align="center">{{ form_widget(edit_form.dess_fac_tiroir) }}</td>
						</tr>
						
					</table>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>Etat:</td>
							<td>{{ form_label(edit_form.maqu_rap_pinc, "Maquillage rapide") }}</td>
							<td>{{ form_label(edit_form.present_maqu, "Présentoir maquillage") }}</td>
							<td align="center">{{ form_label(edit_form.edg, "EDG") }}</td>
							<td>{{ form_label(edit_form.mobilier_mobani, "Mobiliers mobiles, Meubles Alu") }}</td>
							<td>{{ form_label(edit_form.rehau_joue_gond, "Rehausses et Joues de gondoles") }}</td>
							<td>{{ form_label(edit_form.bar_beaut_nail, "Bar à beauté (MUS), Nail bar, Sièges") }}</td>
							<td>{{ form_label(edit_form.tab_bain, "Tablette bain Sephora") }}</td>
						</tr>
						<tr>
							<td align="center"><p></p><p>Propre ----><br></br>Traces ----><br></br></p><p>Poussières-><br></br>Tâches ----><br></br>Usé -------></p></td>
							<td align="center">{{ form_widget(edit_form.maqu_rap_pinc) }}</td>
							<td align="center">{{ form_widget(edit_form.present_maqu) }}</td>
							<td align="center">{{ form_widget(edit_form.edg) }}</td>
							<td align="center">{{ form_widget(edit_form.mobilier_mobani) }}</td>
							<td align="center">{{ form_widget(edit_form.rehau_joue_gond) }}</td>
							<td align="center">{{ form_widget(edit_form.bar_beaut_nail) }}</td>
							<td align="center">{{ form_widget(edit_form.tab_bain) }}</td>
						</tr>
					</table>
					<table>
						<tr>
							<td align="center">{{ form_label(edit_form.parvis_sol_com, "Commentaires Visuel") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.parvis_sol_com) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Nettoyage Récurent
				</a>
			</div>
			<div style="height: auto;" id="collapseTwo" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>Etat:</td>
							<td>{{ form_label(edit_form.sol_surf_vente, "Sol surface de vente, tapis") }}</td>
							<td>{{ form_label(edit_form.bur_plat_tab_ecr, "Bureaux, Plateaux, Tables, Ecrans") }}</td>
							<td>{{ form_label(edit_form.corbeilles, "Corbeilles") }}</td>
							<td>{{ form_label(edit_form.wc_lav_corb, "WC, Lavabo, Corbeilles") }}</td>
							<td>{{ form_label(edit_form.miroirs_sanit, "Miroirs sanitaire") }}</td>
							<td>{{ form_label(edit_form.cuisine_siege, "Cuisine, Plan de travail, Siège") }}</td>
							<td>{{ form_label(edit_form.evier_robin, "Evier et robinetterie") }}</td>
							<td>{{ form_label(edit_form.sol_loc_soc, "Sol locaux sociaux") }}</td>
						</tr>
						<tr>
							<td align="center"><p></p><p>Propre ----><br></br>Traces ----><br></br></p><p>Poussières-><br></br>Tâches ----><br></br>Usé -------></p></td>
							<td align="center">{{ form_widget(edit_form.sol_surf_vente) }}</td>
							<td align="center">{{ form_widget(edit_form.bur_plat_tab_ecr) }}</td>
							<td align="center">{{ form_widget(edit_form.corbeilles) }}</td>
							<td align="center">{{ form_widget(edit_form.wc_lav_corb) }}</td>
							<td align="center">{{ form_widget(edit_form.miroirs_sanit) }}</td>
							<td align="center">{{ form_widget(edit_form.cuisine_siege) }}</td>
							<td align="center">{{ form_widget(edit_form.evier_robin) }}</td>
							<td align="center">{{ form_widget(edit_form.sol_loc_soc) }}</td>
						</tr>
					</table>
					<table>
						<tr>
							<td align="center">{{ form_label(edit_form.sol_surf_v_com, "Commentaires Nettoyage Récurent") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.sol_surf_v_com) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						Nettoyage de Fond
				</a>
			</div>
			<div style="height: auto;" id="collapseThree" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>Etat:</td>
							<td>{{ form_label(edit_form.sol_meca_reno, "Sol Mécanisé, Rénovation") }}</td>
							<td>{{ form_label(edit_form.vitrerie, "Vitrerie") }}</td>
							<td>{{ form_label(edit_form.caiss_nail_prof, "Caisses, Nail Bar") }}</td>
							<td>{{ form_label(edit_form.tour_ver_bout, "Tour express, Tour en verre, Boutiquette") }}</td>
							<td>{{ form_label(edit_form.line_mur, "Linéaires muraux") }}</td>
							<td>{{ form_label(edit_form.gondole_cent, "Gondoles centrale") }}</td>
						</tr>
						<tr>
							<td align="center"><p></p><p>Propre ----><br></br>Traces ----><br></br></p><p>Poussières-><br></br>Tâches ----><br></br>Usé -------></p></td>
							<td align="center">{{ form_widget(edit_form.sol_meca_reno) }}</td>
							<td align="center">{{ form_widget(edit_form.vitrerie) }}</td>
							<td align="center">{{ form_widget(edit_form.caiss_nail_prof) }}</td>
							<td align="center">{{ form_widget(edit_form.tour_ver_bout) }}</td>
							<td align="center">{{ form_widget(edit_form.line_mur) }}</td>
							<td align="center">{{ form_widget(edit_form.gondole_cent) }}</td>
						</tr>
					</table>
					<table>
						<tr>
							<td align="center">{{ form_label(edit_form.sol_mec_re_com, "Commentaires Nettoyage de Fond") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.sol_mec_re_com) }}</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		<div>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td>{{ form_label(edit_form.poin_mag, "Points avec le magasin") }}</td>
					<td>{{ form_widget(edit_form.poin_mag) }}</td>
				</tr>
				<tr>
					<td>{{ form_label(edit_form.reapro, "Réapprovisionnement") }}</td>
					<td>{{ form_widget(edit_form.reapro) }}</td>
				</tr>
				<tr>
					<td>{{ form_label(edit_form.form_po_agen, "Formation (ou point) avec les agents") }}</td>
					<td>{{ form_widget(edit_form.form_po_agen) }}</td>
				</tr>
				<tr>
					<th>{{ form_label(edit_form.trait_prio, " ") }}Traitement Prioritaire</th>
					<th>{{ form_widget(edit_form.trait_prio) }}</th>
				</tr>
			</tbody>
        </table>
		<table>
						<tr>
							<td align="center">{{ form_label(edit_form.gondole_cent_com, "Commentaires Traitement Prioritaire") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.gondole_cent_com) }}</td>
						</tr>
		</table>
		</div>
		
		
	</div>
	
	{# <div class="input-append date" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"> #}
    {# <input class="span2" size="16" type="text" value="12-02-2012"> #}
    {# <span class="add-on"><i class="icon-th"></i></span> #}
    {# </div> #}
	

	
	
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit" value="submit">Sauvegarder</button>
		
		<a class="btn btn-success" href="{{ path('audit') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> Retour à la liste
        </a>
    </p>
</form>
{% if app.user.username == "Jeff" %}
<ul class="record_actions">
    <li>
        <form action="{{ path('audit_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}