{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>Audit Qualité - {{ entity.datemaj|date('d-m-Y') }}</h4>
<p>
	
</p>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>Date de Mise a Jour:</th>
			<th>{{ entity.datemaj|date('d-m-Y') }}</th>
		</tr>
		<tr>
			<th>Nettoyage Visuel</th>
			<th>Propre</th>
			<th>Traces</th>
			<th>Poussières</th>
			<th>Tâches</th>
			<th>Usé</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <td>Parvis : sol, Montants, Vitres</td>
            <td>{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Tapis d’entrée</td>
            <td>{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Portes vitrées</td>
            <td>{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Bornes anti vol</td>
            <td>{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Miroirs, Surfaces vitrées</td>
            <td>{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Portes, Montants, Piliers</td>
            <td>{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Caisses</td>
            <td>{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Dessus et Façades de tiroirs</td>
            <td>{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Maquillage Sephora rapide (pinceau)</td>
            <td>{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Présentoirs maquillage</td>
            <td>{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>EDG</td>
            <td>{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Mobiliers mobiles animations, Meubles Alu</td>
            <td>{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Rehausses et Joues de gondoles</td>
            <td>{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Bar à beauté (MUS), Nail bar, Sièges</td>
            <td>{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Tablettes bain Sephora</td>
            <td>{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
			<th>Commentaires Nettoyage Visuel</th>
			<th>{% if entity.portesvitcom %}{{ entity.portesvitcom }}{% endif %}</th>
		</tr>
		<tr>
			<th>Nettoyage Récurent</th>
			<th>Propre</th>
			<th>Traces</th>
			<th>Poussières</th>
			<th>Tâches</th>
			<th>Usé</th>
		</tr>
		<tr>
            <td>Sol surface de vente, tapis</td>
            <td>{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Bureaux, Plateaux, Tables, Ecrans</td>
            <td>{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Corbeilles</td>
            <td>{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>WC, Lavabo, Corbeilles</td>
            <td>{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Miroirs sanitaire</td>
            <td>{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Cuisine, Plan de travail, Siège</td>
            <td>{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Evier et robinetterie</td>
            <td>{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Sol locaux sociaux</td>
            <td>{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
			<th>Commentaires Nettoyage Récurent</th>
			<th>{% if entity.solSurfVCom %}{{ entity.solSurfVCom }}{% endif %}</th>
		</tr>
		<tr>
			<th>Nettoyage de Fond</th>
			<th>Propre</th>
			<th>Traces</th>
			<th>Poussières</th>
			<th>Tâches</th>
			<th>Usé</th>
		</tr>
		<tr>
            <td>Sol Mécanisé, Rénovation</td>
            <td>{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Vitrerie</td>
            <td>{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Caisses, Nail Bar</td>
            <td>{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Tour express, Tour en verre, Boutiquette</td>
            <td>{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Linéaires muraux</td>
            <td>{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
            <td>Gondoles centrale</td>
            <td>{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Propre" %}<i class="icon-thumbs-up"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Traces" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Poussières" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Tâches" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Usé" %}<i class="icon-warning-sign"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
		<tr>
			<th>Commentaires Nettoyage de Fond</th>
			<th>{% if entity.solMecReCom %}{{ entity.solMecReCom }}{% endif %}</th>
		</tr>
    </tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>Points avec le magasin</th>
			<th>{% if entity.poinMag == 1 %}<i class="icon-ok"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>Réapprovisionnement</th>
			<th>{% if entity.reapro == 1 %}<i class="icon-ok"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>Formation (ou point) avec les agents</th>
			<th>{% if entity.formPoAgen == 1 %}<i class="icon-ok"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>Traitement Prioritaire</th>
			<th>{% if entity.traitPrio == 1 %}<i class="icon-ok"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>Commentaires Traitement Prioritaire</th>
			<th>{{ entity.gondoleCentCom }}</th>
		</tr>
	</thead>
</table>
{% if entity.nomsignaltea is none %}
<form action="{{ path('audit_updatesign', { 'id': entity.id }) }}" method="post">
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Nom-Prénom du Signataire Altéa</th>
			<th>Nom-Prénom du Signataire {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td><input size="16" type="text" value={{ app.session.get('nomUSER') ~ "-" ~ app.session.get('prenomUSER') }} name="nomsignaltea"></td>
			<td><input size="16" type="text" value={% if responsmag1.nompers %}{{ responsmag1.nompers ~ "-" ~ responsmag1.prenompers }}{% else %}""{% endif %} name="nomsignclient"></td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
				<td>
					<div class="sigPad">
						<p class="drawItDesc">Signature:</p>
							<ul class="sigNav">
								<li class="clearButton"><a href="#clear">Annuler</a></li>
							</ul>
							<div class="sig sigWrapper">
								<div class="typed"></div>
								<canvas class="pad" width="298" height="190"></canvas>
								<input type="hidden" name="output1" class="output">
							</div>
					</div>
					</td>
					<td>
					<div class="sigPad">
						<p class="drawItDesc">Signature:</p>
						<ul class="sigNav">
							<li class="clearButton"><a href="#clear">Annuler</a></li>
						</ul>
						<div class="sig sigWrapper">
							<div class="typed"></div>
							<canvas class="pad" width="298" height="190"></canvas>
							<input type="hidden" name="output2" class="output">
						</div>
					</div>
					</td>
					
		</tr>
	</thead>
</table>

<button class="btn btn-danger" type="submit">Je certifie sur l'honneur l'éxactitude des renseignements ci-dessus.</button>
</form>
{% else %}
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Nom-Prénom du Signataire Altéa</th>
			<th>Nom-Prénom du Signataire {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignclient }}</td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Signature:</th>
			<th>Signature:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/audit/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/audit/{{ entity.imgsignclient }}"></td>
		</tr>
	</thead>
</table>
{% endif %}
<ul class="record_actions">
	{% if entity.nomsignaltea is none %}
	<a href="{{ path('audit_edit', { 'id': entity.id }) }}?idMag={{idMag}}" class="btn btn-warning">
            Modifier
    </a>
	
	{% endif %}
	<a class="btn btn-success" href="{{ path('audit') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> Retour à la Liste
    </a>
    
	{% if entity.nomsignaltea is none %}
	{% else %}
	<a class="btn btn-danger" href="{{ path('audit_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank">
            <i class="icon-check icon-white"></i> Document PDF
    </a>
	{% endif %}
	{% if app.user.username == "Jeff" %}
	<p>
    <li>
        <form action="{{ path('audit_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
	</p>
	{% endif %}
</ul>
{% endblock %}