{% extends '::base.html.twig' %}
{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block head %}
<script type="text/javascript"> 
function deserrs()
{ 
return true; 
} 
window.onerror = deserrs;
</script>
{% endblock %}
{% block body %}
<script type="text/javascript">
var currentpos,timer; 
function initialize() 
{ 
timer=setInterval("scrollwindow()",10);
} 
function sc(){
clearInterval(timer); 
}
function scrollwindow() 
{ 
currentpos=document.body.scrollTop; 
window.scroll(0,++currentpos); 
if (currentpos != document.body.scrollTop) 
sc();
} 
document.onmousedown = sc;
document.ondblclick = initialize;
var tmp = "<div style=\"position:absolute; top:" + parent.offsetY + "; left:" + parent.offsetX + ";height:846px; width:1196px\">";
document.writeln(tmp);
</script>
<table border="0" height="846" width="1196">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="846" width="1196"src="{{ asset('img/bg00001.jpg') }}"/></div>
<div style="position:absolute;top:25.042;left:526.909;"><nobr>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Audit</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Qualité</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Interne</span>
</nobr></div>
<div style="position:absolute;top:45.531;left:115.763;"><nobr>
<span style="font-size:15.708;font-weight:bold;">Les</span>
<span style="font-size:15.708;font-weight:bold;">surfaces</span>
<span style="font-size:15.708;font-weight:bold;">horizontales</span>
<span style="font-size:15.708;font-weight:bold;">et</span>
<span style="font-size:15.708;font-weight:bold;">verticales</span>
<span style="font-size:15.708;font-weight:bold;">doivent</span>
<span style="font-size:15.708;font-weight:bold;">être</span>
<span style="font-size:15.708;font-weight:bold;">propres,</span>
<span style="font-size:15.708;font-weight:bold;">dépoussièrées,</span>
<span style="font-size:15.708;font-weight:bold;">sans</span>
<span style="font-size:15.708;font-weight:bold;">traces</span>
<span style="font-size:15.708;font-weight:bold;">et</span>
<span style="font-size:15.708;font-weight:bold;">sans</span>
<span style="font-size:15.708;font-weight:bold;">tâches.</span>
<span style="font-size:15.708;font-weight:bold;">Hors</span>
<span style="font-size:15.708;font-weight:bold;">traces</span>
<span style="font-size:15.708;font-weight:bold;">d'usure.</span>
<span style="font-size:15.708;font-weight:bold;">Poubelles</span>
<span style="font-size:15.708;font-weight:bold;">vide</span>
<span style="font-size:15.708;font-weight:bold;">et</span>
<span style="font-size:15.708;font-weight:bold;">propre.</span>
</nobr></div>
<div style="position:absolute;top:85.826;left:143.081;"><nobr>
<span style="font-size:15.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:15.708;font-weight:bold;">Visuel</span>
<span style="font-size:17.074;">            </span>
<span style="font-size:15.708;font-weight:bold;">Propre</span>
<span style="font-size:17.074;">    </span>
<span style="font-size:15.708;font-weight:bold;">Traces</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Poussières</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Tâches</span>
<span style="font-size:17.074;">     </span>
<span style="font-size:15.708;font-weight:bold;">Usé</span>
<span style="font-size:17.074;">                </span>
<span style="font-size:15.708;font-weight:bold;">Observations</span>
</nobr></div>
<div style="position:absolute;top:105.742;left:51.222;"><nobr>
<span style="font-size:15.708;">Parvis</span>
<span style="font-size:15.708;">:</span>
<span style="font-size:15.708;">sol,</span>
<span style="font-size:15.708;">Montants,</span>
<span style="font-size:15.708;">Vitres</span>
</nobr></div>
<div style="position:absolute;top:125.548;left:51.222;"><nobr>
<span style="font-size:15.708;">Tapis</span>
<span style="font-size:15.708;">d'entrée</span>
</nobr></div>
<div style="position:absolute;top:145.354;left:51.222;"><nobr>
<span style="font-size:15.708;">Portes</span>
<span style="font-size:15.708;">vitrées</span>
</nobr></div>
<div style="position:absolute;top:165.160;left:51.222;"><nobr>
<span style="font-size:15.708;">Bornes</span>
<span style="font-size:15.708;">anti</span>
<span style="font-size:15.708;">vol</span>
</nobr></div>
<div style="position:absolute;top:184.966;left:51.222;"><nobr>
<span style="font-size:15.708;">Miroirs,</span>
<span style="font-size:15.708;">Surfaces</span>
<span style="font-size:15.708;">vitrées</span>
</nobr></div>
<div style="position:absolute;top:204.772;left:51.222;"><nobr>
<span style="font-size:15.708;">Portes,</span>
<span style="font-size:15.708;">Montants,</span>
<span style="font-size:15.708;">Piliers</span>
</nobr></div>
<div style="position:absolute;top:224.579;left:51.222;"><nobr>
<span style="font-size:15.708;">Caisses</span>
</nobr></div>
<div style="position:absolute;top:244.726;left:51.222;"><nobr>
<span style="font-size:15.708;">Dessus</span>
<span style="font-size:15.708;">et</span>
<span style="font-size:15.708;">Façades</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">tiroirs</span>
</nobr></div>
<div style="position:absolute;top:264.532;left:51.222;"><nobr>
<span style="font-size:15.708;">Maquillage</span>
<span style="font-size:15.708;">Sephora</span>
<span style="font-size:15.708;">rapide</span>
<span style="font-size:15.708;">(pinceau)</span>
</nobr></div>
<div style="position:absolute;top:284.338;left:51.222;"><nobr>
<span style="font-size:15.708;">Présentoirs</span>
<span style="font-size:15.708;">maquillage</span>
</nobr></div>
<div style="position:absolute;top:304.144;left:51.222;"><nobr>
<span style="font-size:15.708;">EDG</span>
</nobr></div>
<div style="position:absolute;top:323.950;left:51.222;"><nobr>
<span style="font-size:15.708;">Mobiliers</span>
<span style="font-size:15.708;">mobiles</span>
<span style="font-size:15.708;">animations,</span>
<span style="font-size:15.708;">Meubles</span>
<span style="font-size:15.708;">Alu</span>
</nobr></div>
<div style="position:absolute;top:343.756;left:51.222;"><nobr>
<span style="font-size:15.708;">Rehausses</span>
<span style="font-size:15.708;">et</span>
<span style="font-size:15.708;">Joues</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">gondoles</span>
</nobr></div>
<div style="position:absolute;top:363.562;left:51.222;"><nobr>
<span style="font-size:15.708;">Bar</span>
<span style="font-size:15.708;">à</span>
<span style="font-size:15.708;">beauté</span>
<span style="font-size:15.708;">(MUS),</span>
<span style="font-size:15.708;">Nail</span>
<span style="font-size:15.708;">bar,</span>
<span style="font-size:15.708;">Sièges</span>
</nobr></div>
<div style="position:absolute;top:383.368;left:51.222;"><nobr>
<span style="font-size:15.708;">Tablettes</span>
<span style="font-size:15.708;">bain</span>
<span style="font-size:15.708;">Sephora</span>
</nobr></div>
<div style="position:absolute;top:403.064;left:133.520;"><nobr>
<span style="font-size:15.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:15.708;font-weight:bold;">Récurent</span>
<span style="font-size:17.074;">           </span>
<span style="font-size:15.708;font-weight:bold;">Propre</span>
<span style="font-size:17.074;">    </span>
<span style="font-size:15.708;font-weight:bold;">Traces</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Poussières</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Tâches</span>
<span style="font-size:17.074;">     </span>
<span style="font-size:15.708;font-weight:bold;">Usé</span>
</nobr></div>
<div style="position:absolute;top:422.980;left:51.222;"><nobr>
<span style="font-size:15.708;">Sol</span>
<span style="font-size:15.708;">surface</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">vente,</span>
<span style="font-size:15.708;">tapis</span>
</nobr></div>
<div style="position:absolute;top:442.786;left:51.222;"><nobr>
<span style="font-size:15.708;">Bureaux,</span>
<span style="font-size:15.708;">Plateaux,</span>
<span style="font-size:15.708;">Tables,</span>
<span style="font-size:15.708;">Ecrans,</span>
</nobr></div>
<div style="position:absolute;top:462.592;left:51.222;"><nobr>
<span style="font-size:15.708;">Corbeilles</span>
</nobr></div>
<div style="position:absolute;top:482.398;left:51.222;"><nobr>
<span style="font-size:15.708;">WC,</span>
<span style="font-size:15.708;">Lavabo,</span>
<span style="font-size:15.708;">Corbeilles</span>
</nobr></div>
<div style="position:absolute;top:502.204;left:51.222;"><nobr>
<span style="font-size:15.708;">Miroirs</span>
<span style="font-size:15.708;">sanitaire</span>
</nobr></div>
<div style="position:absolute;top:522.010;left:51.222;"><nobr>
<span style="font-size:15.708;">Cuisine,</span>
<span style="font-size:15.708;">Plan</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">travail,</span>
<span style="font-size:15.708;">Siège</span>
</nobr></div>
<div style="position:absolute;top:541.816;left:51.222;"><nobr>
<span style="font-size:15.708;">Evier</span>
<span style="font-size:15.708;">et</span>
<span style="font-size:15.708;">robinetterie</span>
</nobr></div>
<div style="position:absolute;top:561.622;left:51.222;"><nobr>
<span style="font-size:15.708;">Sol</span>
<span style="font-size:15.708;">locaux</span>
<span style="font-size:15.708;">sociaux</span>
</nobr></div>
<div style="position:absolute;top:581.318;left:136.935;"><nobr>
<span style="font-size:15.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:15.708;font-weight:bold;">de</span>
<span style="font-size:15.708;font-weight:bold;">Fond</span>
<span style="font-size:17.074;">           </span>
<span style="font-size:15.708;font-weight:bold;">Propre</span>
<span style="font-size:17.074;">    </span>
<span style="font-size:15.708;font-weight:bold;">Traces</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Poussières</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;font-weight:bold;">Tâches</span>
<span style="font-size:17.074;">     </span>
<span style="font-size:15.708;font-weight:bold;">Usé</span>
</nobr></div>
<div style="position:absolute;top:601.235;left:51.222;"><nobr>
<span style="font-size:15.708;">Sol</span>
<span style="font-size:15.708;">Mécanisé,</span>
<span style="font-size:15.708;">Rénovation</span>
</nobr></div>
<div style="position:absolute;top:621.041;left:51.222;"><nobr>
<span style="font-size:15.708;">Vitrerie</span>
</nobr></div>
<div style="position:absolute;top:640.847;left:51.222;"><nobr>
<span style="font-size:15.708;">Caisses,</span>
<span style="font-size:15.708;">Nail</span>
<span style="font-size:15.708;">Bar</span>
</nobr></div>
<div style="position:absolute;top:660.653;left:51.222;"><nobr>
<span style="font-size:15.708;">Tour</span>
<span style="font-size:15.708;">express,</span>
<span style="font-size:15.708;">Tour</span>
<span style="font-size:15.708;">en</span>
<span style="font-size:15.708;">verre,</span>
<span style="font-size:15.708;">Boutiquette</span>
</nobr></div>
<div style="position:absolute;top:680.459;left:51.222;"><nobr>
<span style="font-size:15.708;">Linéaires</span>
<span style="font-size:15.708;">muraux</span>
</nobr></div>
<div style="position:absolute;top:700.265;left:51.222;"><nobr>
<span style="font-size:15.708;">Gondoles</span>
<span style="font-size:15.708;">centrale</span>
</nobr></div>
<div style="position:absolute;top:719.961;left:51.222;"><nobr>
<span style="font-size:15.708;font-weight:bold;text-decoration:underline;">Site :</span><span></span>
<span style="font-size:17.074;text-decoration:underline;">                      </span><span></span>
<span style="font-size:17.074;"> </span>
<span style="font-size:15.708;font-weight:bold;">Ville</span>
<span style="font-size:15.708;font-weight:bold;">:</span>
<span style="font-size:17.074;">                   </span>
<span style="font-size:15.708;font-weight:bold;">Date</span>
<span style="font-size:15.708;font-weight:bold;">:</span>
<span style="font-size:17.074;">        </span>
<span style="font-size:15.708;font-weight:bold;">Heures</span>
<span style="font-size:15.708;font-weight:bold;">:</span>
<span style="font-size:17.074;">                 </span>
<span style="font-size:15.708;font-weight:bold;color: #ff0000;">Traitement</span>
<span style="font-size:15.708;font-weight:bold;color: #ff0000;">Prioritaire</span>
</nobr></div>
<div style="position:absolute;top:739.877;left:51.222;"><nobr>
<span style="font-size:15.708;">Nom</span>
<span style="font-size:15.708;">et</span>
<span style="font-size:15.708;">signature</span>
<span style="font-size:15.708;">Chargé</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">secteur</span>
<span style="font-size:17.074;">                 </span>
<span style="font-size:15.708;">Nom,</span>
<span style="font-size:15.708;">Signature,</span>
<span style="font-size:15.708;">Tampon</span>
<span style="font-size:15.708;">de</span>
<span style="font-size:15.708;">la</span>
<span style="font-size:15.708;">directrice</span>
<span style="font-size:17.074;">               </span>
<span style="font-size:15.708;">Points</span>
<span style="font-size:15.708;">avec</span>
<span style="font-size:15.708;">le</span>
<span style="font-size:15.708;">magasin.</span>
</nobr></div>
<div style="position:absolute;top:759.683;left:861.562;"><nobr>
<span style="font-size:15.708;">Réapprovisionnement.</span>
</nobr></div>
<div style="position:absolute;top:779.489;left:861.562;"><nobr>
<span style="font-size:15.708;">Formation</span>
<span style="font-size:15.708;">(ou</span>
<span style="font-size:15.708;">point)</span>
<span style="font-size:15.708;">avec</span>
<span style="font-size:15.708;">les</span>
<span style="font-size:15.708;">agents.</span>
</nobr></div>
<div style="position:absolute;top:799.295;left:805.218;"><nobr>
<span style="font-size:15.708;">Satisfaction</span>
<span style="font-size:15.708;font-weight:bold;">globale</span>
<span style="font-size:15.708;">client</span>
<span style="font-size:15.708;">:</span>
<span style="font-size:15.708;">Bonne</span>
<span style="font-size:17.074;">   </span>
<span style="font-size:15.708;">Mauvaise</span>
</nobr></div>
</td></tr>
</table>
</div>
{% block javascripts %}
<script type="text/javascript">
var currentZoom = parent.toolbarWin.currentZoom;
if(currentZoom != undefined)
document.body.style.zoom=currentZoom/100;
</script>
{% endblock %}
{% endblock %}