{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block pocontrqteeditpage %} 
{{ parent() }}
<h4>{% trans %}Modification Paramètre{% endtrans %} - {% trans %}Points de contrôles{% endtrans %}</h4>
<br></br>
<form action="{{ path('pocontrqte_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('pocontrqte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('pocontrqte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}