{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block pocontrqtenewpage %} 
{{ parent() }}
<h4>{% trans %}Nouveau Paramètre{% endtrans %} - {% trans %}Points de contrôles{% endtrans %}</h4>
<br></br>
<form action="{{ path('pocontrqte_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('pocontrqte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}