{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block frequencepage %}
{{ parent() }}
<h4>{% trans %}Listing des Fréquences{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable7">
    <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nom }}</td>
            <td align="center"><a href="{{ path('frequence_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<div class="container">
<form action="{{ path('frequence_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}