{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block frequenceshowpage %} 
{{ parent() }}
<h4>{% trans %}Fréquence{% endtrans %}: {{ entity.nom }}</h4>
<br></br>
<div class="container">
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <td>{{ entity.nom }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-warning" href="{{ path('frequence_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
<p>
</p>
</div>
<form action="{{ path('frequence_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">{% trans %}Supprimer{% endtrans %}</button>
 </form>
<ul class="record_actions">
    <li>
        <a href="{{ path('frequence') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
</ul>
{% endblock %}