{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Horaires{% endtrans %}</h4></div>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Jours{% endtrans %}</th>
            <td></td>
        </tr>
		<tr>
            <th>{% trans %}Lundi{% endtrans %}</th>
            <th>{% trans %}Mardi{% endtrans %}</th>
			<th>{% trans %}Mercredi{% endtrans %}</th>
			<th>{% trans %}Jeudi{% endtrans %}</th>
			<th>{% trans %}Vendredi{% endtrans %}</th>
			<th>{% trans %}Samedi{% endtrans %}</th>
			<th>{% trans %}Dimanche{% endtrans %}</th>
        </tr>
        <tr>
            <td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Lundi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
            <td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Mardi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Mercredi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Jeudi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Vendredi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Samedi" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
			<td>{% for i in 0..4 %}{% if entity.jour[i] is defined %}{% if entity.jour[i] == "Dimanche" %}<i class="icon-ok icon-green"></i>{% endif %}{% endif %}{% endfor %}</td>
        </tr>
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<tbody>
        <tr>
            <th>Hdebut</th>
            <td>{{ entity.hdebut|date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Hfin</th>
            <td>{{ entity.hfin|date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Encours</th>
            <td>{{ entity.encours }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('josemcont') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('josemcont_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('josemcont_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}