<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/custom/jquery-ui-1.8.23.custom.css') }}" type="text/css" />
		<!-- <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" /> -->
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.signaturepad.css') }}" type="text/css" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		{% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-1.8.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.23.custom.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui-sliderAccess.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<!-- <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script> -->
		<!-- <script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script> -->
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.signaturepad.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/json2.min.js') }}"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('js/flashcanvas.js') }}"></script><![endif]-->
		<script type="text/javascript">
			
			$(function(){
				$('#tabs').tabs();
		
				$('.example-container > pre').each(function(i){
					eval($(this).text());
				});
			});
			
		</script>
		<script>
			$(document).ready(function() {
			$("#datepicker").datepicker();
			});
			$('#basic_example_1').datetimepicker();
		</script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample2").tablesorter({ sortList: [[0,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker2").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker3").datepicker()
		});
		</script>
		<script >
		$(function() {
		$('#slider_example_3').datetpicker()
		});
		</script>
		<script type="text/javascript">
		$(function() {
		$('#datetime2').datepicker({
		duration: '',
        showTime: true,
        constrainInput: false
		});
		});
		</script>
		<SCRIPT language="JavaScript">
		function Lien() {
		i = document.Choix.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<script>
			var options = {
				drawOnly : true,
				penWidth : 1,
			};
			$(document).ready(function() {
			$('.sigPad').signaturePad(options);
			});
		</script>
		{% endblock %}
    </body>
</html>
