{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcpteshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Grand Compte{% endtrans %} {{ entity.Nom }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Département{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						{% for departement in entity.departements %}
						<tr>
							<td align="center">{{ departement.nom }}</td>
						</tr>
						{% endfor %}
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Nom{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{ entity.Nom }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Adresse 1{% endtrans %}</th>
							<th>{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adres1 }}</td>
							<td align="center">{{ entity.adres2 }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Code Postal{% endtrans %}</th>
							<th>{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.cp }}</td>
							<td align="center">{{ entity.ville }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Téléphone{% endtrans %}</th>
							<th>{% trans %}Fax{% endtrans %}</th>
							<th>{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel }}</td>
							<td align="center">{{ entity.fax }}</td>
							<td align="center">{{ entity.mail }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Acheteur{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{% trans %}Nom{% endtrans %}: {{ entity.achcivil }} {{ entity.prenach }} {{ entity.acheteur }}</td>
							
						</tr>
						<tr>
							<td align="center">{% trans %}Tel{% endtrans %}: {{ entity.achtel }}</td>
							<td align="center">{% trans %}Mail{% endtrans %}: {{ entity.achmail }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{% trans %}Nbr d'agences{% endtrans %}: {{ entity.nbragences }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Documents{% endtrans %} (pdf)</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{% trans %}Cahier des Charges{% endtrans %}: {% if entity.cdcpdf %}<a href="{{ asset('upload/desk/grdcpte/cdc/' ~ entity.id ~'/' ~ entity.cdcpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
							<td align="center">{% trans %}Carnet de Bord{% endtrans %}: {% if entity.cdbpdf %}<a href="{{ asset('upload/desk/grdcpte/cdb/' ~ entity.id ~'/' ~ entity.cdbpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
						</tr>
						<tr>
							<td align="center">{% trans %}Contrat{% endtrans %}: {% if entity.contratpdf %}<a href="{{ asset('upload/desk/grdcpte/contrat/' ~ entity.id ~'/' ~ entity.contratpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
							<td align="center">{% trans %}Plan de Prévention{% endtrans %}: {% if entity.planprevpdf %}<a href="{{ asset('upload/desk/grdcpte/planprev/' ~ entity.id ~'/' ~ entity.planprevpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
						</tr>
						</tbody>
</table>
<p>
<form action="{{ path('grdcpte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">{% trans %}Supprimer{% endtrans %}</button>
</form>
</p>
<p>
<a class="btn btn-warning" href="{{ path('grdcpte_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('grdcpte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}