{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block progaffectpage %} 
{{ parent() }}
<h4>Listing des Affectations</h4>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id_agent</th>
            <th>Id_lieux</th>
            <th>Joursem</th>
            <th>Heurearrive</th>
            <th>Heuresortie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('progaffect_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.idagent }}</td>
            <td>{{ entity.idlieux }}</td>
            <td>{{ entity.joursem }}</td>
            <td>{{ entity.heurearrive }}</td>
            <td>{{ entity.heuresortie }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('progaffect_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('progaffect_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('progaffect_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}