<h1>{% trans %}forminfo list{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Prenom{% endtrans %}</th>
            <th>{% trans %}Adressse1{% endtrans %}</th>
            <th>{% trans %}Adresse2{% endtrans %}</th>
            <th>{% trans %}Codepostal{% endtrans %}</th>
            <th>{% trans %}Ville{% endtrans %}</th>
            <th>{% trans %}Nationa{% endtrans %}</th>
            <th>{% trans %}Ressortce{% endtrans %}</th>
            <th>{% trans %}Carteident{% endtrans %}</th>
            <th>{% trans %}Delivrpar{% endtrans %}</th>
            <th>{% trans %}Titresejour{% endtrans %}</th>
            <th>{% trans %}Datevalide{% endtrans %}</th>
            <th>{% trans %}Autotravil{% endtrans %}</th>
            <th>{% trans %}Delivattrav{% endtrans %}</th>
            <th>{% trans %}Notrepresent{% endtrans %}</th>
            <th>{% trans %}Notepres{% endtrans %}</th>
            <th>{% trans %}Noteeloc{% endtrans %}</th>
            <th>{% trans %}Notedynam{% endtrans %}</th>
            <th>{% trans %}Noteanaly{% endtrans %}</th>
            <th>{% trans %}Noteorga{% endtrans %}</th>
            <th>{% trans %}Noteexp{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('forminfo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.adressse1 }}</td>
            <td>{{ entity.adresse2 }}</td>
            <td>{{ entity.codepostal }}</td>
            <td>{{ entity.ville }}</td>
            <td>{{ entity.nationa }}</td>
            <td>{{ entity.ressortce }}</td>
            <td>{{ entity.carteident }}</td>
            <td>{{ entity.delivrpar }}</td>
            <td>{{ entity.titresejour }}</td>
            <td>{% if entity.datevalide %}{{ entity.datevalide|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.autotravil }}</td>
            <td>{{ entity.delivattrav }}</td>
            <td>{{ entity.notrepresent }}</td>
            <td>{{ entity.notepres }}</td>
            <td>{{ entity.noteeloc }}</td>
            <td>{{ entity.notedynam }}</td>
            <td>{{ entity.noteanaly }}</td>
            <td>{{ entity.noteorga }}</td>
            <td>{{ entity.noteexp }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('forminfo_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('forminfo_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('forminfo_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
