{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block contenumagpage %} 
{{ parent() }}
<h4>{% trans %}Site{% endtrans %} {{ lieux.codag }}</h4>
<p></p>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Matricule{% endtrans %}</th>
			<td>{{ lieux.MATRICULELIEUX }}</td>	
		</tr>
		<tr>
			<th>{% trans %}Code Agence{% endtrans %}</th>
			<td>{{ lieux.codag }}</td>
		</tr>
		<tr>
			<th>{% trans %}Date Ouverture du site{% endtrans %}</th>
			<td>{{ lieux.DATEOUV|date('d - m - Y') }}</td>
		</tr>
		<tr>
			<th>{% trans %}Date Fermeture du site{% endtrans %}</th>
			<td>{% if  lieux.DATEFER|date('Ymd') > "19000101"|date('Ymd') %}{{ lieux.DATEFER|date('d - m - Y') }}{% else %}-{% endif %}</td>
		</tr>
	</thead>
</table>
<pre>
{% trans %}Adresse{% endtrans %}:
{{ lieux.ADRUELIEUX }}
{{ lieux.CPVILLE }} {{ lieux.NOMVILLE }}
{% trans %}Tel{% endtrans %}: {{site.telsite}} - {% trans %}Fax{% endtrans %}: {{site.faxsite}} - {% trans %}Email{% endtrans %}: {{site.emailsite}}
</pre>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td>{% trans %}Centre Commercial{% endtrans %}: {% if site.CENTRECOMMERCIAL == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
			<td>{% trans %}Centre Ville{% endtrans %}: {% if site.CENTREVILLE == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>	
			<td>{% trans %}Zone Industrielle{% endtrans %}: {% if site.ZONE == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
		</tr>
		<tr>
			<td>{% trans %}Facilité d'accès{% endtrans %}: {% if lieux.FACILITEDACCES == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
			<td>{% trans %}Cahier de Liaison{% endtrans %}: {% if lieux.CAHIER == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
			<td>{% trans %}Nb d'agents{% endtrans %}: {{lieux.NBFM}}</td>
		</tr>
		<tr>			
			<td>{% trans %}Nb de permanent{% endtrans %}: {{site.NBPERMANENT}}</td>
			<td>{% trans %}Nb de sanitaires{% endtrans %}: {{site.NBSANITAIRE}}</td>
			<td>{% trans %}Surface magasin en M2{% endtrans %}: {{site.SURFACEMAG}}</td>
		</tr>
		<tr>			
			<td>{% trans %}Fourniture Consommables{% endtrans %}: {% if site.FOURNITURECONSO == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
			<td>{% trans %}Surface Back Office en M2{% endtrans %}: {{site.SURFACEBO}}</td>
			<td></td>			
		</tr>
		<tr>
			<td>{% trans %}Surf. tapis en M2{% endtrans %}: {{site.SURFACETAPIS}}</td>
			<td>{% trans %}Vitrage intérieur{% endtrans %}: {{site.VITRAGEINT}}</td>
			<td>{% trans %}Vitrage extérieur{% endtrans %}: {{site.VITRAGEEXT}}</td>
		</tr>
		<tr>
			<td>{% trans %}Nb d'enseignes{% endtrans %}: {{site.NOMBREENSEIGNE}}</td>
			<td>{% trans %}Longueur Enseignes en mètre{% endtrans %}: {{site.LONGUEURENSEIGNE}}</td>
			<td></td>
		</tr>
		<tr>
			<td>{% trans %}Hauteur vitre en mètre{% endtrans %}: {{site.HAUTVIT}}</td>
			<td>{% trans %}Superficie Vitre en m2{% endtrans %}: {{site.SURFACEVITRE}}</td>
			<td>{% trans %}Superficie miroirs en m2{% endtrans %}: {{site.SUPMIROIR}}</td>
		</tr>
		<tr>
			<td>{% trans %}Intervenant vitrage{% endtrans %}: {{site.vitpresta}}</td>
			<td>{% trans %}Type de Sol{% endtrans %}: {{site.solbrille}}</td>
			<td>{% trans %}Date Vitrage{% endtrans %}:{% if site.datevit %}{{site.datevit|date('d-m-Y')}}{% else %} - {% endif %}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Particularité vitrage{% endtrans %}: </th>
		</tr>
		<tr>
			<td>{{site.PARTVIT}}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Commentaires{% endtrans %}: </th>
		</tr>
		<tr>
			<td>{{lieux.COMMENTAIRE}}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Observations sur le site{% endtrans %}: </th>
		</tr>
		<tr>
			<td>{{site.obssite}}</td>
		</tr>
	</thead>
</table>
{% endblock %}