{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block contenumagpage %} 
{{ parent() }}
<h4>{% trans %}Site{% endtrans %} {{ lieux.codag }}</h4>
<p></p>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Matricule{% endtrans %}</th>
			<td>{{ lieux.MATRICULELIEUX }}</td>	
		</tr>
		<tr>
			<th>{% trans %}Code Agence{% endtrans %}</th>
			<td>{{ lieux.codag }}</td>
		</tr>
		<tr>
			<th>{% trans %}Date Ouverture du site{% endtrans %}</th>
			<td>{{ lieux.DATEOUV|date('d - m - Y') }}</td>
		</tr>
		<tr>
			<th>{% trans %}Date Fermeture du site{% endtrans %}</th>
			<td>{% if  lieux.DATEFER|date('Ymd') > "19000101"|date('Ymd') %}{{ lieux.DATEFER|date('d - m - Y') }}{% else %}-{% endif %}</td>
		</tr>
	</thead>
</table>
<pre>
{% trans %}Adresse{% endtrans %}:
{{ lieux.ADRUELIEUX }}
{{ lieux.CPVILLE }} {{ lieux.NOMVILLE }}
{% trans %}Tel{% endtrans %}: {{site.telsite}} - {% trans %}Fax{% endtrans %}: {{site.faxsite}} - {% trans %}Email{% endtrans %}: {{site.emailsite}}
</pre>
<form action="{{ path('PhareosNomadeNetServiceBundle_homemagupdatefiche', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td>{% trans %}Centre Commercial{% endtrans %}: {{ form_widget(edit_form.CENTRECOMMERCIAL) }}</td>
			<td>{% trans %}Centre Ville{% endtrans %}: {{ form_widget(edit_form.CENTREVILLE) }}</td>	
			<td>{% trans %}one Industrielle{% endtrans %}: {{ form_widget(edit_form.ZONE) }}</td>
		</tr>
		<tr>			
			<td>{% trans %}Nb de permanent{% endtrans %}: {{ form_widget(edit_form.NBPERMANENT) }}</td>
			<td>{% trans %}Nb de sanitaires{% endtrans %}: {{ form_widget(edit_form.NBSANITAIRE) }}</td>
			<td>{% trans %}Surf. magasin en m2{% endtrans %}: {{ form_widget(edit_form.SURFACEMAG) }}</td>
		</tr>
		<tr>			
			<td>{% trans %}Fourniture Consommables{% endtrans %}: {{ form_widget(edit_form.FOURNITURECONSO) }}</td>
			<td>{% trans %}Surface Back Office en m2{% endtrans %}: {{ form_widget(edit_form.SURFACEBO) }}</td>
			<td></td>			
		</tr>
		<tr>
			<td>{% trans %}Surf. tapis en m2{% endtrans %}: {{ form_widget(edit_form.SURFACETAPIS) }}</td>
			<td>{% trans %}Vitrage intérieur{% endtrans %}: {{ form_widget(edit_form.VITRAGEINT) }}</td>
			<td>{% trans %}Vitrage extérieur{% endtrans %}: {{ form_widget(edit_form.VITRAGEEXT) }}</td>
		</tr>
		<tr>
			<td>{% trans %}Nb d'enseignes{% endtrans %}: {{ form_widget(edit_form.NOMBREENSEIGNE) }}</td>
			<td>{% trans %}Longueur Enseignes en Mètre{% endtrans %}: {{ form_widget(edit_form.LONGUEURENSEIGNE) }}</td>
			<td></td>
		</tr>
		<tr>
			<td>{% trans %}Hauteur vitre en mètre{% endtrans %}: {{ form_widget(edit_form.HAUTVIT) }}</td>
			<td>{% trans %}Surface Vitre en m2{% endtrans %}: {{ form_widget(edit_form.SURFACEVITRE) }}</td>
			<td>{% trans %}Superficie miroirs en m2{% endtrans %}: {{ form_widget(edit_form.SUPMIROIR) }}</td>
		</tr>
		<tr>
			<td>{% trans %}Intervenant vitrage{% endtrans %}: {{ form_widget(edit_form.vitpresta) }}</td>
			<td>{% trans %}Type de Sol{% endtrans %}: {{ form_widget(edit_form.solbrille) }}</td>
			<td>
	<div><strong>{% trans %}Date du vitrage{% endtrans %}:</strong></div>
	<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datevit">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Particularité vitrage{% endtrans %}: </th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.PARTVIT) }}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Observations sur le site{% endtrans %}: </th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.obssite) }}</td>
		</tr>
	</thead>
</table>
{{ form_rest(edit_form) }}
<p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>
{% endblock %}