{% extends '::base.html.twig' %}

{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block body %}
{% block magselectpage %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">Altea Nomade</a></li>
                  	</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
                    	<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    
                </div>
            </div>
		</div>
	</div>
<div class="container">
    


	<div>
    	<div class="page-header"><h6>Selectionner un compte client:</h6></div>
    
	</div>
			<div>
				<FORM NAME="Choix">
					<SELECT NAME="Liste" onChange="Lien(this.form)">
						<OPTION VALUE="">Choisir un compte
						{% for gc in listeGC %}
						<OPTION VALUE="{{ path('PhareosNomadeNetServiceBundle_homemagselect', { 'idMagSelect': gc.id }) }}">{{gc.NOMGC}}
						{% endfor %}
					</SELECT>
				</FORM>
			</div>
   
    <div>
    	
    </div>

</div>






{% endblock %}
<br></br>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/prettyCheckboxes.js') }}" charset="utf-8"></script>
<script>
$(document).ready(function(){
	$('input[type=checkbox],input[type=radio]').prettyCheckboxes({
		checkboxWidth: 34, // The width of your custom checkbox
		checkboxHeight: 34, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'list' // The style you want it to be display (inline or list)
	});
});
</script>
<script>
$(document).ready(function(){
	$('input[type=checkbox2],input[type=radio2]').prettyCheckboxes({
		checkboxWidth: 34, // The width of your custom checkbox
		checkboxHeight: 34, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'list' // The style you want it to be display (inline or list)
	});
});
</script>
{% endblock %}

