{% extends 'PhareosNomadeNetServiceBundle::default_layout.html.twig' %}
{% block magselectpage %}
{% block mag %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">{% trans %}Altea Nomade{% endtrans %}</a></li>
                  	</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Connexion{% endtrans %}: {{ app.user.username }}</a></li>
                    	<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> {% trans %}Déconnexion{% endtrans %}</a></li>
                    </ul>
                    
                </div>
            </div>
		</div>
	</div>
<div class="container">
    
	
	<div>
    	<div class="page-header"><h6>{% trans %}Vôtre secteur{% endtrans %}:</h6></div>
    
	</div>
			<div>
				<FORM NAME="Choix2">
					<SELECT NAME="Liste" onChange="Lien2(this.form)">
						<OPTION VALUE="">{% trans %}Choisir un magasin{% endtrans %}
						{% for lieu in lieuxvillespec %}
						<OPTION VALUE="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.nomville}} -> {{lieu.adruelieux}}
						{% endfor %}
					</SELECT>
				</FORM>
			</div>
			
	<div>
    	<div class="page-header"><h6>{% trans %}Tous les magasins{% endtrans %}:</h6></div>
    
	</div>
			<div>
				<FORM NAME="Choix">
					<SELECT NAME="Liste" onChange="Lien(this.form)">
						<OPTION VALUE="">{% trans %}Choisir un magasin{% endtrans %}
						{% for lieu in lieuxville %}
						<OPTION VALUE="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.nomville}} -> {{lieu.adruelieux}}
						{% endfor %}
					</SELECT>
				</FORM>
			</div>
			
			
   
    <div>
    	
    </div>

</div>





{% endblock %}
{% endblock %}