{% extends 'PhareosNomadeNetServiceBundle::default_layout.html.twig' %}
{% block magselectpage %}
{% block mag %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">Altea Nomade</a></li>
                  	</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
                    	<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    
                </div>
            </div>
		</div>
	</div>
<div class="container">
    


	<div>
    	<div class="page-header"><h6>Selectionner - Ville - Magasin:</h6></div>
    
	</div>
			<div>
				<FORM NAME="Choix">
					<SELECT NAME="Liste" onChange="Lien(this.form)">
						<OPTION VALUE="">Choisir une option
						{% for lieu in lieuxville %}
						<OPTION VALUE="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.nomville}} -> {{lieu.adruelieux}}
						{% endfor %}
					</SELECT>
				</FORM>
			</div>
			
			<div class="control-group">
            <label class="control-label" for="select01">Select list</label>
            <div class="controls">
              <select id="select01">
			   {% for lieu in lieuxville %}
                <option>{{lieu.nomville}} -> {{lieu.adruelieux}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
   
    <div>
    	<div class="spanscroll" align="center">
		
			
    
    		<table class="table table-striped table-condensed" id="sortTableExample">
    			<thead>
        			<tr>
            			<th>Compte</th>
						<th class="red">Code Agence</th>
            			<th class="yellow">Adresse</th>
            			<th class="blue">CP</th>
						<th class="green">Ville</th>
            		</tr>
        		</thead>
       		 	<tbody>
					{% for lieu in lieuxville %}
					<tr>
            			<td>SEPHORA</td>
						<td><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.codag}}</td>
                		<td><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.adruelieux}}</td>
                		<td><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.cpville}}</td>
						<td><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': lieu.id }) }}">{{lieu.nomville}}</td>
            		</tr>
					{% endfor %}
        		</tbody>
    		</table>
    
    	</div>
    </div>

</div>



<div class="container">
			<div class="page-header"><h6><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': 5 }) }}">Lien vers le mag d'id 5</a></h6></div>
</div>

{% endblock %}
{% endblock %}