{% extends '::base.html.twig' %}

{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
<SCRIPT language="JavaScript">
function Lien() {
	i = document.Choix.Liste.selectedIndex;
	if (i == 0) return;
    url = document.Choix.Liste.options[i].value;
	parent.location.href = url;
}
</SCRIPT>
{% endblock %}
{% block body %}
{% block magselectpage %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">Altea Nomade</a></li>
                  	</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
                    	<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    
                </div>
            </div>
		</div>
	</div>
<div class="container">
    


	<div>
    	<div class="page-header"><h6>Selectionner - Ville - Magasin:</h6></div>
    
	</div>
			<div>
				<FORM NAME="Choix">
					<SELECT NAME="Liste" onChange="Lien(this.form)">
						<OPTION VALUE="">Choisir une option
						{% for gc in listeGC %}
						<OPTION VALUE="{{ path('PhareosNomadeNetServiceBundle_homemagselect', { 'idMagSelect': gc.id }) }}">{{gc.NOMGC}}
						{% endfor %}
					</SELECT>
				</FORM>
			</div>
   
    <div>
    	<div class="spanscroll" align="center">
		
			
    
    		<table class="table table-striped table-condensed" id="sortTableExample">
    			<thead>
        			<tr>
            			<th>Compte</th>
						<th class="red">Code Agence</th>
            			<th class="yellow">Adresse</th>
            			<th class="blue">CP</th>
						<th class="green">Ville</th>
            		</tr>
        		</thead>
       		 	<tbody>
					{% for gc in listeGC %}
					<tr>
						<td><a href="{{ path('PhareosNomadeNetServiceBundle_homemagselect', { 'idMagSelect': gc.id }) }}">{{gc.NOMGC}}</a></td>
            		</tr>
					{% endfor %}
        		</tbody>
    		</table>
    
    	</div>
    </div>

</div>



<div class="container">
			<div class="page-header"><h6><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': 5 }) }}">Lien vers le mag d'id 5</a></h6></div>
</div>


{% endblock %}
<br></br>
Pieds de page layout default nomade
{% endblock %}


