{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block showlastauditpage %} 
{{ parent() }}
<center><h3>SITE {{ lieux.codag }} - <font color="firebrick">{{lieux.nomville}}</font> - {{lieux.adruelieux}}</h3></center>
<div class="page-header"></div>
{% if entity %}
<h4>Dernier Audit Qualité du {{ entity.datemaj|date('d-m-Y') }}</h4>
<p>
	
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable16">
	<thead>
		<th>{% trans %}Fonction{% endtrans %}</th>
		<th>{% trans %}Nomenclature{% endtrans %}</th>
		<th>{% trans %}Propre{% endtrans %}</th>
		<th>{% trans %}Traces{% endtrans %}</th>
		<th>{% trans %}Poussières{% endtrans %}</th>
		<th>{% trans %}Tâches{% endtrans %}</th>
		<th>{% trans %}Usé{% endtrans %}</th>
		<th>{% trans %}Commentaires{% endtrans %}</th>
	</thead>
	<tbody>
		{% for tache in taches %}
		<tr>
			<td>{{ tache.fonction.nom }}</td>
			<td>{{ tache.tache }}</td>
			{% for audtprog in audtprogs %}
			{% if audtprog.tachesprogmag == tache %}
			<td align="center">{% if audtprog.propre == 1 %}<i class="icon-ok icon-green"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.traces == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.poussiere == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.tache == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.fatuse == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{{ audtprog.com }}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>{% trans %}Bon de vitrage{% endtrans %} {% if entity.filebv1 %}<i class="icon-ok icon-green"></i>{% endif %}</th>
			<th>{% if entity.filebv1 %}<a href="{{ asset('upload/nomade/audit/bonvitrage/' ~ entity.id ~'/' ~ entity.filebv1)}}" target="_blank">Télécharger <i class="icon-download icon-green"></i></a>{% else %}-{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Date Vitrage{% endtrans %}:{% if site.datevit %}{{site.datevit|date('d-m-Y')}}{% else %} - {% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Carnet de Bord{% endtrans %} {% if entity.carnetbord == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>{% trans %}Materiel en panne{% endtrans %} {% if entity.matenpanne == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th>{% if entity.matenpanne == 1 %}{{ entity.prodmag.nom }}{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Traitement Prioritaire {% endtrans %}{% if entity.traitPrio == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>{% trans %}Commentaires Traitement Prioritaire{% endtrans %}</th>
			<th>{{ entity.traitPrioCom }}</th>
		</tr>
	</thead>
</table>
{% if entity.nomsignaltea is none %}
<form action="{{ path('audtech_updatesign', { 'id': entity.id }) }}" method="post">
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable et signature:{% endtrans %}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Signature impossible Directrice indisponible ?:{% endtrans %} <p><SELECT name="dispodir">
																			<OPTION VALUE=0>{% trans %}Signature en cours...{% endtrans %}</OPTION>
																			<OPTION VALUE=1>{% trans %}Directrice Indisponible{% endtrans %}</OPTION>
																		</SELECT>
																		</p>
				</td>
				<td>{% trans %}Point avec {% endtrans %}?: <p><SELECT name="pointdirres">
										<OPTION VALUE="Responsable">{% trans %}Responsable{% endtrans %}</OPTION>
										<OPTION VALUE="Direction">{% trans %}Direction{% endtrans %}</OPTION>
									</SELECT>
									</p>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec l'agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: <p><SELECT name="pointagent">
										<OPTION VALUE="Sur site">{% trans %}Sur site{% endtrans %}</OPTION>
										<OPTION VALUE="Téléphone">{% trans %}Téléphone{% endtrans %}</OPTION>
										<OPTION VALUE="Message dans le cahier">{% trans %}Message dans le cahier{% endtrans %}</OPTION>
									</SELECT>
									</p>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('societeUSER') }}</th>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td><input size="16" type="text" value={{ app.session.get('nomUSER') ~ "-" ~ app.session.get('prenomUSER') }} name="nomsignaltea"></td>
			<td><input size="16" type="text" value={% if responsmag1.nompers %}{{ responsmag1.nompers ~ "-" ~ responsmag1.prenompers }}{% else %}""{% endif %} name="nomsignclient"></td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
				<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
							<ul class="sigNav">
								<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
							</ul>
							<div class="sig sigWrapper">
								<div class="typed"></div>
								<canvas class="pad" width="298" height="190"></canvas>
								<input type="hidden" name="output1" class="output">
							</div>
					</div>
					</td>
					<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
						<ul class="sigNav">
							<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
						</ul>
						<div class="sig sigWrapper">
							<div class="typed"></div>
							<canvas class="pad" width="298" height="190"></canvas>
							<input type="hidden" name="output2" class="output">
						</div>
					</div>
					</td>
					
		</tr>
	</thead>
</table>

<button class="btn btn-danger" type="submit">{% trans %}Je certifie sur l'honneur l'éxactitude des renseignements ci-dessus{% endtrans %}.</button>
</form>
{% else %}
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% if entity.pointdirres %}{% trans %}Point avec la{% endtrans %} {{ entity.pointdirres }}{% endif %}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: {{ entity.pointagent }}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire {% endtrans %}{{ app.session.get('societeUSER') }}</th>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignclient }}</td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Signature{% endtrans %}:</th>
			<th>{% trans %}Signature{% endtrans %}:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/audtech/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/audtech/{{ entity.imgsignclient }}"></td>
		</tr>
	</thead>
</table>
{% endif %}
{% endif %}
<div class="page-header"></div>
<center><h4>{% trans %}Dernier audit global{% endtrans %}</h4></center>
<p>
</p>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>{% trans %}Date de Réunion:{% endtrans %}</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
			<th><i class="icon-file"></i> {% trans %}PDF{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities2 %}
        {% if loop.first %}
		<tr>
			<td>{% if entity.datereunion %}{{ entity.datereunion|date('d-m-Y') }}{% endif %}</td>
            <td><a href="{{ path('auditmensuel_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td>{% if entity.nomsignaltea is none %}<a href="{{ path('auditmensuel_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a>{% else %}<i class="icon-ban-circle">{% endif %}</td>
			<td>{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('auditmensuel_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
		{% endif %}
    {% endfor %}
    </tbody>
</table>
<div class="page-header"></div>
<center><h4>{% trans %}Recadrage{% endtrans %}</h4></center>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable7">
    <thead>
        <tr>
            <th>{% trans %}Date Recadrage{% endtrans %}</th>
			<th>{% trans %}Agent{% endtrans %}</th>
			<th>{% trans %}Objectif{% endtrans %}</th>
			<th>{% trans %}Date Objectif{% endtrans %}</th>
            <th>{% trans %}A atteindre{% endtrans %}</th>
            <th>{% trans %}Atteint{% endtrans %}</th>
			<th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesrecadrage %}
        <tr>
            <td align="center">{% if entity.daterecad %}{{ entity.daterecad|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.agent.nompers }} {{ entity.agent.prenompers }}</td>
			<td>{{ entity.objectcom }}</td>
			<td align="center">{% if entity.dateobj %}{{ entity.dateobj|date('d-m-Y') }}{% endif %}</td>
            <td align="center">{% if entity.object == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</td>
            <td align="center">{% if entity.objatt == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</td>
			<td align="center"><a href="{{ path('recadrage_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('recadrage_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<a class="btn btn-primary" href="{{ path('recadrage_new') }}?idMag={{idMag}}">
            {% trans %}Nouveau recadrage{% endtrans %}
</a>

{% endblock %}