{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block frequenceshowpage %} 
{{ parent() }}
<h4>{% trans %}Fréquence{% endtrans %}: {{ entity.nom }}</h4>
<br></br>
<div class="container">
<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <td>{{ entity.nom }}</td>
        </tr>
		<tr>
            <th>{% trans %}Nom Afficher{% endtrans %}</th>
            <td>{{ entity.nomafficher }}</td>
        </tr>
    </tbody>
</table>
<div>
<ul class="record_actions">
    <li>
        <a href="{{ path('fonction') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('fonction_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('fonction_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}