{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block agentspage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Listing des Agents</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Véhicule</th>
            <th>Permis</th>
            <th>Tel Fixe</th>
            <th>Mobile</th>
            <th>Email</th>
			<th>Cp</th>
            <th>Ville</th>
            <th>Voir</th>
			<th>Modif</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nompers }}</td>
            <td>{{ entity.prenompers }}</td>
            <td>{{ entity.vehicule }}</td>
            <td>{{ entity.permis }}</td>
            <td>{{ entity.telfixpers }}</td>
            <td>{{ entity.telportpers }}</td>
            <td>{{ entity.emailpers }}</td>
			<td>{{ entity.cp }}</td>
            <td>{{ entity.ville }}</td>
            <td align="center"><a href="{{ path('agents_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('agents_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('agents_new') }}">
            Nouvel Agent
        </a>
</ul>
</p>
{% endblock %}