{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tacheseditpage %} 
{{ parent() }}
<h4>{% trans %}Modification de la Tâche{% endtrans %} </h4>
<br></br>
<form action="{{ path('tachesprog_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tachesprog') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}