{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesnewpage %} 
{{ parent() }}
<h4>{% trans %}Nouvel Taches - cahier des charges{% endtrans %}</h4>
<br></br>
<form action="{{ path('tachesprog_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Ajout d'une tâche suivant cahier des charges{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom de la tâche{% endtrans %}: <p>{{ form_widget(form.tache) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Durée moyenne{% endtrans %}: <p>{{ form_widget(form.duree) }}</p></td>
			</tr>
		</tbody>
	</table>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tachesprog') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}