{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesviewpage %} 
{{ parent() }}
<h4>{% trans %}Tâche{% endtrans %} {{ entity.tache }}</h4>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tache{% endtrans %}</th>
            <td>{{ entity.tache }}</td>
        </tr>
        <tr>
            <th>{% trans %}Duree{% endtrans %}</th>
            <td>{{ entity.duree|date('H:i') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nomgc{% endtrans %}</th>
            <td>{{ entity.nomgc }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <p>
        <a class="btn btn-success" href="{{ path('tachesprog_new') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </p>
</ul>
{% endblock %}