{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditmensueleditpage %} 
{{ parent() }}
<h4>Modification d'un audit global</h4>

<form action="{{ path('auditmensuel_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>Point de vente</td>
				<td>Date Réunion</td>
				<td>Heure Réunion</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value="{{ poinvente }}" name="ptvente"></td>
				<td><div class="input-append date" id="datepicker2" data-date={% if entity.datereunion %}{{ entity.datereunion|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.datereunion %}{{ entity.datereunion|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datereunion">
				<span class="add-on"><i class="icon-th"></i></span></td>
				<td>
				<div class="well">
                <input class="timepicker-3" type="text" value={{ entity.dateprochre|date('H:i') }} style="width: 75px; height: 20px" name="heurereunion" />
                <i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
				</div>
			</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Participants:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Reponsable Secteur Altéa: <p><input size="16" type="text" value="{{ respSecteur }}" name="responsecteur"></p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Contrôle Administratif:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Les récépissés DUE des agents ont-elles bien été transmises ?: <p>{{ form_widget(edit_form.recepagent) }}</td>
				<td>Les agents portent-ils bien leur tenue de travail ?: <p>{{ form_widget(edit_form.tenutrav) }}</td>
			</tr>
			<tr>
				<td>Le 3620 (pointage virtuel) est-il fait quotidiennement par les agents ?: <p>{{ form_widget(edit_form.pointagev) }}</td>
				<td>Des problèmes de retard ou d'absences sont-ils signalés ?: <p>{{ form_widget(edit_form.absence) }}</p></td>
			</tr>
			<tr>
				<td>Ces absences ont-elles été remplacés / rattrapés ?: <p>{{ form_widget(edit_form.absrempl) }}</p></td>
				<td>Le planning est-il respecté par les agents ?: <p>{{ form_widget(edit_form.planrespect) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Contrôle Qualité:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>La qualité du service rendu est-elle satisafaisante ?:</th>
				<td></td>
			</tr>
			<tr>
				<td>Pour les tâches quotidiennes:<p>{{ form_widget(edit_form.qualitserv) }}</p></td>
				<td>Pour les rotation de fond:<p>{{ form_widget(edit_form.qualitrotf) }}</p></td>
			</tr>
			<tr>
				<td>Pour les sols:<p>{{ form_widget(edit_form.qualitsol) }}</p></td>
				<td>Observations sur la qualité du magasin: <p>{{ form_widget(edit_form.observqual) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Evolution de la prestation:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Depuis le mois dernier, Altéa Propreté a-t-il mené les actions correctrices nécessaires ?: <p>{{ form_widget(edit_form.corection) }}</p></td>
				<td>Comment le magasin juge-t-il l'évolution de la prestation de service ?: <p>{{ form_widget(edit_form.evolprest) }}</p></td>
			</tr>
			<tr>
				<td><p>{{ form_widget(edit_form.corectionras) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>Précision: <p>{{ form_widget(edit_form.observevol) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Point avec Directrice ou Responsable et signature:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Signature impossible Directrice indisponible ?: <p>{{ form_widget(edit_form.dispodir) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Point avec Agent:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Type de contact: <p><SELECT name="pointagent">
										<OPTION VALUE="Sur site">Sur site</OPTION>
										<OPTION VALUE="Téléphone">Téléphone</OPTION>
										<OPTION VALUE="Message dans le cahier">Message dans le cahier</OPTION>
									</SELECT>
									</p>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Date de la prochaine réunion:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="input-append date" id="datepicker3" data-date={% if entity.dateprochre %}{{ entity.dateprochre|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.dateprochre %}{{ entity.dateprochre|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateprochre">
				<span class="add-on"><i class="icon-th"></i></span></td>
				<td>
				<div class="well">
                <input class="timepicker-4" type="text" value={{ entity.dateprochre|date('H:i') }} style="width: 75px; height: 20px" name="heureprochre" />
                <i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary type="submit">Sauvegarder</button>
		
		<a class="btn btn-success" href="{{ path('auditmensuel') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> Retour à la liste
        </a>
    </p>
</form>
{% if app.user.username == "Jeff" %}
<ul class="record_actions">
    <li>
        <form action="{{ path('auditmensuel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}