{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditmensuelpage %} 
{{ parent() }}
<h4>{% trans %}Listing des Audits Globaux{% endtrans %}</h4>

<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>{% trans %}Date de Réunion{% endtrans %}:</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
			<th><i class="icon-file"></i> {% trans %}PDF{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td>{% if entity.datereunion %}{{ entity.datereunion|date('d-m-Y H:i') }}{% endif %}</td>
            <td><a href="{{ path('auditmensuel_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td>{% if entity.nomsignaltea is none %}<a href="{{ path('auditmensuel_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a>{% else %}<i class="icon-ban-circle">{% endif %}</td>
			<td>{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('auditmensuel_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <a class="btn btn-primary" href="{{ path('auditmensuel_new') }}?idMag={{idMag}}">
            {% trans %}Nouvel Audit Global{% endtrans %}
        </a>
</ul>
{% endblock %}