{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditmensuelshowpage %} 
{{ parent() }}
<h4>Audit Global du {{ entity.datereunion|date('d-m-Y') }}</h4>
{% if entity.fileimgpaper %}
<p><img src="{{ asset('upload/nomade/auditmensuel/paper/' ~ entity.id ~'/' ~ entity.fileimgpaper)}}" alt="Audit Global" height="842" width="595" /></p>
{% else %}
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Point de vente{% endtrans %}</td>
				<td>{% trans %}Date Réunion{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.ptvente }}</td>
				<td>{{ entity.datereunion|date('d-m-Y H:i') }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Participants{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Reponsable Secteur Altéa{% endtrans %}: <p>{{ entity.responsecteur }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Contrôle Administratif{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Les récépissés DUE des agents ont-elles bien été transmises {% endtrans %}?: <p>{% if entity.recepagent == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</td>
				<td>{% trans %}Les agents portent-ils bien leur tenue de travail {% endtrans %}?: <p>{% if entity.tenutrav == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</td>
			</tr>
			<tr>
				<td>{% trans %}Le 3620 (pointage virtuel) est-il fait quotidiennement par les agents {% endtrans %}?: <p>{% if entity.pointagev == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</td>
				<td>{% trans %}Des problèmes de retard ou d'absences sont-ils signalés {% endtrans %}?: <p>{% if entity.absence == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Ces absences ont-elles été remplacés / rattrapés {% endtrans %}?: <p>{% if entity.absrempl == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
				<td>{% trans %}Le planning est-il respecté par les agents {% endtrans %}?: <p>{% if entity.planrespect == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Contrôle Qualité{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{% trans %}La qualité du service rendu est-elle satisafaisante {% endtrans %}?:</th>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Pour les tâches quotidiennes{% endtrans %}:<p>{{ entity.qualitserv }}</p></td>
				<td>{% trans %}Pour les rotation de fond{% endtrans %}:<p>{{ entity.qualitrotf }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Pour les sols{% endtrans %}:<p>{{ entity.qualitsol }}</p></td>
				<td>{% trans %}Observations sur la qualité du magasin{% endtrans %}: <p>{{ entity.observqual }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Evolution de la prestation{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Depuis le mois dernier, Altéa Propreté a-t-il mené les actions correctrices nécessaires {% endtrans %}?: <p>{% if entity.corection == 1 %}OUI{% else %}NON{% endif %}</p></td>
				<td>{% trans %}Comment le magasin juge-t-il l'évolution de la prestation de service {% endtrans %}?: <p>{{ entity.evolprest }}</p></td>
			</tr>
			<tr>
				<td>{% if entity.corectionras == 1 %}<p>{% trans %}RAS, aucun problème à signalé{% endtrans %}</p>{% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Précision{% endtrans %}: <p>{{ entity.observevol }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Date de la prochaine réunion{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.dateprochre|date('d-m-Y H:i') }}</td>
			</tr>
		</tbody>
	</table>
{% if entity.nomsignaltea is none %}
<form action="{{ path('auditmensuel_updatesign', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec l'agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: <p><SELECT name="pointagent">
										<OPTION VALUE="Sur site">{% trans %}Sur site{% endtrans %}</OPTION>
										<OPTION VALUE="Téléphone">{% trans %}Téléphone{% endtrans %}</OPTION>
										<OPTION VALUE="Message dans le cahier">{% trans %}Message dans le cahier{% endtrans %}</OPTION>
									</SELECT>
									</p>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Nom-Prénom du Signataire {% endtrans %}{{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td><input size="16" type="text" required="required" value="{{ respSecteur }}" name="nomsignaltea"></td>
			<td><input size="16" type="text" required="required" value="{{ responsmag }}" name="nomsignclient"></td>
		</tr>
		<tr>
			<th>{% trans %}Fonction du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Fonction du Signataire{% endtrans %} {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td><input size="16" type="text"  required="required" value="Responsable Secteur" name="foncsignaltea"></td>
			<td><input size="16" type="text"  required="required" value="Directeur(trice) du magasin" name="foncsignclient"></td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice et signature{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Signature impossible Directrice indisponible {% endtrans %}?: <p><SELECT name="dispodir">
																			<OPTION VALUE=0>{% trans %}Signature en cours...{% endtrans %}</OPTION>
																			<OPTION VALUE=1>{% trans %}Directrice Indisponible{% endtrans %}</OPTION>
																		</SELECT>
																		</p>
				</td>
				<td>
					<TEXTAREA name="motifindispo">{% trans %}Motif de l'Indisponibilité{% endtrans %}</TEXTAREA>
				</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
				<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
							<ul class="sigNav">
								<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
							</ul>
							<div class="sig sigWrapper">
								<div class="typed"></div>
								<canvas class="pad" width="298" height="190"></canvas>
								<input type="hidden" name="output1" class="output">
							</div>
					</div>
					</td>
					<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
						<ul class="sigNav">
							<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
						</ul>
						<div class="sig sigWrapper">
							<div class="typed"></div>
							<canvas class="pad" width="298" height="190"></canvas>
							<input type="hidden" name="output2" class="output">
						</div>
					</div>
					</td>
					
		</tr>
		<tr>
			<th>{{ form_label(edit_form.fileimgpaper, "") }}{% trans %}Audit papier{% endtrans %}</th>
		</tr>
		<tr>
			<td align="center">{{ form_widget(edit_form.fileimgpaper) }}</td>
		</tr>
	</thead>
</table>

<button class="btn btn-danger" type="submit">{% trans %}Je certifie sur l'honneur l'éxactitude des renseignements ci-dessus{% endtrans %}.</button>
</form>
{% else %}
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% if entity.dispodir == 1 %}<font color="#FF0000"><strong>{% trans %}Signature Impossible Directrice Indisponible{% endtrans %}</strong></font>{% else %}{% trans %}Signature de la Directrice{% endtrans %}{% endif %}</td>
				<td>{% if entity.dispodir == 1 %}<font color="#FF0000"><strong>{{ entity.motifindispo }}</strong></font>{% else %} {% endif %}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: {{ entity.pointagent }}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Nom-Prénom du Signataire {% endtrans %}{{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignclient }}</td>
		</tr>
		<tr>
			<th>{% trans %}Fonction du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Fonction du Signataire {% endtrans %}{{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.foncsignaltea }}</td>
			<td>{{ entity.foncsignclient }}</td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Signature{% endtrans %}:</th>
			<th>{% trans %}Signature{% endtrans %}:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/auditmensuel/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/auditmensuel/{{ entity.imgsignclient }}"></td>
		</tr>
	</thead>
</table>
{% endif %}
<ul class="record_actions">
	{% if entity.nomsignaltea is none %}
    <a href="{{ path('auditmensuel_edit', { 'id': entity.id }) }}?idMag={{idMag}}" class="btn btn-warning">
           {% trans %} Modifier{% endtrans %}
    </a>
	
	{% endif %}
	<a class="btn btn-success" href="{{ path('auditmensuel') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la Liste{% endtrans %}
    </a>
	
    {% if entity.nomsignaltea is none %}
	{% else %}
	<a class="btn btn-danger" href="{{ path('auditmensuel_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank">
            <i class="icon-check icon-white"></i> {% trans %}Document PDF{% endtrans %}
    </a>
	{% endif %}
	{% if app.user.username == "Jeff" %}
	<p>
    <li>
        <form action="{{ path('auditmensuel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
	</p>
	{% endif %}
</ul>
{% endif %}
{% endblock %}