{% extends '::base.html.twig' %}
{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block body %}
<table border="0" height="1076" width="760">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="1076" width="760" src="img/auditmensuel2.jpg"/></div>
<div style="position:absolute;top:178.531;left:210.763;">
<span style="font-size:9;font-weight:bold;">{{ entity.lieux.codag }}</span>
</div>
<div style="position:absolute;top:192.531;left:210.763;">
<span style="font-size:9;font-weight:bold;">{{ entity.ptvente }}</span>
</div>
<div style="position:absolute;top:206.531;left:210.763;">
<span style="font-size:9.708;font-weight:bold;">Le {{ entity.datereunion|date('d-m-Y')}} à {{ entity.datereunion|date('H') }}H{{ entity.datereunion|date('i') }}</span>
</div>
<div style="position:absolute;top:248.531;left:210.763;">
<span style="font-size:9.708;font-weight:bold;">{{ entity.responsecteur }}</span>
</div>
<div style="position:absolute;top:262.531;left:210.763;">
<span style="font-size:9.708;font-weight:bold;">{{ entity.nomsignclient }}</span>
</div>
<div style="position:absolute;top:327;left:548.8;">
<span style="font-size:12.708;">{% if entity.recepagent == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:327.3;left:613.763;">
<span style="font-size:12.708;">{% if entity.recepagent == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:347;left:548.763;">
<span style="font-size:12.708;">{% if entity.pointagev == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:347;left:613.763;">
<span style="font-size:12.708;">{% if entity.pointagev == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:367;left:548.763;">
<span style="font-size:12.708;">{% if entity.tenutrav == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:367;left:613.763;">
<span style="font-size:12.708;">{% if entity.tenutrav == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:389;left:548.763;">
<span style="font-size:12.708;">{% if entity.absence == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:389;left:613.763;">
<span style="font-size:12.708;">{% if entity.absence == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:410;left:548.763;">
<span style="font-size:12.708;">{% if entity.absrempl == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:410;left:615.763;">
<span style="font-size:12.708;">{% if entity.absrempl == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:431;left:548.763;">
<span style="font-size:12.708;">{% if entity.planrespect == 1 %}x{% else %}{% endif %}</span>
</div>
<div style="position:absolute;top:431;left:615.763;">
<span style="font-size:12.708;">{% if entity.planrespect == 1 %}{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:506.531;left:240.763;">
<span style="font-size:12.708;">{% if entity.qualitserv == 'TRES SATISFAISANTE' %}x{% endif %}</span>
</div>
<div style="position:absolute;top:526.531;left:240.763;">
<span style="font-size:12.708;">{% if entity.qualitrotf == 'TRES SATISFAISANTE' %}x{% endif %}</span>
</div>
<div style="position:absolute;top:546.531;left:240.763;">
<span style="font-size:12.708;">{% if entity.qualitsol == 'TRES SATISFAISANTE' %}x{% endif %}</span>
</div>
<div style="position:absolute;top:506.531;left:362.763;">
<span style="font-size:12.708;">{% if entity.qualitserv == 'SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:526.531;left:362.763;">
<span style="font-size:12.708;">{% if entity.qualitrotf == 'SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:546.531;left:362.763;">
<span style="font-size:12.708;">{% if entity.qualitsol == 'SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:506.531;left:478;">
<span style="font-size:12.708;">{% if entity.qualitserv == 'PLUTOT SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:526.531;left:478;">
<span style="font-size:12.708;">{% if entity.qualitrotf == 'PLUTOT SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:546.531;left:478;">
<span style="font-size:12.708;">{% if entity.qualitsol == 'PLUTOT SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:506.531;left:611.763;">
<span style="font-size:12.708;">{% if entity.qualitserv == 'PAS SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:526.531;left:611.763;">
<span style="font-size:12.708;">{% if entity.qualitrotf == 'PAS SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:546.531;left:611.763;">
<span style="font-size:12.708;">{% if entity.qualitsol == 'PAS SATISFAISANTE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:585;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:602;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:620;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:640;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:655;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:670;left:50.763;">
<span style="font-size:9.708;">{{ entity.observqual }}</span>
</div>
<div style="position:absolute;top:712;left:547.763;">
<span style="font-size:12.708;">{% if entity.corection == 1 %}x{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:712;left:624.763;">
<span style="font-size:12.708;">{% if entity.corection == 1 %}x{% else %}x{% endif %}</span>
</div>
<div style="position:absolute;top:733.531;left:405.763;">
<span style="font-size:12.708;">{% if entity.evolprest == 'EN AMELIORATION' %}x{% endif %}</span>
</div>
<div style="position:absolute;top:733.531;left:524.763;">
<span style="font-size:12.708;">{% if entity.evolprest == 'EN CONTINUITE' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:733.531;left:627.763;">
<span style="font-size:12.708;">{% if entity.evolprest == 'EN REGRESSION' %}x{% endif %}x</span>
</div>
<div style="position:absolute;top:757;left:106.763;">
<span style="font-size:9.708;">{{ entity.observevol }}</span>
</div>
<div style="position:absolute;top:772.531;left:50.763;">
<span style="font-size:9.708;">{{ entity.observevol }}</span>
</div>
<div style="position:absolute;top:789.5;left:50.763;">
<span style="font-size:9.708;">{{ entity.observevol }}</span>
</div>
<div style="position:absolute;top:803.5;left:50.763;">
<span style="font-size:9.708;">{{ entity.observevol }}</span>
</div>
<div style="position:absolute;top:858.531;left:50.763;">
<span style="font-size:9.708;">{{ entity.nomsignaltea }}</span>
</div>
<div style="position:absolute;top:847.531;left:268.763;">
<span style="font-size:8.708;"><img src="imgsign/auditmensuel/{{ entity.imgsignaltea }}" height="65" width="101"></span>
</div>
<div style="position:absolute;top:860.531;left:390.763;">
<span style="font-size:8.708;">{{ entity.nomsignclient }}</span>
</div>
<div style="position:absolute;top:847.531;left:596.763;">
<span style="font-size:8.708;"><img src="imgsign/auditmensuel/{{ entity.imgsignclient }}" height="65" width="101"></span>
</div>
<div style="position:absolute;top:930.531;left:390.763;">
<span style="font-size:12.708;">Le {{ entity.dateprochre|date('d-m-Y') }} à {{ entity.dateprochre|date('H') }}H{{ entity.dateprochre|date('i') }}</span>
</div>
</td></tr>
</table>
{% block javascripts %}{% endblock %}
{% endblock %}