{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block reaproeditpage %} 
{{ parent() }}
<h4>{% trans %}Modifier une demande de réapro{% endtrans %}</h4>

<form action="{{ path('reapronom_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la demande{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomGC') ~ "-" ~ lieux.nomville ~ "-" ~ lieux.codag }} name="site3"></td>
				<td>{{ form_widget(edit_form.datedemande) }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Responsable de secteur{% endtrans %}</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomUSER') }} name="nomrespsect"></p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Produits{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Produit 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.prod01) }}</td>
				<td>{{ form_widget(edit_form.prod01qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.prod02) }}</td>
				<td>{{ form_widget(edit_form.prod02qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.prod03) }}</td>
				<td>{{ form_widget(edit_form.prod03qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.prod04) }}</td>
				<td>{{ form_widget(edit_form.prod04qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.prod05) }}</td>
				<td>{{ form_widget(edit_form.prod05qte) }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Materiel{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Materiel 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.mat01) }}</td>
				<td>{{ form_widget(edit_form.mat01qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.mat02) }}</td>
				<td>{{ form_widget(edit_form.mat02qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.mat03) }}</td>
				<td>{{ form_widget(edit_form.mat03qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.mat04) }}</td>
				<td>{{ form_widget(edit_form.mat04qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(edit_form.mat05) }}</td>
				<td>{{ form_widget(edit_form.mat05qte) }}</td>
			</tr>
		</tbody>
	</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
		
		<a class="btn btn-success" href="{{ path('reapronom') }}?idMag={{idMag}}">
          <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la liste{% endtrans %}
        </a>
    </p>
</form>
{% if app.user.username == "Jeff" %}
<ul class="record_actions">
    <li>
        <form action="{{ path('reapronom_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}