{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block reaproshowpage %} 
{{ parent() }}
<h4>{% trans %}Demande réapro du {% endtrans %}{{ entity.datedemande|date('d-m-Y') }}</h4>

<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la demande{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.site }}</td>
				<td>{{ entity.datedemande|date('d-m-Y') }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Responsable de secteur{% endtrans %}</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.nomrespsect }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Produits{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Produit 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.prod01 }}</td>
				<td>{{ entity.prod01qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.prod02 }}</td>
				<td>{{ entity.prod02qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.prod03 }}</td>
				<td>{{ entity.prod03qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.prod04 }}</td>
				<td>{{ entity.prod04qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.prod05 }}</td>
				<td>{{ entity.prod05qte }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Materiel{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Materiel 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.mat01 }}</td>
				<td>{{ entity.mat01qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.mat02 }}</td>
				<td>{{ entity.mat02qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.mat03 }}</td>
				<td>{{ entity.mat03qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.mat04 }}</td>
				<td>{{ entity.mat04qte }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ entity.mat05 }}</td>
				<td>{{ entity.mat05qte }}</td>
			</tr>
		</tbody>
	</table>

<ul class="record_actions">
	<a href="{{ path('reapronom_edit', { 'id': entity.id }) }}?idMag={{idMag}}" class="btn btn-warning">
            {% trans %}Modifier{% endtrans %}
    </a>
	
	<a class="btn btn-success" href="{{ path('reapronom') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la Liste{% endtrans %}
    </a>
    
	
	{% if app.user.username == "Jeff" %}
	<p>
    <li>
        <form action="{{ path('reapronom_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
	</p>
	{% endif %}
</ul>
{% endblock %}