{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block collaborateurlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Listing Collaborateurs</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Type de Poste</th>
            <th>Cp</th>
            <th>Ville</th>
            <th>Tel</th>
            <th>Mobile</th>
            <th>Mail</th>
            <th>Voir</th>
			<th>Modif</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.typeposte }}</td>
            <td>{{ entity.cp }}</td>
            <td>{{ entity.ville }}</td>
            <td>{{ entity.tel }}</td>
            <td>{{ entity.mobile }}</td>
            <td>{{ entity.mail }}</td>
            <td align="center"><a href="{{ path('collaborateur_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('collaborateur_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('collaborateur_new') }}">
            Nouveau Collaborateur
        </a>
</ul>
</p>
{% endblock %}