{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block collaborateurnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Nouveau Collaborateur</h4></div>

<form action="{{ path('collaborateur_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Département</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.departements, "Dept: ") }}{{ form_widget(form.departements) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.nom, "Nom") }}</th>
							<th>{{ form_label(form.prenom, "Prénom") }}</th>
							<th>{{ form_label(form.nomjeunefille, "Nom de Jeune Fille") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.nom) }}</td>
							<td align="center">{{ form_widget(form.prenom) }}</td>
							<td align="center">{{ form_widget(form.nomjeunefille) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.adres1, "Adresse 1") }}</th>
							<th>{{ form_label(form.adres2, "Adresse 2") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.adres1) }}</td>
							<td align="center">{{ form_widget(form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.cp, "Code Postal") }}</th>
							<th>{{ form_label(form.ville, "Ville") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.cp) }}</td>
							<td align="center">{{ form_widget(form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.tel, "Téléphone") }}</th>
							<th>{{ form_label(form.mobile, "Mobile") }}</th>
							<th>{{ form_label(form.mail, "Mail") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.tel) }}</td>
							<td align="center">{{ form_widget(form.mobile) }}</td>
							<td align="center">{{ form_widget(form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(form.datenaissance, "Date de Naissance") }}</th>
							<th>{{ form_label(form.lieunaissance, "Lieu de Naissance") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.datenaissance) }}</td>
							<td align="center">{{ form_widget(form.lieunaissance) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.sexe, "Sexe") }}</th>
							<th>{{ form_label(form.situatfam, "Situation Familliale") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.sexe) }}</td>
							<td align="center">{{ form_widget(form.situatfam) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.nationalite, "Nationalité") }}</th>
							<th>{{ form_label(form.carteident, "Num Carte d'Identité") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.nationalite) }}</td>
							<td align="center">{{ form_widget(form.carteident) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.annexesept, "Annexe 7") }}</th>
							<th>{{ form_label(form.autortravail, "Autorisation de Travail") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.annexesept) }}</td>
							<td align="center">{{ form_widget(form.autortravail) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.cartesejour, "Num Carte de Séjour") }}</th>
							<th>{{ form_label(form.datefincsj, "Date Fin C.D.S.") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.cartesejour) }}</td>
							<td align="center">{{ form_widget(form.datefincsj) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Situation Sociale</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(form.numsecu, "Num Secu") }}</th>
							<th>{{ form_label(form.datevismed, "Date Visite Médicale") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.numsecu) }}</td>
							<td align="center">{{ form_widget(form.datevismed) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.handicap, "Handicap") }}</th>
							<th>{{ form_label(form.attestation, "Attestation") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.handicap) }}</td>
							<td align="center">{{ form_widget(form.attestation) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Poste</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(form.typeposte, "Type de Poste") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.typeposte) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.nivechelon, "Niv. Echelon") }}</th>
							<th>{{ form_label(form.echelon, "Echelon") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.nivechelon) }}</td>
							<td align="center">{{ form_widget(form.echelon) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.txhoraire, "Taux Horaire") }}</th>
							<th>{{ form_label(form.anciennete, "Ancienneté") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.txhoraire) }}</td>
							<td align="center">{{ form_widget(form.anciennete) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.permis, "Permis") }}</th>
							<th>{{ form_label(form.vehicule, "Véhicule") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.permis) }}</td>
							<td align="center">{{ form_widget(form.vehicule) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.complement, "Complément") }}</th>
							<th>{{ form_label(form.accompte, "Accompte") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.complement) }}</td>
							<td align="center">{{ form_widget(form.accompte) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.perimetre, "Périmètre") }}</th>
							<th>{{ form_label(form.tailletshirt, "Taille T-Shirt") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.perimetre) }}</td>
							<td align="center">{{ form_widget(form.tailletshirt) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.motifpi, "Motif Plus Intérresser") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.motifpi) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.commentaires, "Commentaires") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('collaborateur') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}