{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block collaborateurshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Collaborateur {{ entity.nom }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Département</th>
						</tr>
						</thead>
						<tbody>
						{% for departement in entity.departements %}
						<tr>
							<td align="center">{{ departement.nom }}</td>
						</tr>
						{% endfor %}
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Nom de Jeune Fille</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.nom }}</td>
							<td align="center">{{ entity.prenom }}</td>
							<td align="center">{{ entity.nomjeunefille }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Adresse 1</th>
							<th>Adresse 2</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adres1 }}</td>
							<td align="center">{{ entity.adres2 }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Code Postal</th>
							<th>Ville</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.cp }}</td>
							<td align="center">{{ entity.ville }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Téléphone</th>
							<th>Mobile</th>
							<th>Mail</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel }}</td>
							<td align="center">{{ entity.mobile }}</td>
							<td align="center">{{ entity.mail }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Date de Naissance</th>
							<th>Lieu de Naissance</th>
						</tr>
						<tr>
							<td align="center">{% if entity.datenaissance %}{{ entity.datenaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
							<td align="center">{{ entity.lieunaissance }}</td>
						</tr>
						<tr>
							<th>Sexe</th>
							<th>Situation Familliale</th>
						</tr>
						<tr>
							<td align="center">{{ entity.sexe }}</td>
							<td align="center">{{ entity.situatfam }}</td>
						</tr>
						<tr>
							<th>Nationalité</th>
							<th>Num Carte d'Identité</th>
						</tr>
						<tr>
							<td align="center">{{ entity.nationalite }}</td>
							<td align="center">{{ entity.carteident }}</td>
						</tr>
						<tr>
							<th>Annexe 7</th>
							<th>Autorisation de Travail</th>
						</tr>
						<tr>
							<td align="center">{{ entity.annexesept }}</td>
							<td align="center">{{ entity.autortravail }}</td>
						</tr>
						<tr>
							<th>Num Carte de Séjour</th>
							<th>Date Fin C.D.S.</th>
						</tr>
						<tr>
							<td align="center">{{ entity.cartesejour }}</td>
							<td align="center">{% if entity.datefincsj %}{{ entity.datefincsj|date('Y-m-d H:i:s') }}{% endif %}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Situation Sociale</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Num Secu</th>
							<th>Date Visite Médicale</th>
						</tr>
						<tr>
							<td align="center">{{ entity.numsecu }}</td>
							<td align="center">{% if entity.datevismed %}{{ entity.datevismed|date('Y-m-d H:i:s') }}{% endif %}</td>
						</tr>
						<tr>
							<th>Handicap</th>
							<th>Attestation</th>
						</tr>
						<tr>
							<td align="center">{{ entity.handicap }}</td>
							<td align="center">{{ entity.attestation }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Poste</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Type de Poste</th>
						</tr>
						<tr>
							<td align="center">{{ entity.typeposte }}</td>
						</tr>
						<tr>
							<th>Niv. Echelon</th>
							<th>Echelon</th>
						</tr>
						<tr>
							<td align="center">{{ entity.nivechelon }}</td>
							<td align="center">{{ entity.echelon }}</td>
						</tr>
						<tr>
							<th>Taux Horaire</th>
							<th>Ancienneté</th>
						</tr>
						<tr>
							<td align="center">{{ entity.txhoraire }}</td>
							<td align="center">{{ entity.anciennete }}</td>
						</tr>
						<tr>
							<th>Permis</th>
							<th>Véhicule</th>
						</tr>
						<tr>
							<td align="center">{{ entity.permis }}</td>
							<td align="center">{{ entity.vehicule }}</td>
						</tr>
						<tr>
							<th>Complément</th>
							<th>Accompte</th>
						</tr>
						<tr>
							<td align="center">{{ entity.complement }}</td>
							<td align="center">{{ entity.accompte }}</td>
						</tr>
						<tr>
							<th>Périmètre</th>
							<th>Taille T-Shirt</th>
						</tr>
						<tr>
							<td align="center">{{ entity.perimetre }}</td>
							<td align="center">{{ entity.tailletshirt }}</td>
						</tr>
						<tr>
							<th>Motif Plus Intérresser</th>
						</tr>
						<tr>
							<td align="center">{{ entity.motifpi }}</td>
						</tr>
						<tr>
							<th>Commentaires</th>
						</tr>
						<tr>
							<td align="center">{{ entity.commentaires }}</td>
						</tr>
						</tbody>
</table>
<p>
<form action="{{ path('collaborateur_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
</form>
</p>
<p>
<a class="btn btn-warning" href="{{ path('collaborateur_edit', { 'id': entity.id }) }}">
            Modifier
</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('collaborateur') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}