{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planningpage %} 
{{ parent() }}
<h1>planning</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Lundi_t1</th>
            <td>{{ entity.lundit1 }}</td>
        </tr>
        <tr>
            <th>Lundi_t2</th>
            <td>{{ entity.lundit2 }}</td>
        </tr>
        <tr>
            <th>Lundi_t3</th>
            <td>{{ entity.lundit3 }}</td>
        </tr>
        <tr>
            <th>Lundi_t4</th>
            <td>{{ entity.lundit4 }}</td>
        </tr>
        <tr>
            <th>Lundi_t5</th>
            <td>{{ entity.lundit5 }}</td>
        </tr>
        <tr>
            <th>Lundi_t6</th>
            <td>{{ entity.lundit6 }}</td>
        </tr>
        <tr>
            <th>Lundi_t7</th>
            <td>{{ entity.lundit7 }}</td>
        </tr>
        <tr>
            <th>Lundi_t8</th>
            <td>{{ entity.lundit8 }}</td>
        </tr>
        <tr>
            <th>Lundi_t9</th>
            <td>{{ entity.lundit9 }}</td>
        </tr>
        <tr>
            <th>Lundi_t10</th>
            <td>{{ entity.lundit10 }}</td>
        </tr>
        <tr>
            <th>Mardi_t1</th>
            <td>{{ entity.mardit1 }}</td>
        </tr>
        <tr>
            <th>Mardi_t2</th>
            <td>{{ entity.mardit2 }}</td>
        </tr>
        <tr>
            <th>Mardi_t3</th>
            <td>{{ entity.mardit3 }}</td>
        </tr>
        <tr>
            <th>Mardi_t4</th>
            <td>{{ entity.mardit4 }}</td>
        </tr>
        <tr>
            <th>Mardi_t5</th>
            <td>{{ entity.mardit5 }}</td>
        </tr>
        <tr>
            <th>Mardi_t6</th>
            <td>{{ entity.mardit6 }}</td>
        </tr>
        <tr>
            <th>Mardi_t7</th>
            <td>{{ entity.mardit7 }}</td>
        </tr>
        <tr>
            <th>Mardi_t8</th>
            <td>{{ entity.mardit8 }}</td>
        </tr>
        <tr>
            <th>Mardi_t9</th>
            <td>{{ entity.mardit9 }}</td>
        </tr>
        <tr>
            <th>Mardi_t10</th>
            <td>{{ entity.mardit10 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t1</th>
            <td>{{ entity.mercredit1 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t2</th>
            <td>{{ entity.mercredit2 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t3</th>
            <td>{{ entity.mercredit3 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t4</th>
            <td>{{ entity.mercredit4 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t5</th>
            <td>{{ entity.mercredit5 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t6</th>
            <td>{{ entity.mercredit6 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t7</th>
            <td>{{ entity.mercredit7 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t8</th>
            <td>{{ entity.mercredit8 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t9</th>
            <td>{{ entity.mercredit9 }}</td>
        </tr>
        <tr>
            <th>Mercredi_t10</th>
            <td>{{ entity.mercredit10 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t1</th>
            <td>{{ entity.jeudit1 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t2</th>
            <td>{{ entity.jeudit2 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t3</th>
            <td>{{ entity.jeudit3 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t4</th>
            <td>{{ entity.jeudit4 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t5</th>
            <td>{{ entity.jeudit5 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t6</th>
            <td>{{ entity.jeudit6 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t7</th>
            <td>{{ entity.jeudit7 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t8</th>
            <td>{{ entity.jeudit8 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t9</th>
            <td>{{ entity.jeudit9 }}</td>
        </tr>
        <tr>
            <th>Jeudi_t10</th>
            <td>{{ entity.jeudit10 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t1</th>
            <td>{{ entity.vendredit1 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t2</th>
            <td>{{ entity.vendredit2 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t3</th>
            <td>{{ entity.vendredit3 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t4</th>
            <td>{{ entity.vendredit4 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t5</th>
            <td>{{ entity.vendredit5 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t6</th>
            <td>{{ entity.vendredit6 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t7</th>
            <td>{{ entity.vendredit7 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t8</th>
            <td>{{ entity.vendredit8 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t9</th>
            <td>{{ entity.vendredit9 }}</td>
        </tr>
        <tr>
            <th>Vendredi_t10</th>
            <td>{{ entity.vendredit10 }}</td>
        </tr>
        <tr>
            <th>Samedi_t1</th>
            <td>{{ entity.samedit1 }}</td>
        </tr>
        <tr>
            <th>Samedi_t2</th>
            <td>{{ entity.samedit2 }}</td>
        </tr>
        <tr>
            <th>Samedi_t3</th>
            <td>{{ entity.samedit3 }}</td>
        </tr>
        <tr>
            <th>Samedi_t4</th>
            <td>{{ entity.samedit4 }}</td>
        </tr>
        <tr>
            <th>Samedi_t5</th>
            <td>{{ entity.samedit5 }}</td>
        </tr>
        <tr>
            <th>Samedi_t6</th>
            <td>{{ entity.samedit6 }}</td>
        </tr>
        <tr>
            <th>Samedi_t7</th>
            <td>{{ entity.samedit7 }}</td>
        </tr>
        <tr>
            <th>Samedi_t8</th>
            <td>{{ entity.samedit8 }}</td>
        </tr>
        <tr>
            <th>Samedi_t9</th>
            <td>{{ entity.samedit9 }}</td>
        </tr>
        <tr>
            <th>Samedi_t10</th>
            <td>{{ entity.samedit10 }}</td>
        </tr>
        <tr>
            <th>Temps_nr</th>
            <td>{{ entity.tempsnr }}</td>
        </tr>
        <tr>
            <th>Temps_cv</th>
            <td>{{ entity.tempscv }}</td>
        </tr>
        <tr>
            <th>Temps_nf</th>
            <td>{{ entity.tempsnf }}</td>
        </tr>
        <tr>
            <th>Date_maj</th>
            <td>{{ entity.datemaj|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('planning') }}?idMag={{idMag}}">
            Retour a la liste
        </a>
    </li>
    <li>
        <a href="{{ path('planning_edit', { 'id': entity.id }) }}?idMag={{idMag}}">
            Editer
        </a>
    </li>
    <li>
        <form action="{{ path('planning_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}