{% extends '::base.html.twig' %}
{% block title %}
{% trans %}Altea Nomade - Gestion d'actions Responsables de secteurs{% endtrans %}
{% endblock %}
{% block body %}
<table border="0" height="760" width="1076">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="760" width="1076"src="img/bg00003.jpg"/></div>
<p style="position:absolute; top:0.000; left:0.000" id="bm000001"></p>
<div style="position:absolute;top:16.363;left:25.754;">
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">{% trans %}Planning{% endtrans %}</span>
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">{% trans %}Qualité{% endtrans %}</span>
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">{% trans %}Séphora{% endtrans %}</span>
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">{% trans %}N° {% endtrans %}{{ lieux.codag }}</span>
</div>
<div style="position:absolute;top:16.363;left:556.475;">
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">{% trans %}Ville{% endtrans %}</span>
<span style="font-size:16.790;font-weight:bold;color: #4f81bd;">: {{lieux.nomville}} - {{lieux.adruelieux}}</span>
</div>
<div style="position:absolute;top:45.776;left:25.754;">
<span style="font-size:13.944;font-weight:bold;color: #4f81bd;">{{ entity.titre }}</span>
</div>
<div style="position:absolute;top:68.687;left:92.896;">
<span style="font-size:11.098;font-weight:bold;">{% trans %}Lundi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:141.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Mardi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:295.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Mercredi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:455.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Jeudi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:615.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Vendredi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:775.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Samedi{% endtrans %}</span>
<span style="position:absolute;top:68.826;left:900.081;"></span>
<span style="font-size:11.098;font-weight:bold;">{% trans %}Temps{% endtrans %}</span>
</div>
<div style="position:absolute;top:86.500;left:50.036;">
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
<span style="position:absolute;top:86.826;left:150.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
<span style="position:absolute;top:86.826;left:305.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
<span style="position:absolute;top:86.826;left:466.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
<span style="position:absolute;top:86.826;left:626.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
<span style="position:absolute;top:86.826;left:788.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}Récurrent{% endtrans %}</span>
</div>
<div style="position:absolute;top:102.677;left:50.600;">
<span style="font-size:11.098;">{{ entity.lundit1 }}</span>
<span style="position:absolute;top:102.826;left:150.081;"></span>
<span style="font-size:11.098;">{{ entity.mardit1 }}</span>
<span style="position:absolute;top:102.826;left:305.081;"></span>
<span style="font-size:11.098;">{{ entity.mercredit1 }}</span>
<span style="position:absolute;top:102.826;left:466.081;"></span>
<span style="font-size:11.098;">{{ entity.jeudit1 }}</span>
<span style="position:absolute;top:102.826;left:626.081;"></span>
<span style="font-size:11.098;">{{ entity.vendredit1 }}</span>
<span style="position:absolute;top:102.826;left:788.081;"></span>
<span style="font-size:11.098;">{{ entity.samedit1 }}</span>
<span style="position:absolute;top:102.826;left:950.081;"></span>
<span style="font-size:11.490;">{{ entity.tempsnr }}</span>
</div>
<div style="position:absolute;top:113.195;left:50.572;">
<span style="font-size:11.098;">{{ entity.lundit2 }}</span>
<span style="position:absolute;top:113.826;left:150.081;"></span>
<span style="font-size:11.098;">{{ entity.mardit2 }}</span>
<span style="position:absolute;top:113.826;left:305.081;"></span>
<span style="font-size:11.098;">{{ entity.mercredit2 }}</span>
<span style="position:absolute;top:113.826;left:466.081;"></span>
<span style="font-size:11.098;">{{ entity.jeudit2 }}</span>
<span style="position:absolute;top:113.826;left:626.081;"></span>
<span style="font-size:11.098;">{{ entity.vendredit2 }}</span>
<span style="position:absolute;top:113.826;left:788.081;"></span>
<span style="font-size:11.098;">{{ entity.samedit2 }}</span>
</div>
<div style="position:absolute;top:124.712;left:50.227;">
<span style="font-size:11.098;">{{ entity.lundit3 }}</span>
<span style="position:absolute;top:124.826;left:150.081;"></span>
<span style="font-size:11.098;">{{ entity.mardit3 }}</span>
<span style="position:absolute;top:124.826;left:305.081;"></span>
<span style="font-size:11.098;">{{ entity.mercredit3 }}</span>
<span style="position:absolute;top:124.826;left:466.081;"></span>
<span style="font-size:11.098;">{{ entity.jeudit3 }}</span>
<span style="position:absolute;top:124.826;left:626.081;"></span>
<span style="font-size:11.098;">{{ entity.vendredit3 }}</span>
<span style="position:absolute;top:124.826;left:788.081;"></span>
<span style="font-size:11.098;">{{ entity.samedit3 }}</span>
</div>
<div style="position:absolute;top:142.394;left:50.842;">
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
<span style="position:absolute;top:142.826;left:150.081;"></span>
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
<span style="position:absolute;top:142.826;left:305.081;"></span>
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
<span style="position:absolute;top:142.826;left:466.081;"></span>
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
<span style="position:absolute;top:142.826;left:626.081;"></span>
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
<span style="position:absolute;top:142.826;left:788.081;"></span>
<span style="font-size:11.490;">{% trans %}Contrôle{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}visuel{% endtrans %}</span>
</div>
<div style="position:absolute;top:150.394;left:1004.842;">
<span style="font-size:11.490;">{{ entity.tempscv }}</span>
</div>
<div style="position:absolute;top:174.392;left:50.166;">
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
<span style="position:absolute;top:174.826;left:150.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
<span style="position:absolute;top:174.826;left:305.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
<span style="position:absolute;top:174.826;left:466.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
<span style="position:absolute;top:174.826;left:626.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
<span style="position:absolute;top:174.826;left:788.081;"></span>
<span style="font-size:11.490;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}de{% endtrans %}</span>
<span style="font-size:11.490;">{% trans %}fond{% endtrans %} </span>
</div>
<div style="position:absolute;top:190.392;left:50.166;">
<span style="font-size:11.490;">{{ entity.lundit5 }}</span>
<span style="position:absolute;top:190.826;left:150.081;"></span>
<span style="font-size:11.490;">{{ entity.mardit5 }}</span>
<span style="position:absolute;top:190.826;left:305.081;"></span>
<span style="font-size:11.490;">{{ entity.mercredit5 }}</span>
<span style="position:absolute;top:190.826;left:466.081;"></span>
<span style="font-size:11.490;">{{ entity.jeudit5 }}</span>
<span style="position:absolute;top:190.826;left:626.081;"></span>
<span style="font-size:11.490;">{{ entity.vendredit5 }}</span>
<span style="position:absolute;top:190.826;left:788.081;"></span>
<span style="font-size:11.490;">{{ entity.samedit5 }}</span>
</div>
<div style="position:absolute;top:202.392;left:50.166;">
<span style="font-size:11.490;">{{ entity.lundit5com }}</span>
<span style="position:absolute;top:202.826;left:150.081;"></span>
<span style="font-size:11.490;">{{ entity.mardit5com }}</span>
<span style="position:absolute;top:202.826;left:305.081;"></span>
<span style="font-size:11.490;">{{ entity.mercredit5com }}</span>
<span style="position:absolute;top:202.826;left:466.081;"></span>
<span style="font-size:11.490;">{{ entity.jeudit5com }}</span>
<span style="position:absolute;top:202.826;left:626.081;"></span>
<span style="font-size:11.490;">{{ entity.vendredit5com }}</span>
<span style="position:absolute;top:202.826;left:788.081;"></span>
<span style="font-size:11.490;">{{ entity.samedit5com }}</span>
<span style="position:absolute;top:202.826;left:950.081;"></span>
<span style="font-size:11.490;">{{ entity.tempsnr }}</span>
</div>
<div style="position:absolute;top:214.392;left:50.166;">
<span style="font-size:11.490;">{{ entity.lundit6 }}</span>
<span style="position:absolute;top:214.826;left:150.081;"></span>
<span style="font-size:11.490;">{{ entity.mardit6 }}</span>
<span style="position:absolute;top:214.826;left:305.081;"></span>
<span style="font-size:11.490;">{{ entity.mercredit6 }}</span>
<span style="position:absolute;top:214.826;left:466.081;"></span>
<span style="font-size:11.490;">{{ entity.jeudit6 }}</span>
<span style="position:absolute;top:214.826;left:626.081;"></span>
<span style="font-size:11.490;">{{ entity.vendredit6 }}</span>
<span style="position:absolute;top:214.826;left:788.081;"></span>
<span style="font-size:11.490;">{{ entity.samedit6 }}</span>
</div>
<div style="position:absolute;top:226.392;left:50.166;">
<span style="font-size:11.490;">{{ entity.lundit6com }}</span>
<span style="position:absolute;top:226.826;left:150.081;"></span>
<span style="font-size:11.490;">{{ entity.mardit6com }}</span>
<span style="position:absolute;top:226.826;left:305.081;"></span>
<span style="font-size:11.490;">{{ entity.mercredit6com }}</span>
<span style="position:absolute;top:226.826;left:466.081;"></span>
<span style="font-size:11.490;">{{ entity.jeudit6com }}</span>
<span style="position:absolute;top:226.826;left:626.081;"></span>
<span style="font-size:11.490;">{{ entity.vendredit6com }}</span>
<span style="position:absolute;top:226.826;left:788.081;"></span>
<span style="font-size:11.490;">{{ entity.samedit6com }}</span>
</div>
</td></tr>
</table>
{% block javascripts %}{% endblock %}
{% endblock %}