{% extends '::base.html.twig' %}
{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block body %}
<h6>{% trans %}Code Magasin{% endtrans %}: {{ lieux.codag }} - {% trans %}Ville{% endtrans %}: {{lieux.nomville}} - {% trans %}Adresse{% endtrans %}: {{lieux.adruelieux}} - {% trans %}Tel{% endtrans %}: {% if site.telsite %}{{site.telsite}}{% else %}...{% endif %} - {% trans %}Fax{% endtrans %}: {% if site.faxsite %}{{site.faxsite}}{% else %} ...{% endif %}- {% trans %}Email{% endtrans %}: {% if site.emailsite %}{{site.emailsite}}{% else %} ...{% endif %} - </h6>
<h4>{% trans %}Planning{% endtrans %} - {{ entity.titre }} -</h4>
<table border="0" height="760" width="1076">
		<thead>
			<tr>
				<td>{% trans %}Date mise à jour{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.datemaj|date('d-m-Y') }}</td>
			</tr>
		</tbody>
	</table>
    <table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Lundi{% endtrans %}</th>
							<th>{% trans %}Mardi{% endtrans %}</th>
							<th>{% trans %}Mercredi{% endtrans %}</th>
							<th>{% trans %}Jeudi{% endtrans %}</th>
							<th>{% trans %}Vendredi{% endtrans %}</th>
							<th>{% trans %}Samedi{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<th>{% trans %}Nettoyage récurrent{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td>{{ entity.lundit1 }}</td>
							<td>{{ entity.mardit1 }}</td>
							<td>{{ entity.mercredit1 }}</td>
							<td>{{ entity.jeudit1 }}</td>
							<td>{{ entity.vendredit1 }}</td>
							<td>{{ entity.samedit1 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit2 }}</td>
							<td>{{ entity.mardit2 }}</td>
							<td>{{ entity.mercredit2 }}</td>
							<td>{{ entity.jeudit2 }}</td>
							<td>{{ entity.vendredit2 }}</td>
							<td>{{ entity.samedit2 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit3 }}</td>
							<td>{{ entity.mardit3 }}</td>
							<td>{{ entity.mercredit3 }}</td>
							<td>{{ entity.jeudit3 }}</td>
							<td>{{ entity.vendredit3 }}</td>
							<td>{{ entity.samedit3 }}</td>
						</tr>
						<tr>
							<th>{% trans %}Temps Nettoyage récurrent{% endtrans %}</th>
							<td><i class="icon-time"></i> {{ entity.tempsnr }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>{% trans %}Contrôle visuel{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>{% trans %}Temps contrôle visuel{% endtrans %}</th>
							<td><i class="icon-time"></i> {{ entity.tempscv }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>{% trans %}Nettoyage de fond{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td>{{ entity.lundit5 }}</td>
							<td>{{ entity.mardit5 }}</td>
							<td>{{ entity.mercredit5 }}</td>
							<td>{{ entity.jeudit5 }}</td>
							<td>{{ entity.vendredit5 }}</td>
							<td>{{ entity.samedit5 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit5com }}</td>
							<td>{{ entity.mardit5com }}</td>
							<td>{{ entity.mercredit5com }}</td>
							<td>{{ entity.jeudit5com }}</td>
							<td>{{ entity.vendredit5com }}</td>
							<td>{{ entity.samedit5com }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit6 }}</td>
							<td>{{ entity.mardit6 }}</td>
							<td>{{ entity.mercredit6 }}</td>
							<td>{{ entity.jeudit6 }}</td>
							<td>{{ entity.vendredit6 }}</td>
							<td>{{ entity.samedit6 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit6com }}</td>
							<td>{{ entity.mardit6com }}</td>
							<td>{{ entity.mercredit6com }}</td>
							<td>{{ entity.jeudit6com }}</td>
							<td>{{ entity.vendredit6com }}</td>
							<td>{{ entity.samedit6com }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit7 }}</td>
							<td>{{ entity.mardit7 }}</td>
							<td>{{ entity.mercredit7 }}</td>
							<td>{{ entity.jeudit7 }}</td>
							<td>{{ entity.vendredit7 }}</td>
							<td>{{ entity.samedit7 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit7com }}</td>
							<td>{{ entity.mardit7com }}</td>
							<td>{{ entity.mercredit7com }}</td>
							<td>{{ entity.jeudit7com }}</td>
							<td>{{ entity.vendredit7com }}</td>
							<td>{{ entity.samedit7com }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit8 }}</td>
							<td>{{ entity.mardit8 }}</td>
							<td>{{ entity.mercredit8 }}</td>
							<td>{{ entity.jeudit8 }}</td>
							<td>{{ entity.vendredit8 }}</td>
							<td>{{ entity.samedit8 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit8com }}</td>
							<td>{{ entity.mardit8com }}</td>
							<td>{{ entity.mercredit8com }}</td>
							<td>{{ entity.jeudit8com }}</td>
							<td>{{ entity.vendredit8com }}</td>
							<td>{{ entity.samedit8com }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit9 }}</td>
							<td>{{ entity.mardit9 }}</td>
							<td>{{ entity.mercredit9 }}</td>
							<td>{{ entity.jeudit9 }}</td>
							<td>{{ entity.vendredit9 }}</td>
							<td>{{ entity.samedit9 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit9com }}</td>
							<td>{{ entity.mardit9com }}</td>
							<td>{{ entity.mercredit9com }}</td>
							<td>{{ entity.jeudit9com }}</td>
							<td>{{ entity.vendredit9com }}</td>
							<td>{{ entity.samedit9com }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit10 }}</td>
							<td>{{ entity.mardit10 }}</td>
							<td>{{ entity.mercredit10 }}</td>
							<td>{{ entity.jeudit10 }}</td>
							<td>{{ entity.vendredit10 }}</td>
							<td>{{ entity.samedit10 }}</td>
						</tr>
						<tr>
							<td>{{ entity.lundit10com }}</td>
							<td>{{ entity.mardit10com }}</td>
							<td>{{ entity.mercredit10com }}</td>
							<td>{{ entity.jeudit10com }}</td>
							<td>{{ entity.vendredit10com }}</td>
							<td>{{ entity.samedit10com }}</td>
						</tr>
						<tr>
							<th>{% trans %}Temps nettoyage de fond{% endtrans %}</th>
							<td><i class="icon-time"></i> {{ entity.tempsnf }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
			</tbody>
						
		</table>
		{% block javascripts %}{% endblock %}
{% endblock %}