{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientseditpage %} 
{{ parent() }}
<div class="container">
<h3>{% trans %}Editer l'état de la commande{% endtrans %}</h3>
<pre>{% trans %}Num Ordre de préparation{% endtrans %}: {{ entity.numop }}
</pre>
<pre>{% trans %}Date de la commande{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}
{% if entity.nomdusite %}{% trans %}Site{% endtrans %}: {{ entity.nomdusite }}{% endif %}
 {% trans %}Installation{% endtrans %}: {% if entity.install %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}
</pre>
<form action="{{ path('comclients_updateprepa', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td></td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.etat, "") }}{% trans %}Etat de la commande{% endtrans %}: {{ form_widget(edit_form.etat) }}</td>
	</tr>
	<tr>
		{% if entity.datelivrend == 1 %}
		<td><p>{% trans %}Modifier la date de livraison souhaité{% endtrans %}:</p>
		<div class="input-append date" id="datepicker01" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datelivrsouh">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdatesouhait" value="modif"> {% trans %}Cochez si vous modifiez la date de livraison souhaité{% endtrans %}
		</label>
		</td>
		{% else %}
				<td><p>{% trans %}Modifier la date de livraison souhaité{% endtrans %}:</p>
		<div class="input-append date" id="datepicker01" data-date={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datelivrsouh">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdatesouhait" value="modif"> {% trans %}Cochez si vous modifiez la date de livraison souhaité{% endtrans %}
		</label>
		</td>
		{% endif %}
	</tr>
	<tr>
		<td><p>{% trans %}Si En cours de préparation date de sortie du stock{% endtrans %}:</p>
		<div class="input-append date" id="datepicker02" data-date={% if entity.dateencoursprepa %}{{ entity.dateencoursprepa|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateencoursprepa %}{{ entity.dateencoursprepa|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateencoursprepa">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdateencoursprepa" value="modif"> {% trans %}Cochez si vous modifiez la date de sortie de stock{% endtrans %}
		</label>
		</td>
		<td><p>{% trans %}Si préparé en attente d'expédition date de préparation{% endtrans %}:</p>
		<div class="input-append date" id="datepicker03" data-date={% if entity.dateprepare %}{{ entity.dateprepare|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateprepare %}{{ entity.dateprepare|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateprepare">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdateprepare" value="modif"> {% trans %}Cochez si vous modifiez la date préparation{% endtrans %}
		</label>
		</td>
	</tr>
	<tr>
		<td><p>{% trans %}Si en cours de livraison date d'envoie{% endtrans %}:</p>
		<div class="input-append date" id="datepicker04" data-date={% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateenvoi">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdateenvoi" value="modif"> {% trans %}Cochez si vous modifiez la date d'envoi{% endtrans %}
		</label>
		</td>
		<td><p>{% trans %}Si livré date réception{% endtrans %}:</p>
		<div class="input-append date" id="datepicker05" data-date={% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datelivre">
								<span class="add-on"><i class="icon-th"></i></span>
		<label class="checkbox">
			<input type="checkbox" name="modifdatelivre" value="modif"> {% trans %}Cochez si vous modifiez la date de réception{% endtrans %}
		</label>
		</td>
	</tr>
</table>
	
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

</div>
{% endblock %}