{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modification de vôtre Panier{% endtrans %}:</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<h4></h4>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Préparation{% endtrans %}: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
		<tr>
			<th>{% trans %}OR(s) automatiques{% endtrans %}: {% if entity.autoor == 1 %}<i class="icon-ok icon-green"></i>{% else %}<i class="icon-remove icon-red"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Etat{% endtrans %}: {{ entity.etat }}</th>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span8">
<div class="page-header"></div>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}{% trans %}Type de Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}{% trans %}Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}{% trans %}Nom du Site{% endtrans %}: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}{% trans %}Num Magasin{% endtrans %}: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>{% trans %}Adresse de Livraison{% endtrans %}:</th>
			<th>{% trans %}Info contact{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>{% trans %}Tel{% endtrans %}: {{ destination.tel }} {% trans %}Fax{% endtrans %}:{{ destination.fax }}</p>
			<p>{% trans %}Contact{% endtrans %}: {{ destination.contact }}</p>
			</td>
		</tr>
	</tbody>
</table>	
<div class="page-header"></div>
<form action="{{ path('comclients_updatepan', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Liste des articles à préparer{% endtrans %}:</th>
			<th>{% trans %}Quantité{% endtrans %}:</th>
			<th>{% trans %}Stock Réservé{% endtrans %}:</th>
			<th>{% trans %}En attente OR{% endtrans %}:</th>
			<th>{% trans %}Stock Réel{% endtrans %}:</th>
			<th>{% trans %}Génération Auto OR{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Emplacement{% endtrans %}:</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ designat }}{% if stockreserve > 0 %} - <font color="#FF0000"><strong>{% trans %}Réservé{% endtrans %}</strong></font> <i class="icon-tags icon-red"></i>{% endif %}</td>
			<td>{% if qtte > stockreel %}<font color="#FF0000">{{ qtte }}</font>{% else %}{{ qtte }}{% endif %}</td>
			<td>{{ stockreserve }}</td>
			<td>{% if stockenattente > 0 %}<font color="#008000">{{ stockenattente }}</font>{% else %}{{ stockenattente }}{% endif %}</td>
			<td>{% if qtte > stockreel %}<font color="#FF0000">{{ stockreel }}</font>{% else %}{{ stockreel }}{% endif %}</td>
			<td><input type=checkbox name="autoor{{ idart }}" value=1>{% if qtte > ( stockreel + stockenattente ) %}<i class="icon-flag icon-red"></i><font color="#FF0000">({{ qtte }})</font>{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ allee }} - {% trans %}Travée{% endtrans %}: {{ travee }} - {% trans %}Niveau{% endtrans %}: {{ niveau }} - {% trans %}Emplacement{% endtrans %}: {{ emplacement }}</td>
			{% endif %}
		</tr>
	{% else %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.designat }}{% if article.stockreserve > 0 %} - <font color="#FF0000"><strong>{% trans %}Réservé{% endtrans %}</strong></font> <i class="icon-tags icon-red"></i>{% endif %}</td>
			<td>{% if article.qtte > article.stockreel %}<font color="#FF0000">{{ article.qtte }}</font>{% else %}{{ article.qtte }}{% endif %}</td>
			<td>{{ article.stockreserve }}</td>
			<td>{% if article.stockenattente > 0 %}<font color="#008000">{{ article.stockenattente }}</font>{% else %}{{ article.stockenattente }}{% endif %}</td>
			<td>{% if article.qtte > article.stockreel %}<font color="#FF0000">{{ article.stockreel }}</font>{% else %}{{ article.stockreel }}{% endif %}</td>
			<td><input type=checkbox name="autoor{{ article.idart }}" value=1>{% if article.qtte > ( article.stockreel + article.stockenattente ) %} <i class="icon-flag icon-red"></i><font color="#FF0000">({{ article.qtte }})</font>{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ article.allee }} - {% trans %}Travée{% endtrans %}: {{ article.travee }} - {% trans %}Niveau{% endtrans %}: {{ article.niveau }} - {% trans %}Emplacement{% endtrans %}: {{ article.emplacement }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<div class="container">
<div class="row">
<div class="span10">

<div id="SmartCart" class="scMain">
{% for entityarticle2 in entitiesarticles %}
  <input type="hidden" pimage="" pprice=""
  pdesc="Stock disponible: {{ entityarticle2.qtetot }} - En attente de réception: {{ entityarticle2.qteencours }} - Réservé: {{ entityarticle2.qtereserve }}" pcategory="{{ entityarticle2.categorie }} - {{ entityarticle2.fourniss }}"
  pname="{{ entityarticle2.designat }}" pid="{{ entityarticle2.id }}">
{% endfor %}
<select name="products_selected[]" style="display:none;" multiple="multiple">
{% if resultcount == "1" %}
<option value="{{ idart }}|{{ qtte }}"></option>
</select>
</div>

</div>
</div>
</div>
{% elseif resultcount > 1 %}
{% for article in idarticle %}
<option value="{{ article.idart }}|{{ article.qtte }}"></option>
{% endfor %}
</select>
</div>

</div>
</div>
</div>
{% endif %}
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </th>
			<th>{% trans %}Modifier le Bon de commande de Maintenance{% endtrans %}: </th>
        </tr>
		<tr>
			<td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
			<td>{{ form_widget(edit_form.numcommaint) }}</td>
        </tr>
		<tr>
            <th>{% trans %}Intervention{% endtrans %}: </th>
            <td>{% if entity.install %}<i class="icon-wrench"></i> {% trans %}à installer{% endtrans %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Livraison simple{% endtrans %}: </th>
            <td>{% if not entity.install %}<i class="icon-share"></i> {% trans %}en livraison simple{% endtrans %}{% endif %}</td>
        </tr>
			<th>{% trans %}Modifier le type de livraison{% endtrans %}</th>
			<td>{{ form_widget(edit_form.install) }}</td>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}:</th>
            <th>{% trans %}Modifier vos commentaires{% endtrans %}:</th>
        </tr>
		<tr>
            <th>{{ entity.comm }}</th>
            <td>{{ form_widget(edit_form.comm) }}</td>
        </tr>
        <tr>
            <th>{% trans %}Bon de Livraison{% endtrans %}</th>
            <td>{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Fichier supplémentaire{% endtrans %}</th>
            <td>{% if entity.compdf2 %}<a href="{{ asset('upload/toolbox/op/clientfile2/' ~ entity.id ~'/' ~ entity.compdf2)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		{% if entity.install == 0 %}
		<tr>
            <th>{% trans %}Date Livraison prévue{% endtrans %}</th>
            <td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Modifier la date de livraison prévue{% endtrans %}:</th>
            <td>
			<div class="input-append date" id="datepicker01" data-date={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y H:i') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y H:i') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datelivrsouh">
								<span class="add-on"><i class="icon-th"></i></span>
			</td>
        </tr>
		<tr>
			<th>{% trans %}Heure de livraison prévue{% endtrans %}:</th>
				<td>
				<div class="input-append bootstrap-timepicker">
					<input id="timepicker10" value={{ entity.datelivrsouh|date('H:i') }} type="text" class="input-small" name="heurelivrsouh">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
				</td>
		</tr>
		{% else %}
		<tr>
            <th>{% trans %}Date Intervention prévue{% endtrans %}</th>
            <td>{% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Modifier la date d'intervention prévue{% endtrans %}:</th>
            <td>
			<div class="input-append date" id="datepicker02" data-date={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y H:i') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datelivrsouh %}{{ entity.datelivrsouh|date('d-m-Y H:i') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datelivrsouh">
								<span class="add-on"><i class="icon-th"></i></span>
			</td>
        </tr>
		<tr>
			<th>{% trans %}Heure d'intervention prévue{% endtrans %}:</th>
			<td>
				<div class="input-append bootstrap-timepicker">
					<input id="timepicker10" value={{ entity.datelivrsouh|date('H:i') }} type="text" class="input-small" name="heurelivrsouh">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</td>
		</tr>
		{% endif %}
    </tbody>
</table>
{{ form_rest(edit_form) }}
<div class="span4"><button class="btn btn-success" type="submit">{% trans %}Sauvegarder vos modifications{% endtrans %}</button></div>
<p>
        
    </p>
</form>
        <p><a href="{{ path('comclientsprepavirt') }}" class="btn btn-danger">
            {% trans %}Retour à la liste{% endtrans %} ->
        </a></p>
<div class="span4">
		<form action="{{ path('comclients_deletepan', { 'id': entity.id }) }}" method="post">
           {{ form_widget(delete_form) }}
          <button class="btn btn-danger" type="submit">{% trans %}Supprimer le Panier{% endtrans %}</button> 
</form>
</div>

</div>
<br>
</br>



{% endblock %}