{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientseditpage %} 
{{ parent() }}
<div class="container">
<h3>{% trans %}Editer l'état de la commande{% endtrans %}</h3>
<pre>{% trans %}Num Ordre de préparation{% endtrans %}: {{ entity.numop }}
</pre>
<pre>{% trans %}Date de la commande{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}
{% if entity.nomdusite %}{% trans %}Site{% endtrans %}: {{ entity.nomdusite }}{% endif %}
 {% trans %}Installation{% endtrans %}: {% if entity.install %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}
</pre>
<form action="{{ path('comclients_updateencprepa', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td>{{ form_label(edit_form.etat, "") }}{% trans %}Etat de la commande{% endtrans %}: {{ form_widget(edit_form.etat) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.palettes23, "") }}{% trans %}Palettes 23Kg{% endtrans %}: {{ form_widget(edit_form.palettes23) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.qttepal23, "") }}{% trans %}Quantité Palettes 23Kg{% endtrans %}: {{ form_widget(edit_form.qttepal23) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.palettes13, "") }}{% trans %}Palettes 13Kg{% endtrans %}: {{ form_widget(edit_form.palettes13) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.qttepal13, "") }}{% trans %}Quantité Palettes 13Kg{% endtrans %}: {{ form_widget(edit_form.qttepal13) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.cartonneuf, "") }}{% trans %}Cartons neufs{% endtrans %}: {{ form_widget(edit_form.cartonneuf) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(edit_form.qttecarton, "") }}{% trans %}Quantité Cartons{% endtrans %}: {{ form_widget(edit_form.qttecarton) }}</td>
	</tr>
</table>
	
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

</div>
{% endblock %}