{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsindexpage %} 
{{ parent() }}
<div class="container-fluid">
<div class="page-header"><h4>Préparation des OP pour facturation</h4></div>
<div class="progress progress-danger progress-striped active">
    <div class="bar" style="width: 100%;"></div>
    </div>
	{% set nbentity = 0 %}
	{% for entity1 in entities %}
	{% set nbentity = nbentity + 1 %}
	{% endfor %}
<form action="{{ path('comclients_updateprepafact') }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed" id="sortDatatable4">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th><font size="1">Client</font></th>
			{% endif %}
			<th><font size="1">Num OP</font></th>
			<th><font size="1">Date OP</font></th>
			<th><font size="1">Compte</font></th>
			<th><font size="1">Mag.</font></th>
			<th><font size="1">Site</font></th>
			<th><font size="1">Num Bon Commande Maint.</font></th>
            <th><font size="1">Type Livraison</font></th>
            <th><font size="1">Bon Livr.</font></th>
			<th><font size="1">Etat</font></th>
			<th><font size="1">Date Livraison</font></th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<th><font size="1">Poids</font></th>
			<th><font size="1">Volume</font></th>
			<th><font size="1">Palettes</font></th>
			<th><font size="1">Cartons</font></th>
			<th><font size="1">Poids Total</font></th>
			<th><font size="1">Sél.</font></th>
			<th><font size="1">Prep.</font></th>
			<th><font size="1">Admin.</font></th>
			<th><font size="1">Pal.</font></th>
			<th><font size="1">Fourn.</font></th>
			<th><font size="1">Transp.</font></th>
			<th><font size="1">Rec. Bon.</font></th>
			{% endif %}
			<th><font size="1">Voir</font></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td><font size="1">{{ entity.client }}</font></td>
			{% endif %}
			<td><strong>{% if entity.numop %}<font size="1">{{ entity.numop }}</font>{% endif %}</strong></td>
			<td>{% if entity.datecom %}<font size="1">{{ entity.datecom|date('d-m-Y H') }}h{{ entity.datecom|date('i:s') }}</font>{% endif %}</td>
			<td>{% if entity.compte %}<font size="1">{{ entity.compte }}</font>{% endif %}</td>
			<td>{% if entity.nummag %}<font size="1">{{ entity.nummag }}</font>{% endif %}</td>
			<td>{% if entity.nomdusite %}<font size="1">{{ entity.nomdusite }}</font>{% endif %}</td>
			<td>{% if entity.numcommaint %}<font size="1">{{ entity.numcommaint }}</font>{% else %}<font size="1">-</font>{% endif %}</td>
            <td align="center">{% if entity.install %}<font size="1">Installation</font>{% else %}<font size="1">Livraison</font>{% endif %}</td>
            <td align="center">{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}<font size="1">-</font>{% endif %}</td>
            <td><font size="1">{{ entity.etat }}</font></td>
			<td>{% if entity.datelivre %}<font size="1">{{ entity.datelivre|date('d-m-Y') }}</font>{% else %}<font size="1"> - </font>{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<td>{% if entity.poids %}<font size="1">{{ entity.poids }}</font>{% else %}<font size="1"> - </font>{% endif %}</td>
			<td>{% if entity.volume %}<font size="1">{{ entity.volume }}</font>{% else %}<font size="1"> - </font>{% endif %}</td>
			<td><font size="1">{{ entity.qttepal23 +  entity.qttepal13 }}</font></td>
			<td><font size="1">{{ entity.qttecarton }}</font></td>
			<td><font size="1">{{ entity.poids + (entity.qttepal23 * 23) + (entity.qttepal13 * 13) }}</font></td>
			<td align="center"><input type="checkbox" name="checksel{{ entity.id }}" id="myCheckbox{{ entity.id }}" value="OK"></td>
			<td align="center"><input type="number" class="input-mini" name="prepa{{ entity.id }}" id="myBoxprepa{{ entity.id }}" value="15"></td>
			<td align="center"><input type="number" class="input-mini" name="admin{{ entity.id }}" id="myBoxadmin{{ entity.id }}" value="5"></td>
			<td align="center"><input type="number" class="input-mini" name="pal{{ entity.id }}" id="myBoxpal{{ entity.id }}" value={{ (entity.qttepal23 +  entity.qttepal13) * 4 }}></td>
			<td align="center"><input type="number" class="input-mini" name="fourn{{ entity.id }}" id="myBoxfourn{{ entity.id }}" value={{ ((entity.qttepal23 +  entity.qttepal13) * 1.5) + (entity.qttecarton * 1) }}></td>
			<td align="center"><input type="number" class="input-mini" name="transp{{ entity.id }}" id="myBoxtransp{{ entity.id }}" value="0"></td>
			<td align="center"><input type="number" class="input-mini" name="recbon{{ entity.id }}" id="myBoxrecbon{{ entity.id }}" value="0"></td>
			{% endif %}
			<td align="center"><a href="{{ path('comclients_showlivre', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<p>
        <button class="btn btn-success" type="submit">Sauvegarder</button>
</p>
</form>
</div>
<div>
	
</div>
{% endblock %}