{% extends '::base.html.twig' %}
{% block title %}
{% trans %}ToolBox{% endtrans %} - {% trans %}Liste des OP{% endtrans %}
{% endblock %}
{% block body %}
<div class="container">
<div class="page-header"><h4>{% trans %}Etat des ordres de préparations demandés{% endtrans %}</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<table border="1" width="98%" style="border-collapse: collapse;" class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th><span style="font-size:8;">{% trans %}Client{% endtrans %}</span></th>
			{% endif %}
			<th><span style="font-size:8;">{% trans %}Num OP{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Date OP{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Compte{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Mag{% endtrans %}.</span></th>
			<th><span style="font-size:8;">{% trans %}Site{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Num Bon Commande Maint{% endtrans %}.</span></th>
            <th><span style="font-size:8;">{% trans %}Type Interv{% endtrans %}.</span></th>
            <th><span style="font-size:8;">{% trans %}Bon Livr{% endtrans %}.</span></th>
			<th><span style="font-size:8;">{% trans %}Etat{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Date prévue{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Date de Livraison{% endtrans %}</span></th>
			<th><span style="font-size:8;">{% trans %}Date d'interv prévue{% endtrans %}</span></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td><span style="font-size:8;">{{ entity.client }}</span></td>
			{% endif %}
			<td><span style="font-size:8;"><strong>{% if entity.numop %}{{ entity.numop }}{% endif %}</strong></span></td>
			<td><span style="font-size:8;">{% if entity.datecom %}{{ entity.datecom|date('d-m-Y') }}{% endif %}</span></td>
			<td><span style="font-size:8;">{% if entity.compte %}{{ entity.compte }}{% endif %}</span></td>
			<td><span style="font-size:8;">{% if entity.nummag %}{{ entity.nummag }}{% endif %}</span></td>
			<td><span style="font-size:8;">{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</span></td>
			<td align="center"><span style="font-size:8;">{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</span></td>
            <td><span style="font-size:8;">{% if entity.install %}{% trans %}Intervention{% endtrans %}{% else %}{% trans %}Livraison Simple{% endtrans %}{% endif %}</span></td>
            <td align="center"><span style="font-size:8;">{% if entity.compdf %}OK{% else %}-{% endif %}</span></td>
            <td><span style="font-size:8;">{% if entity.etat %}{{ entity.etat }}{% endif %}</span></td>
			<td align="center"><span style="font-size:8;">{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</span></td>
			<td align="center"><span style="font-size:8;">{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %} - {% endif %}</span></td>
			<td align="center"><span style="font-size:8;">{% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %} - {% endif %}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% block javascripts %}{% endblock %}
{% endblock %}