<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}Bon de Livraison{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/timepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.signaturepad.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes02.css') }}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ asset('css/TableTools.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/TableTools_JUI.css') }}" type="text/css" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		{% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
		<div class="container">
<div class="page-header" align="center"><h2>{% trans %}Bon de Livraison N°{% endtrans %} {{ entity.numop }}</h2></div>
<p><img src="{{ asset('imglogo/toolbox/bl/' ~ logodestin2)}}" alt="Logo" height="42" width="92" /></p>
<h4></h4>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Préparation{% endtrans %}: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date:{% endtrans %} {{ entity.datecom|date('d-m-Y') }}</th>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span8"> 
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Liste des articles à préparer{% endtrans %}:</th>
			<th>{% trans %}Quantité{% endtrans %}:</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ reference }}</td>
			<td>{{ qtte }}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			{% endif %}
		</tr>
	{% elseif resultcount > 1 %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.reference }}</td>
			<td>{{ article.qtte }}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			{% endif %}
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td></td>
			<td></td>
		</tr>
	{% endif %}
	</tbody>
</table>
<div class="page-header"></div>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}{% trans %}Type de Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}{% trans %}Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}{% trans %}Nom du Site{% endtrans %}: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}{% trans %}Num Magasin{% endtrans %}: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>{% trans %}Adresse de Livraison{% endtrans %}:</th>
			<th>{% trans %}Info contact{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>{% trans %}Tel{% endtrans %}: {{ destination.tel }} {% trans %}Fax{% endtrans %}:{{ destination.fax }}</p>
			<p>{% trans %}Contact{% endtrans %}: {{ destination.contact }}</p>
			</td>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </th>
            <td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date Livraison prévue{% endtrans %}</th>
            <td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y') }}{% endif %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date d'expédition{% endtrans %}</th>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		{% if app.session.get('applicationUSER') == "ToolboxInterv" %}
		<tr>
            <th>{% trans %}Modifier la date d'intervention prévue{% endtrans %}:</th>
            <td>
			<form action="{{ path('comclients_updateinterv', { 'id': entity.id }) }}" method="post" >
			<div class="input-append date" id="datepicker01" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateintervprev">
								<span class="add-on"><i class="icon-th"></i></span>
			<p>
				<button class="btn btn-mini btn-success" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
			</p>
			</form>
			</td>
        </tr>
		
		{% else %}
		{% endif %}
    </tbody>
</table>
<div class="span4">...</div>


{% if app.session.get('applicationUSER') == "Toolbox" %}
{% if entity.etat == 'Expédié' %}
{% else %}

{% endif %}
{% endif %}

        

</div>



		{% endblock %}
        {% block javascripts %}
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<script type="text/javascript" src="{{ asset('js/jquery1_9_1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.signaturepad.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/json2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/TableTools.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('js/flashcanvas.js') }}"></script><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if lte IE 9]><script src="{{ asset('js/webforms2-p.js') }}"></script><![endif]-->
		<script >
		$(function() {
		$("table#sortDatatable").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip<"clear">',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable2").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 4, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable3").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 3, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable4").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable5").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 2, "asc" ],[ 4, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable6").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ],[ 3, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable7").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable8").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable9").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable10").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ],[ 2, "asc" ]],
		"sDom": 'T<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable11").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": 3,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable12").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable13").dataTable({
		"iDisplayLength": 100,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable14").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable15").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": -1,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable16").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": '<"clear">rt',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable17").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable18").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"aaSorting": [],
		"sDom": '<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script>
		$('#myModal').modal(options);
		</script>
		<script >
		$(function() {
		$("table#sortDatatableTot").dataTable({
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][6]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][8]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[6].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[8].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample2").tablesorter({ sortList: [[0,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD2").tablesorter({ sortList: [[0,0], [1,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD3").tablesorter({ sortList: [[0,0],[1,0],[2,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker01").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker02").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker03").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker04").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker05").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker06").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker2").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker3").datepicker()
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-1').timepicker({
                minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-2').timepicker({
				minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-3').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-4').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<SCRIPT language="JavaScript">
		function Lien() {
		i = document.Choix.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<SCRIPT language="JavaScript">
		function Lien2() {
		i = document.Choix2.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix2.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<script>
			var options = {
				drawOnly : true,
				penWidth : 1,
			};
			$(document).ready(function() {
			$('.sigPad').signaturePad(options);
			});
		</script>
		{% block indexdeskpage %}
		{% endblock %}
		{% block indextoolpage %} 
		{% endblock %}
		{% endblock %}
    </body>
</html>