{% extends '::base.html.twig' %}
{% block title %}
ToolBox - Liste des OP
{% endblock %}
{% block body %}
<div class="container">
<div class="page-header"><h4>Récapitulatif de vôtre OP:</h4></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Num Ordre de Préparation: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Date: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Liste des articles à préparer:</th>
			<th>Quantité:</th>
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ designat }}</td>
			<td>{{ qtte }}</td>
		</tr>
	{% else %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.designat }}</td>
			<td>{{ article.qtte }}</td>
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<div class="page-header"></div>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}Type de Compte: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}Compte: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}Nom du Site: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}Num Magasin: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>Adresse de Livraison:</th>
			<th>Info contact:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>Tel: {{ destination.tel }} Fax:{{ destination.fax }}</p>
			<p>Contact: {{ destination.contact }}</p>
			</td>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>Num Bon de commande de Maintenance: </th>
            <td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>Intervention: </th>
            <td>{% if entity.install %}<i class="icon-wrench"></i>{% endif %}</td>
        </tr>
		<tr>
            <th>Livraison simple: </th>
            <td>{% if not entity.install %}<i class="icon-share"></i>{% endif %}</td>
        </tr>
        <tr>
            <th>Commentaires:</th>
            <td>{{ entity.comm }}</td>
        </tr>
        <tr>
            <th>Bon de Livraison</th>
            <td>{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank">Télécharger <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>Etat</th>
            <td>{% if entity.etat %}{{ entity.etat }}{% endif %}</td>
        </tr>
		<tr>
            <th>Date Livraison prévue</th>
            <td>{% if entity.datelivrsouh %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>Date de sortie du stock en cours de préparation</th>
            <td>{% if entity.dateencoursprepa %}{{ entity.dateencoursprepa|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>Date de préparation en attente d'expédition</th>
            <td>{% if entity.dateprepare %}{{ entity.dateprepare|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>Date d'expédition</th>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>Date de livraison</th>
            <td>{% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
    </tbody>
</table>
</div>
{% block javascripts %}{% endblock %}
{% endblock %}