{% trans %}Bonjour{% endtrans %},

{% trans %}Vous venez de recevoir un mail de l'application Toolbox {% endtrans %}
{% trans %}Une demande d'installation viens d'être effectué par la société{% endtrans %}: {{ client }}
{% trans %}Le numéro d'ordre de préparation est le{% endtrans %}: {{ numOP }}

{% trans %}vous pouvez vous connecter à l'application pour visualiser l'ordre de{% endtrans %}
{% trans %}préparation en cliquant sur le lien suivant{% endtrans %}:
http://phareoscloud.org
{% trans %}muni de vos codes d'accès ToolboxIntervention{% endtrans %}
{% trans %}si vous êtes déjà connecté sur un autre profil il faut vous déconnecter{% endtrans %}
{% trans %}puis vous reconnecter sur le profil ToolboxIntervention{% endtrans %}

{% trans %}Cordialement{% endtrans %}
{% trans %}Pharéos Applications{% endtrans %}


{% trans %}ps: ce message vous est envoyé par un logiciel vous ne pouvez répondre directement à ce message{% endtrans %}