{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block audtechpage %} 
{{ parent() }}
<h4>{% trans %}Modification de l'audit qualité{% endtrans %}</h4>

<form action="{{ path('audtech_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div>
<h4>{% trans %}Date de Mise a jour{% endtrans %}: {{ entity.datemaj|date('d-m-Y') }}</h4>
</div>
	<div>
		<table class="table table-striped table-bordered table-condensed">
	<tbody>
	<tr>
	<td>
	<div><strong>{% trans %}Date de l'audit{% endtrans %}:</strong></div>
	<div class="input-append date" id="datepicker2" data-date={% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="date_maj">
				<span class="add-on"><i class="icon-th"></i></span>
	</td>
	</tr>
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th>{% trans %}Fonction{% endtrans %}</th>
		<th>{% trans %}Nomenclature{% endtrans %}</th>
		<th>{% trans %}Etat{% endtrans %}</th>
		<th>{% trans %}Commentaire Détaillé{% endtrans %}</th>
	</thead>
	<tbody>
		{% for tache in taches %}
		<tr>
			<td>{{ tache.fonction.nom }}</td>
			<td>{{ tache.tache }}</td>
			{% for audtprog in audtprogs %}
			{% if audtprog.tachesprogmag == tache %}
			<td><select multiple="multiple" name="etat{{ tache.id }}[ ]" id="etat">
				<option {% if audtprog.propre == 1 %} selected="selected" {% endif %} value="propre">{% trans %}Propre{% endtrans %}</option>
				<option {% if audtprog.traces == 1 %} selected="selected" {% endif %} value="trace">{% trans %}Traces{% endtrans %}</option>
				<option {% if audtprog.poussiere == 1 %} selected="selected" {% endif %} value="poussieres">{% trans %}Poussières{% endtrans %}</option>
				<option {% if audtprog.tache == 1 %} selected="selected" {% endif %} value="taches">{% trans %}Tâches{% endtrans %}</option> 
				<option {% if audtprog.fatuse == 1 %} selected="selected" {% endif %} value="use">{% trans %}Usé{% endtrans %}</option>
				</select>
			</td>
			<td><textarea name="com{{ tache.id }}" id="com">{{ audtprog.com }}</textarea></td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			</thead>
			<tbody>
				<tr>
					<th>{{ form_label(edit_form.carnetbord, " ") }}{% trans %}Carnet de Bord{% endtrans %}</th>
					<th>{{ form_widget(edit_form.carnetbord) }}</th>
				</tr>
				<tr>
					<th>{{ form_label(edit_form.matenpanne, " ") }}{{ form_widget(edit_form.matenpanne) }}{% trans %}Materiel en panne{% endtrans %}</th>
					<th>{{ form_widget(edit_form.prodmag) }}</th>
				</tr>
				<tr>
					<th>{{ form_label(edit_form.trait_prio, " ") }}{% trans %}Traitement Prioritaire{% endtrans %}</th>
					<th>{{ form_widget(edit_form.trait_prio) }}</th>
				</tr>
			</tbody>
        </table>
		<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable et signature{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Signature impossible Directrice indisponible{% endtrans %} ?: <p>{{ form_widget(edit_form.dispodir) }}</p></td>
				<td>{% trans %}Point avec{% endtrans %} ?: <p>{{ form_widget(edit_form.pointdirres) }}</p></td>
			</tr>
		</tbody>
	</table>
		<table>
						<tr>
							<td align="center">{% trans %}Commentaires Traitement Prioritaire{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.trait_prio_com) }}</td>
						</tr>
		</table>
	</div>
    {{ form_rest(edit_form) }}
<p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
</p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('audtech') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}