{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block audtechpage %} 
{{ parent() }}
<h4>{% trans %}Listing des audits qualité{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable18">
    <thead>
        <tr>
            <th>{% trans %}Date de Mise a Jour des Audits{% endtrans %}:</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
			<th><i class="icon-file"></i> {% trans %}PDF{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{% if entity.datemaj %}{% if entity.traitPrio == 1 %}<font color="red">{{ entity.datemaj|date('d-m-Y') }}</font>{% else %}{{ entity.datemaj|date('d-m-Y') }}{% endif %}{% endif %}</td>
            <td align="center"><a href="{{ path('audtech_showsingle', { 'id': entity.id }) }}?idMag={{idMag}}">{% if entity.traitPrio == 1 %}<i class="icon-eye-open icon-red"></i>{% else %}<i class="icon-eye-open"></i>{% endif %}</a></td>
			<td align="center"><a href="{{ path('audtech_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
			<td align="center">{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('audtech_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br></br>
<ul>
    <a class="btn btn-primary" href="{{ path('audtech_new') }}?idMag={{idMag}}">
            {% trans %}Nouvel Audit{% endtrans %}
    </a>
</ul>
{% endblock %}