{% extends '::base.html.twig' %}
{% block title %}
{% trans %}Altea Nomade{% endtrans %} - {% trans %}Gestion d'actions Responsables de secteurs{% endtrans %}
{% endblock %}
{% block body %}
<table border="0" height="760" width="1076">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="760" width="1076" src="img/bg00001.jpg"/></div>
<div style="position:absolute;top:25.042;left:526.909;">
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">{% trans %}Audit{% endtrans %}</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">{% trans %}Qualité{% endtrans %}</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">{% trans %}Interne{% endtrans %}</span>
</div>
<div style="position:absolute;top:42.531;left:50.763;">
<span style="font-size:12.708;font-weight:bold;">{% trans %}Les{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}surfaces{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}horizontales{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}et{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}verticales{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}doivent{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}être{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}propres{% endtrans %},</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}dépoussièrées{% endtrans %},</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}sans{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}traces{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}et{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}sans{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}tâches{% endtrans %}.</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Hors{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}traces{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}d'usure{% endtrans %}.</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Poubelles{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}vide{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}et{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}propre{% endtrans %}.</span>
</div>
<div style="position:absolute;top:77.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Visuel{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Propre{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Traces{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Poussières{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Tâches{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Usé{% endtrans %}</span>
<span style="position:absolute;top:77.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Observations{% endtrans %}: {% if entity.parvissolcom %}{{ entity.parvissolcom }}{% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:44.222;">
<span style="font-size:10.708;">{% trans %}Parvis{% endtrans %}</span>
<span style="font-size:10.708;">:</span>
<span style="font-size:10.708;">{% trans %}sol{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Montants{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Vitres{% endtrans %}</span>
</div>
<div style="position:absolute;top:96.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:115.742;left:44.222;">
<span style="font-size:10.708;">{% trans %}Tapis{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}d'entrée{% endtrans %}</span>
</div>
<div style="position:absolute;top:115.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:133.354;left:44.222;">
<span style="font-size:10.708;">{% trans %}Portes{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}vitrées{% endtrans %}</span>
</div>
<div style="position:absolute;top:133.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:150.160;left:44.222;">
<span style="font-size:10.708;">{% trans %}Bornes{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}anti{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}vol{% endtrans %}</span>
</div>
<div style="position:absolute;top:150.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:167.966;left:44.222;">
<span style="font-size:10.708;">{% trans %}Miroirs{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Surfaces{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}vitrées{% endtrans %}</span>
</div>
<div style="position:absolute;top:167.966;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:185.772;left:44.222;">
<span style="font-size:10.708;">{% trans %}Portes{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Montants{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Piliers{% endtrans %}</span>
</div>
<div style="position:absolute;top:185.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:205.579;left:44.222;">
<span style="font-size:10.708;">{% trans %}Caisses{% endtrans %}</span>
</div>
<div style="position:absolute;top:205.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:221.726;left:44.222;">
<span style="font-size:10.708;">{% trans %}Dessus{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}et{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Façades{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}de{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}tiroirs{% endtrans %}</span>
</div>
<div style="position:absolute;top:221.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:239.532;left:44.222;">
<span style="font-size:10.708;">{% trans %}Maquillage{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Sephora{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}rapide{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}(pinceau){% endtrans %}</span>
</div>
<div style="position:absolute;top:239.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:257.338;left:44.222;">
<span style="font-size:10.708;">{% trans %}Présentoirs{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}maquillage{% endtrans %}</span>
</div>
<div style="position:absolute;top:257.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:277.144;left:44.222;">
<span style="font-size:10.708;">{% trans %}EDG{% endtrans %}</span>
</div>
<div style="position:absolute;top:277.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:291.950;left:44.222;">
<span style="font-size:10.708;">{% trans %}Mobiliers{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}mobiles{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}animations{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Meubles{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Alu{% endtrans %}</span>
</div>
<div style="position:absolute;top:292.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:309.756;left:44.222;">
<span style="font-size:10.708;">{% trans %}Rehausses{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}et{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Joues{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}de{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}gondoles{% endtrans %}</span>
</div>
<div style="position:absolute;top:309.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:326.562;left:44.222;">
<span style="font-size:10.708;">{% trans %}Bar{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}à{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}beauté{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}(MUS){% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Nail{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}bar{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Sièges{% endtrans %}</span>
</div>
<div style="position:absolute;top:327.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:344.368;left:44.222;">
<span style="font-size:10.708;">{% trans %}Tablettes{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}bain{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Sephora{% endtrans %}</span>
</div>
<div style="position:absolute;top:345.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:362.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Récurent{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Propre{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Traces{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Poussières{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Tâches{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Usé{% endtrans %}</span>
<span style="position:absolute;top:362.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Observations{% endtrans %}: {% if entity.solSurfVCom %}{{ entity.solSurfVCom }}{% endif %}</span>
</div>
<div style="position:absolute;top:380.980;left:44.222;">
<span style="font-size:10.708;">{% trans %}Sol{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}surface{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}de{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}vente{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}tapis{% endtrans %}</span>
</div>
<div style="position:absolute;top:381.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:398.786;left:44.222;">
<span style="font-size:10.708;">{% trans %}Bureaux{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Plateaux{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Tables{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Ecrans{% endtrans %}</span>
</div>
<div style="position:absolute;top:399.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:417.592;left:44.222;">
<span style="font-size:10.708;">{% trans %}Corbeilles{% endtrans %}</span>
</div>
<div style="position:absolute;top:417.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:434.398;left:44.222;">
<span style="font-size:10.708;">{% trans %}WC{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Lavabo{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Corbeilles{% endtrans %}</span>
</div>
<div style="position:absolute;top:435.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:452.204;left:44.222;">
<span style="font-size:10.708;">{% trans %}Miroirs{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}sanitaire{% endtrans %}</span>
</div>
<div style="position:absolute;top:452.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:470.010;left:44.222;">
<span style="font-size:10.708;">{% trans %}Cuisine{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Plan{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}de{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}travail{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Siège{% endtrans %}</span>
</div>
<div style="position:absolute;top:471.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:488.816;left:44.222;">
<span style="font-size:10.708;">{% trans %}Evier{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}et{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}robinetterie{% endtrans %}</span>
</div>
<div style="position:absolute;top:488.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:505.622;left:44.222;">
<span style="font-size:10.708;">{% trans %}Sol{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}locaux{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}sociaux{% endtrans %}</span>
</div>
<div style="position:absolute;top:505.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:523.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">{% trans %}Nettoyage{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}de{% endtrans %}</span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}fond{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Propre{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Traces{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Poussières{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Tâches{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Usé{% endtrans %}</span>
<span style="position:absolute;top:523.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">{% trans %}Observations{% endtrans %}: {% if entity.solMecReCom %}{{ entity.solMecReCom }}{% endif %}</span>
</div>
<div style="position:absolute;top:541.235;left:44.222;">
<span style="font-size:10.708;">{% trans %}Sol{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Mécanisé{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Rénovation{% endtrans %}</span>
</div>
<div style="position:absolute;top:541.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:560.041;left:44.222;">
<span style="font-size:10.708;">{% trans %}Vitrerie{% endtrans %}</span>
</div>
<div style="position:absolute;top:560.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:577.847;left:44.222;">
<span style="font-size:10.708;">{% trans %}Caisses{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Nail{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}Bar{% endtrans %}</span>
</div>
<div style="position:absolute;top:577.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:595.653;left:44.222;">
<span style="font-size:10.708;">{% trans %}Tour{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}express{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Tour{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}en{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}verre{% endtrans %},</span>
<span style="font-size:10.708;">{% trans %}Boutiquette{% endtrans %}</span>
</div>
<div style="position:absolute;top:595.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:613.459;left:44.222;">
<span style="font-size:10.708;">{% trans %}Linéaires{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}muraux{% endtrans %}</span>
</div>
<div style="position:absolute;top:613.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:631.265;left:44.222;">
<span style="font-size:10.708;">{% trans %}Gondoles{% endtrans %}</span>
<span style="font-size:10.708;">{% trans %}centrale{% endtrans %}</span>
</div>
<div style="position:absolute;top:631.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:44.222;">
<span style="font-size:10.708;font-weight:bold;">{% trans %}Site{% endtrans %}: {{ app.session.get('nomGC') }} - {{ idlieuxaudit }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:260.222;">
<span style="font-size:10.708;font-weight:bold;">{% trans %}Ville{% endtrans %}: {{ nomville }} - {{ adruelieux }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:576.222;">
<span style="font-size:10.708;font-weight:bold;">{% trans %}Date{% endtrans %}: {{ datemaj }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:800.222;">
<span style="font-size:10.708;font-weight:bold;color:red;">{% trans %}TRAITEMENT PRIORITAIRE{% endtrans %}:</span>
</div>
<div style="position:absolute;top:647.265;left:980.222;">
<span style="font-size:10.708;">{% if entity.traitPrio == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:663.265;left:44.222;">
<span style="font-size:10.708;">{% trans %}Nom et signature chargé de secteur{% endtrans %}:</span>
<span style="font-size:10.708;">{{ entity.nomsignaltea }}</span>
</div>
<div style="position:absolute;top:679.265;left:44.222;">
<span style="font-size:10.708;"><img src="imgsign/audit/{{ entity.imgsignaltea }}" height="82" width="126"></span>
</div>
<div style="position:absolute;top:663.265;left:418.222;">
<span style="font-size:10.708;">{% trans %}Nom et signature{% endtrans %} {{ app.session.get('nomGC') }}:</span>
<span style="font-size:10.708;">{{ entity.nomsignclient }}</span>
</div>
<div style="position:absolute;top:679.265;left:418.222;">
<span style="font-size:10.708;"><img src="imgsign/audit/{{ entity.imgsignclient }}" height="82" width="126"></span>
</div>
<div style="position:absolute;top:667.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.poinMag == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:667.265;left:760.222;">
<span style="font-size:10.708;">{% trans %}Points avec le magasin{% endtrans %}</span>
</div>
<div style="position:absolute;top:685.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.reapro == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:685.265;left:760.222;">
<span style="font-size:10.708;">{% trans %}Réapprovisionnement{% endtrans %}</span>
</div>
<div style="position:absolute;top:703.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.formPoAgen == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:703.265;left:760.222;">
<span style="font-size:10.708;">{% trans %}Formation (ou point) avec les agents{% endtrans %}</span>
</div>
<div style="position:absolute;top:721.265;left:722.222;">
<span style="font-size:10.708;">{% trans %}Satisfaction global client{% endtrans %}:</span>
</div>
<div style="position:absolute;top:721.265;left:886.222;">
<span style="font-size:10.708;">{% trans %}Bonne{% endtrans %}:</span>
</div>
<div style="position:absolute;top:721.265;left:928.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:721.265;left:956.222;">
<span style="font-size:10.708;">{% trans %}Mauvaise{% endtrans %}:</span>
</div>
<div style="position:absolute;top:721.265;left:1012.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:741.265;left:722.222;">
<span style="font-size:10.708;">{% trans %}Commentaires si traitement prioritaires{% endtrans %}:</span>
</div>
<div style="position:absolute;top:751.265;left:722.222;">
<span style="font-size:8.708;">{% if entity.traitPrio == 1 %}{{ entity.gondoleCentCom }}{% endif %}</span>
</div>
</td></tr>
</table>
{% block javascripts %}{% endblock %}
{% endblock %}