<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Altea Nomade - Gestion d'actions Responsables de secteurs</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/timepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.signaturepad.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes02.css') }}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ asset('css/TableTools.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/TableTools_JUI.css') }}" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<h4>Audit Qualité - {{ entity.datemaj|date('d-m-Y') }}</h4>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable16">
	<thead>
		<th>Fonction</th>
		<th>Nomenclature</th>
		<th>Propre</th>
		<th>Traces</th>
		<th>Poussières</th>
		<th>Tâches</th>
		<th>Usé</th>
		<th>Commentaires</th>
	</thead>
	<tbody>
		{% for tache in taches %}
		<tr>
			<td>{{ tache.fonction.nom }}</td>
			<td>{{ tache.tache }}</td>
			{% for audtprog in audtprogs %}
			{% if audtprog.tachesprogmag == tache %}
			<td align="center">{% if audtprog.propre == 1 %}<i class="icon-ok icon-green"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.traces == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.poussiere == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.tache == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.fatuse == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{{ audtprog.com }}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<table border="0" height="1076" width="760">
    <tbody>
		<tr>
			<th>Bon de vitrage {% if entity.filebv1 %}OK{% else %} Pas de Bon de vitrage {% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>Carnet de Bord  {% if entity.carnetbord == 1 %}OK{% else %} Carnet de bord non rempli {% endif %}</th>
			<th></th>
		</tr>
		{% if entity.matenpanne == 1 %}
		<tr>
			<th>Materiel en panne {% if entity.matenpanne == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th>{% if entity.matenpanne == 1 %}{{ entity.prodmag.nom }}{% endif %}</th>
		</tr>
		{% endif %}
		{% if entity.traitPrio == 1 %}
		<tr>
			<th>Traitement Prioritaire {% if entity.traitPrio == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>Commentaires Traitement Prioritaire</th>
			<th>{{ entity.traitPrioCom }}</th>
		</tr>
		{% endif %}
	</tbody>
</table>

<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Point avec Directrice ou Responsable:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% if entity.pointdirres %}Point avec la {{ entity.pointdirres }}{% endif %}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Point avec Agent:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Type de contact: {{ entity.pointagent }}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>Nom-Prénom du Signataire {{ app.session.get('societeUSER') }}</th>
			<th>Nom-Prénom du Signataire {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignclient }}</td>
		</tr>
	</tbody>
</table>

<table class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>Signature:</th>
			<th>Signature:</th>
		</tr>
		<tr>
			<td><img src="imgsign/audtech/{{ entity.imgsignaltea }}" height="65" width="101"></td>
			<td><img src="imgsign/audtech/{{ entity.imgsignclient }}" height="65" width="101"></td>
		</tr>
	</tbody>
</table>
<script type="text/javascript" src="{{ asset('js/jquery1_9_1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.signaturepad.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/json2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/TableTools.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
		<script >
		$(function() {
		$("table#sortDatatable").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip<"clear">',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable2").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 4, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable3").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 3, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable4").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable5").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"aaSorting": [[ 0, "asc" ],[ 2, "asc" ],[ 4, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable6").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"aaSorting": [[ 1, "asc" ],[ 3, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable7").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable8").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable9").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable10").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ],[ 2, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable11").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": 3,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable12").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable13").dataTable({
		"iDisplayLength": 100,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable14").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable15").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": -1,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable16").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": '<"clear">rt',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable17").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable18").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"aaSorting": [],
		"sDom": '<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable19").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable20").dataTable({
		"bProcessing": true,
		"bSortClasses": false,
		"aaSorting": [],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable21").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"iDisplayLength": -1,
		"aaSorting": [],
		"sDom": 'T<"clear">lfrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script>
		$('#myModal').modal(options);
		</script>
		<script>
		$(function() {
		$("table#sortDatatableTot").dataTable({
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][6]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][8]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[6].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[8].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample2").tablesorter({ sortList: [[0,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD2").tablesorter({ sortList: [[0,0], [1,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD3").tablesorter({ sortList: [[0,0],[1,0],[2,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker01").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker02").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker03").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker04").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker05").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker06").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker2").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker3").datepicker()
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-1').timepicker({
                minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-2').timepicker({
				minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-3').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-4').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-5').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
				defaultTime: '05:00'
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-6').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
				defaultValue: '05:00'
            });
		});
		</script>
		 <script type="text/javascript">
			$('#timepicker1').timepicker({
				minuteStep: 1,
				secondStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: true,
				showMeridian: false,
				defaultTime: '11:45'
			});
		</script>
		<script type="text/javascript">
			$('#timepicker10').timepicker({
				minuteStep: 30,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<script type="text/javascript">
			$('#timepicker11').timepicker({
				minuteStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<script type="text/javascript">
			$('#timepicker12').timepicker({
				minuteStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<SCRIPT language="JavaScript">
		function Lien() {
		i = document.Choix.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<SCRIPT language="JavaScript">
		function Lien2() {
		i = document.Choix2.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix2.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<script>
			var options = {
				drawOnly : true,
				penWidth : 1,
			};
			$(document).ready(function() {
			$('.sigPad').signaturePad(options);
			});
		</script>
    </body>
</html>