{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block com_article_tmppage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h3>Nouvelle Commande</h3></div>
Destination: 
{{ entitydestselect.compte }}
{{ entitydestselect.adresse1 }}
{{ entitydestselect.adresse2 }}
{{ entitydestselect.cp }} - {{ entitydestselect.ville }}

<p></p>
<div class="page-header"><h4>Liste des Articles en stock</h4></div>
<div class="spanscroll3" align="center">
<table class="table table-striped table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>Article</th>
            <th>Qtte</th>
        </tr>
    </thead>
    <tbody>
    {% for entityarticle in entitiesarticles %}
        <tr>
            <td>{{ entityarticle.designat }}</td>
            <td>{{ entityarticle.qtetot }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<div class="container">
<p></p>
<div class="page-header"></div>

<form action="{{ path('comarticletmp_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>{{ form_label(form.nomarticle, "Designation") }}</td>
			<td>{{ form_label(form.qtte, "Qtte") }}</td>
			<td></td>
		</tr>
		<tr>
			<td>{{ form_widget(form.nomarticle) }}</td>
			<td>{{ form_errors(form.qtte) }}{{ form_widget(form.qtte) }}</td>
			<td><button class="btn btn-primary" type="submit">Ajouter</button></td>
		</tr>
	</table>
    {{ form_rest(form) }}
	
    <p>
        
    </p>
</form>


<div class="page-header"><h4>Liste des Articles de la commande</h4></div>
<div>{% if not app.session.get('liste_erreurs_session') == '' %}<span class="label label-important">{{ app.session.get('liste_erreurs_session')}}</span>{% endif %}</div>
<div class="spanscroll3" align="center">

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Article</th>
            <th>Qtte</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nomarticle }}</td>
            <td>{{ entity.qtte }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<div class="container">
<p></p>


    <div class="row">
    <div class="span10"><p></p></div>
    <div class="span2"><a class="btn btn-success" href="{{ path('comclients_new') }}"><i class="icon-shopping-cart icon-white"></i> Commande -></a></div>
    </div>



</div>
{% endblock %}