{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block com_article_tmppage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Nouvelle Ordre de Préparation sélection des articles</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<pre><strong>Adresse de livraison: </strong>
{{ entitydestselect.compte }}
{{ entitydestselect.adresse1 }}
{{ entitydestselect.adresse2 }}
{{ entitydestselect.cp }} - {{ entitydestselect.ville }}
Tel: {{ entitydestselect.tel }} - Fax: {{ entitydestselect.fax }}</pre>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<div><h5>Liste des Articles à sélectionner:</h5></div>

</div>
<div class="container">
<p></p>
<form action="{{ path('comarticletmp_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Catégorie - Fournisseur - Article -> <strong>Stock: Réel (En attente de réception)</strong></td>
			<td>{{ form_errors(form.qtte) }}{{ form_label(form.qtte, "Quantité: ") }}</td>
		</tr>
		<tr>
			<td>
			<select name="nomarticle2" class="span13">
			{% for entityarticle2 in entitiesarticles %}
			{% if entityarticle2.qtetot <= 0 %}
				<OPTION VALUE="{{ entityarticle2.designat }}" style="color:#FF0000;">{{ entityarticle2.designat }} -> Stock: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% elseif entityarticle2.qtetot < 6 %}
				<OPTION VALUE="{{ entityarticle2.designat }}" style="color:#ff9933;">{{ entityarticle2.designat }} -> Stock: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% else %}
				<OPTION VALUE="{{ entityarticle2.designat }}">{{ entityarticle2.designat }} -> Stock: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% endif %}
			{% endfor %}
			</select>
			</td>
			<td>{{ form_widget(form.qtte) }}</td>
		</tr>
		<tr>
			<td><button class="btn btn-danger" type="submit">Ajouter</button></td>
			<td></td>
		</tr>
	</table>
    {{ form_rest(form) }}
	
    <p>
        
    </p>
</form>
<div>
</div>
{% if app.session.get('liste_erreurs_session') == 'ok' %}{% else %}<span class="label label-important">{{ app.session.get('liste_erreurs_session')}}</span>{% endif %}
{% if entities %}

<div><h5>Articles en préparation</h5></div>

<div align="center">

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Article</th>
            <th>Qtte</th>
			<th>Suppr</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nomarticle }}</td>
            <td>{{ entity.qtte }}</td>
			<td><form action="{{ path('comarticletmp_delete', { 'id': entity.id }) }}" method="post">
            
            <button class="btn btn-mini btn-danger" type="submit">Suppr</i></button>
			</form>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<div class="container">
<p></p>


    <div class="row">
    <div class="span8"><p></p></div>
    <div class="span4"><a class="btn btn-danger" href="{{ path('comclients_new') }}"><i class="icon-shopping-cart icon-white"></i> Ordre de préparation -></a></div>
    </div>



</div>
{% endif %}
{% if app.user.username == "jeffclient" %}
<div class="container">
<div class="row">
<div class="span10">
<form action="{{ path('comarticletmp_createpan') }}" method="post" {{ form_enctype(form) }}>
<div id="SmartCart" class="scMain">
{% for entityarticle2 in entitiesarticles %}
  <input type="hidden" pimage="" pprice=""
  pdesc="Stock disponible: {{ entityarticle2.qtetot }} - En attente de réception: {{ entityarticle2.qteencours }} - Réservé: {{ entityarticle2.qtereserve }}" pcategory="{{ entityarticle2.categorie }} - {{ entityarticle2.fourniss }}"
  pname="{{ entityarticle2.designat }}" pid="{{ entityarticle2.id }}">
{% endfor %}
</div>
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}