<h1>{% trans %}com_article_tmp{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Idarticle{% endtrans %}</th>
            <td>{{ entity.idarticle }}</td>
        </tr>
        <tr>
            <th>{% trans %}Qtte{% endtrans %}</th>
            <td>{{ entity.qtte }}</td>
        </tr>
        <tr>
            <th>{% trans %}Iduser{% endtrans %}</th>
            <td>{{ entity.iduser }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('com_article_tmp') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('com_article_tmp_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('com_article_tmp_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
