{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>{% trans %}Paramètrage Stock Produits{% endtrans %} - {% trans %}Materiels{% endtrans %} - {% trans %}Consommables des véhicules{% endtrans %}</h4>
<br></br>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable6">
    <thead>
        <tr>
            <th>{% trans %}Responsable Secteur{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Stock Restant{% endtrans %}</th>
            <th>{% trans %}Seuil{% endtrans %}</th>
			<th>{% trans %}Stock à déposé dans le véhicule{% endtrans %}</th>
            <th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.respsect.nom }} {{ entity.respsect.prenom }}</td>
			<td>{{ entity.prod.nom }}</td>
			<td align="center">{{ entity.stock }}</td>
            <td align="center">{{ entity.seuil }}</td>
			<td align="center">{{ entity.seuil - entity.stock }}</td>
            <td align="center"><a href="{{ path('prodvehic_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}