<h1>{% trans %}planjs list{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Tljs{% endtrans %}</th>
            <th>{% trans %}Lundi{% endtrans %}</th>
            <th>{% trans %}Mardi{% endtrans %}</th>
            <th>{% trans %}Mercredi{% endtrans %}</th>
            <th>{% trans %}Jeudi{% endtrans %}</th>
            <th>{% trans %}Vendredi{% endtrans %}</th>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('planjs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.tljs }}</td>
            <td>{{ entity.lundi }}</td>
            <td>{{ entity.mardi }}</td>
            <td>{{ entity.mercredi }}</td>
            <td>{{ entity.jeudi }}</td>
            <td>{{ entity.vendredi }}</td>
            <td>{{ entity.samedi }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('planjs_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('planjs_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('planjs_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
