{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planjsnewpage %} 
{{ parent() }}
<h4>{% trans %}Création planning js{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('planjs_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Lundi{% endtrans %}</th>
							<th>{% trans %}Mardi{% endtrans %}</th>
							<th>{% trans %}Mercredi{% endtrans %}</th>
							<th>{% trans %}Jeudi{% endtrans %}</th>
							<th>{% trans %}Vendredi{% endtrans %}</th>
							<th>{% trans %}Samedi{% endtrans %}</th>
							<th>{% trans %}Tous les Jours{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>{{ form_widget(form.lundi) }}</td>
							<td>{{ form_widget(form.mardi) }}</td>
							<td>{{ form_widget(form.mercredi) }}</td>
							<td>{{ form_widget(form.jeudi) }}</td>
							<td>{{ form_widget(form.vendredi) }}</td>
							<td>{{ form_widget(form.samedi) }}</td>
							<td>{{ form_widget(form.tljs) }}</td>
						</tr>
			</tbody>			
</table>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('planjs') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}