{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Liste des Emplacements{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable4">
    <thead>
        <tr>
            <th>{% trans %}Emplacement{% endtrans %}</th>
			<th>{% trans %}Travée{% endtrans %}</th>
			<th>{% trans %}Actif{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{{ entity.emplacement }}</td>
			<td align="center">{{ entity.alletrav }}</td>
			<td align="center">{% if entity.actif == 1 %}<i class="icon-flag icon-green"></i> {% else %}<i class="icon-lock"></i> {% endif %}</td>
            <td align="center"><a href="{{ path('emplacement_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('emplacement_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<br/>
<br/>

<ul>

        <a class="btn btn-primary" href="{{ path('emplacement_new') }}">
            {% trans %}Nouvel emplacement{% endtrans %}
        </a>

</ul>

</div>
{% endblock %}