{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th align="center">{% trans %}Id{% endtrans %}</th>
            <td align="center">{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="center">{% trans %}Emplacement{% endtrans %}</th>
            <td align="center">{{ entity.emplacement }}</td>
        </tr>
    </tbody>
</table>

			<a href="{{ path('emplacement_edit', { 'id': entity.id }) }}" class="btn btn-success">
				{% trans %}Modifier{% endtrans %}
			</a>

<br>
	</br>
	
<ul class="record_actions">

    <a href="{{  path('emplacement_new') }}" class="btn btn-primary">{% trans %}Nouvel emplacement{% endtrans %}</a>
    
	<br>
	</br>
	
	    <li>
			<a href="{{ path('emplacement') }}" >{% trans %}Retour à la liste{% endtrans %}</a>
		</li>
</ul>
</div>
{% endblock %}