{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Stockpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Stock{% endtrans %}</h4>
<pre>{% trans %}La fonction gestion du stockage est une fonction très riche qui comporte plusieurs étapes{% endtrans %}. {% trans %}L'entrée en stock s'effectue automatiquement au moment de la réception{% endtrans %}. {% trans %}Le mode de stockage doit être défini (masse, dynamique ou rack) ainsi que les fonctions logistiques dépendantes (gestion d'emplacements, le stockage par famille, optimisation..){% endtrans %}. {% trans %}Cette fonction assure en général, la gestion des inventaires et la gestion administrative des stocks{% endtrans %}. <p>{% trans %}La gestion du stockage détermine{% endtrans %} :</p></pre>
• {% trans %}Les articles en stock{% endtrans %}
• {% trans %}La quantité disponible{% endtrans %}
• {% trans %}Les modes de réapprovisionnement{% endtrans %}
• {% trans %}Le choix des dates de réapprovisionnement{% endtrans %}
• {% trans %}Le lancement des commandes{% endtrans %}
<pre>{% trans %}Pour assurer une gestion optimale des espaces de stockage, cette fonction permet d’affecter une adresse aux palettes à chaque demande de mouvements{% endtrans %}.
{% trans %}Ce calcul prend en compte{% endtrans %} :</pre>
• {% trans %}La disponibilité de l’emplacement{% endtrans %}
• {% trans %}La dimension et le poids de l’emplacement et de la palette{% endtrans %}
• {% trans %}Les unités logistiques acceptées dans cet emplacement{% endtrans %}
• {% trans %}Les familles logistiques{% endtrans %}
<pre>{% trans %}La fonction gestion du stockage permet également d’optimiser la gestion des mouvements, c’est-à-dire l’action consistant à déplacer une palette d’un emplacement vers un autre{% endtrans %}. {% trans %}Chaque mouvement est défini par une adresse de départ et une adresse d’arrivée{% endtrans %}.</pre>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Stock_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}