{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modification avenant{% endtrans %}</h4></div>

<form action="{{ path('avenant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date de la demande{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker2" {% if entity.datedemande %}{{ entity.datedemande|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datedemande %}{{ entity.datedemande|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datedemande">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.typeavenant, "") }}{% trans %}Type{% endtrans %}</th>
							<th>{{ form_label(edit_form.commentaire, "") }}{% trans %}Commentaire{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.typeavenant) }}</td>
							<td align="center">{{ form_widget(edit_form.commentaire) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.confirmok) }}{% trans %}Confirmation{% endtrans %}</th>
							<th>{% trans %}Date de confirmation{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.confirmok) }}</td>
							<td>
								<div class="input-append date" id="datepicker02" {% if entity.dateok %}{{ entity.dateok|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateok %}{{ entity.dateok|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateok">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date de création{% endtrans %}</th>
							<th>{% trans %}Date de mise à jour{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker03" {% if entity.datecrea %}{{ entity.datecrea|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datecrea %}{{ entity.datecrea|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datecrea">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker04" {% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datemaj">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
	</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('avenant') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}