{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Avenant du{% endtrans %} {{ entity.datedemande|date('d-m-Y') }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date de la demande{% endtrans %}</th>
            <td>{{ entity.datedemande|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Type d'avenant{% endtrans %}</th>
            <td>{{ entity.typeavenant }}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaire{% endtrans %}</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        <tr>
            <th>{% trans %}Confirm OK{% endtrans %}</th>
            <td>{% if entity.confirmok == 1 %}<i class="icon-ok icon-green"></i>{% else %}<i class="icon-ban-circle icon-red"></i>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Date OK{% endtrans %}</th>
            <td>{% if entity.dateok %}{{ entity.dateok|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Date de création{% endtrans %}</th>
            <td>{% if entity.datecrea %}{{ entity.datecrea|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Date mise à jour{% endtrans %}</th>
            <td>{% if entity.datemaj %}{{ entity.datemaj|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    </tbody>
</table>
<p>
<a class="btn btn-warning" href="{{ path('avenant_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('avenant') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}