{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Rangementpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Rangement{% endtrans %}</h4>
<pre>{% trans %}Proposition ou mise à disposition des emplacements{% endtrans %} - {% trans %}Zones réservées ou aléatoires{% endtrans %}</pre>
<pre> {% trans %}De la richesse des connaissances de l'application sur les articles stockés dépendront directement la puissance et la précision de votre outil de travail{% endtrans %}.

{% trans %}C'est pourquoi cette fonction vous invite à renseigner les champs de paramétrages qui vous sont utiles{% endtrans %}.

{% trans %}Ceux-ci prennent en charge pour chaque référence et famille d'articles{% endtrans %} :

    {% trans %}Les dates de péremption, les quarantaines{% endtrans %}...
    {% trans %}Les n° de lot, de série{% endtrans %}...
    {% trans %}Les dates des mouvements{% endtrans %}.
    {% trans %}Les magasins physiques{% endtrans %}.
    {% trans %}La photo de l'article{% endtrans %}
    {% trans %}Les modes de réapprovisionnement (seuil ou abonnement){% endtrans %}
    {% trans %}Les changements de codifications{% endtrans %}.
    {% trans %}Le prix d'achat, le calcul du prix d'achat moyen pondéré{% endtrans %}
</pre>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Rangement_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}