<h1>ville list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code_ville</th>
            <th>Ville</th>
            <th>Cp_ville</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Eloignement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('ville_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.CODEVILLE }}</td>
            <td>{{ entity.VILLE }}</td>
            <td>{{ entity.CPVILLE }}</td>
            <td>{{ entity.LATITUDE }}</td>
            <td>{{ entity.LONGITUDE }}</td>
            <td>{{ entity.ELOIGNEMENT }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('ville_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ville_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('ville_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
