<h1>ville</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Code_ville</th>
            <td>{{ entity.CODEVILLE }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ entity.VILLE }}</td>
        </tr>
        <tr>
            <th>Cp_ville</th>
            <td>{{ entity.CPVILLE }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ entity.LATITUDE }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ entity.LONGITUDE }}</td>
        </tr>
        <tr>
            <th>Eloignement</th>
            <td>{{ entity.ELOIGNEMENT }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ville') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ville_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ville_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
