{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesviewpage %} 
{{ parent() }}
<form action="{{ path('tachesprogmag_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Modification de la nomenclature{% endtrans %}: {{ entity.tache }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom de la tâche{% endtrans %}: <p>{{ form_widget(edit_form.tache) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Durée H:Min{% endtrans %}: <p>{{ form_widget(edit_form.duree) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Frequence{% endtrans %}: <p>{{ form_widget(edit_form.frequence) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Fonction{% endtrans %}: <p>{{ form_widget(edit_form.fonction) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Quantité{% endtrans %}: <p>{{ form_widget(edit_form.qte) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Marque Type{% endtrans %}: <p>{{ form_widget(edit_form.marqtype) }}</p></td>
			</tr>
		</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tachesprogmag_new') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}