{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesmagpage %} 
{{ parent() }}
<h4>{% trans %}Listing des Nomenclatures par magasins{% endtrans %}</h4>
<br></br>
<form action="{{ path('tachesprogmag_deletecheck') }}" method="post" {{ form_enctype(formdel) }}>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable13">
    <thead>
        <tr>
            <th>{% trans %}Fonction{% endtrans %}</th>
			<th>{% trans %}Nomenclature{% endtrans %}</th>
			<th>{% trans %}Marque - Type{% endtrans %}</th>
			<th>{% trans %}Fréquence{% endtrans %}</th>
            <th>{% trans %}Duree{% endtrans %}</th>
            <th>{% trans %}Qte{% endtrans %}</th>
			<th>{% trans %}Durée Totale{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
			<!-- <th><i class="icon-remove icon-red"></i> Supprimer</th> -->
			<th><i class="icon-remove icon-red"></i> {% trans %}Supprimer{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.fonction.nom }}</td>
			<td>{{ entity.tache }}</td>
			<td>{{ entity.marqtype }}</td>
			<td>{{ entity.frequence.nom }}</td>
            <td align="center">{{ entity.duree|date('H:i') }}</td>
            <td align="center">{{ entity.qte }}</td>
			{% if entity.qte is null %}
			<td></td>
			{% else %}
			<td align="center">{{ entity.dureetot|date('H:i') }}</td>
			{% endif %}
			<td align="center"><a href="{{ path('tachesprogmag_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
			<!-- <td align="center"><a href="{{ path('tachesprogmag_delete', { 'id': entity.id }) }}"><i class="icon-remove icon-red"></i></a></td> -->
			<!-- <td align="center">{{ form_label(formdel.delcheck, " ") }}{{ form_widget(formdel.delcheck) }}</td> -->
			<td align="center"><input type="checkbox" name="checkdel{{ entity.id }}" id="myCheckbox{{ entity.id }}" value="OK"></td>
        </tr>
    {% endfor %}
	
    </tbody>
</table>
<br>
</br>
<p>
        <button class="btn btn-danger" type="submit">{% trans %}Supprimer{% endtrans %}</button>
</p>
</form>
<br>
</br>
</div>
<div class="container">
<form action="{{ path('tachesprogmag_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}Nomenclature{% endtrans %}</th>
			<th>{% trans %}Fonction{% endtrans %}</th>
			<th>{% trans %}Fréquence{% endtrans %}</th>
			<th>{% trans %}Marque - Type{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ form_widget(form.tache) }}</td>
			<td>{{ form_widget(form.fonction) }}</td>
			<td>{{ form_widget(form.frequence) }}</td>
			<td>{{ form_widget(form.marqtype) }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}Durée H:Min{% endtrans %}</th>
			<th>{% trans %}Qte{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ form_widget(form.duree) }}</td>
			<td>{{ form_widget(form.qte) }}</td>
        </tr>
    </tbody>
</table>
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}
{% block javascripts %}
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<script type="text/javascript" src="{{ asset('js/jquery1_9_1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.signaturepad.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/json2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/TableTools.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('js/flashcanvas.js') }}"></script><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if lte IE 9]><script src="{{ asset('js/webforms2-p.js') }}"></script><![endif]-->
		<script >
		$(function() {
		$("table#sortDatatable").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip<"clear">',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable2").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 4, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable3").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 3, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable4").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable5").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 2, "asc" ],[ 4, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable6").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ],[ 3, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable7").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable8").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable9").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable10").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ],[ 2, "asc" ]],
		"sDom": 'T<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable11").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": 3,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable12").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable13").dataTable({
		"iDisplayLength": 100,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable14").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable15").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": -1,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable16").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": '<"clear">rt',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable17").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable18").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"aaSorting": [],
		"sDom": '<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable19").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script>
		$('#myModal').modal(options);
		</script>
		<script >
		$(function() {
		$("table#sortDatatableTot").dataTable({
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][6]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][8]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[6].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[8].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample2").tablesorter({ sortList: [[0,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD2").tablesorter({ sortList: [[0,0], [1,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD3").tablesorter({ sortList: [[0,0],[1,0],[2,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker01").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker02").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker03").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker04").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker05").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker06").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker2").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker3").datepicker()
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-1').timepicker({
                minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-2').timepicker({
				minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-3').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-4').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<SCRIPT language="JavaScript">
		function Lien() {
		i = document.Choix.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<SCRIPT language="JavaScript">
		function Lien2() {
		i = document.Choix2.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix2.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<script>
			var options = {
				drawOnly : true,
				penWidth : 1,
			};
			$(document).ready(function() {
			$('.sigPad').signaturePad(options);
			});
		</script>
<script type="text/javascript" src="{{ asset('js/prettyCheckboxes.js') }}" charset="utf-8"></script>
<script>
$(document).ready(function(){
	$('input[type=checkbox2],input[type=radio2]').prettyCheckboxes({
		checkboxWidth: 34, // The width of your custom checkbox
		checkboxHeight: 34, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'list' // The style you want it to be display (inline or list)
	});
});
</script>
<script>
$(document).ready(function(){
	$('input[type=checkbox3],input[type=radio3]').prettyCheckboxes({
		checkboxWidth: 34, // The width of your custom checkbox
		checkboxHeight: 34, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'list' // The style you want it to be display (inline or list)
	});
});
</script>
{% endblock %}