<h1>{% trans %}tachesprogmag{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tache{% endtrans %}</th>
            <td>{{ entity.tache }}</td>
        </tr>
        <tr>
            <th>{% trans %}Duree{% endtrans %}</th>
            <td>{{ entity.duree|date('H:i') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nomgc{% endtrans %}</th>
            <td>{{ entity.nomgc }}</td>
        </tr>
        <tr>
            <th>{% trans %}Qte{% endtrans %}</th>
            <td>{{ entity.qte }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tachesprogmag') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('tachesprogmag_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('tachesprogmag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
