{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationpage %} 
{{ parent() }}
<h4>{% trans %}Listing contrôle des Audits Globaux{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable6">
    <thead>
        <tr>
            <th>{% trans %}Num{% endtrans %}</th>
			<th>{% trans %}R.S.{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Magasin{% endtrans %}</th>
            <th>{% trans %}Sign.{% endtrans %}</th>
			<th>{% trans %}Audit{% endtrans %}</th>
			<!-- <th>Absence</th> -->
			<th>{% trans %}Motif{% endtrans %}</th>
			<th>{% trans %}Etat{% endtrans %}</th>
			<!-- <th>Num Audit</th> -->
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
	{% if entity.moi <= "now"|date("n") %}
		<tr>
            <td align="center">{% if entity.rdvous is null %}<font color="firebrick">{{ entity.id }}</font>{% elseif entity.dispodir == 1 %}<font color="tomato">{{ entity.id }}</font>{% elseif entity.signe == 1 %}<font color="limegreen">{{ entity.id }}</font>{% else %}<font color="firebrick">{{ entity.id }}</font>{% endif %}</td>
			<td align="center">{% if entity.rdvous is null %}<font color="firebrick">{{ entity.respsect }}</font>{% elseif entity.dispodir == 1 %}<font color="tomato">{{ entity.respsect }}</font>{% elseif entity.signe == 1 %}<font color="limegreen">{{ entity.respsect }}</font>{% else %}<font color="firebrick">{{ entity.respsect }}</font>{% endif %}</td>
			<td align="center">
			{% if entity.rdvous is null %}
			<font color="firebrick">
			{% if entity.moi == 1 %}
			Janvier {{ entity.annee }}
			{% elseif entity.moi == 2 %}
			Février {{ entity.annee }}
			{% elseif entity.moi == 3 %}
			Mars {{ entity.annee }}
			{% elseif entity.moi == 4 %}
			Avril {{ entity.annee }}
			{% elseif entity.moi == 5 %}
			Mai {{ entity.annee }}
			{% elseif entity.moi == 6 %}
			Juin {{ entity.annee }}
			{% elseif entity.moi == 7 %}
			Juillet {{ entity.annee }}
			{% elseif entity.moi == 8 %}
			Aout {{ entity.annee }}
			{% elseif entity.moi == 9 %}
			Septembre {{ entity.annee }}
			{% elseif entity.moi == 10 %}
			Octobre {{ entity.annee }}
			{% elseif entity.moi == 11 %}
			Novembre {{ entity.annee }}
			{% else %}
			Décembre {{ entity.annee }}
			{% endif %}
			</font>
			{% elseif entity.dispodir == 1 %}
			<font color="tomato">
			{% if entity.moi == 1 %}
			Janvier {{ entity.annee }}
			{% elseif entity.moi == 2 %}
			Février {{ entity.annee }}
			{% elseif entity.moi == 3 %}
			Mars {{ entity.annee }}
			{% elseif entity.moi == 4 %}
			Avril {{ entity.annee }}
			{% elseif entity.moi == 5 %}
			Mai {{ entity.annee }}
			{% elseif entity.moi == 6 %}
			Juin {{ entity.annee }}
			{% elseif entity.moi == 7 %}
			Juillet {{ entity.annee }}
			{% elseif entity.moi == 8 %}
			Aout {{ entity.annee }}
			{% elseif entity.moi == 9 %}
			Septembre {{ entity.annee }}
			{% elseif entity.moi == 10 %}
			Octobre {{ entity.annee }}
			{% elseif entity.moi == 11 %}
			Novembre {{ entity.annee }}
			{% else %}
			Décembre {{ entity.annee }}
			{% endif %}
			</font>
			{% elseif entity.signe == 1 %}
			<font color="limegreen">
			{% if entity.moi == 1 %}
			Janvier {{ entity.annee }}
			{% elseif entity.moi == 2 %}
			Février {{ entity.annee }}
			{% elseif entity.moi == 3 %}
			Mars {{ entity.annee }}
			{% elseif entity.moi == 4 %}
			Avril {{ entity.annee }}
			{% elseif entity.moi == 5 %}
			Mai {{ entity.annee }}
			{% elseif entity.moi == 6 %}
			Juin {{ entity.annee }}
			{% elseif entity.moi == 7 %}
			Juillet {{ entity.annee }}
			{% elseif entity.moi == 8 %}
			Aout {{ entity.annee }}
			{% elseif entity.moi == 9 %}
			Septembre {{ entity.annee }}
			{% elseif entity.moi == 10 %}
			Octobre {{ entity.annee }}
			{% elseif entity.moi == 11 %}
			Novembre {{ entity.annee }}
			{% else %}
			Décembre {{ entity.annee }}
			{% endif %}
			</font>
			{% else %}
			<font color="firebrick">
			{% if entity.moi == 1 %}
			Janvier {{ entity.annee }}
			{% elseif entity.moi == 2 %}
			Février {{ entity.annee }}
			{% elseif entity.moi == 3 %}
			Mars {{ entity.annee }}
			{% elseif entity.moi == 4 %}
			Avril {{ entity.annee }}
			{% elseif entity.moi == 5 %}
			Mai {{ entity.annee }}
			{% elseif entity.moi == 6 %}
			Juin {{ entity.annee }}
			{% elseif entity.moi == 7 %}
			Juillet {{ entity.annee }}
			{% elseif entity.moi == 8 %}
			Aout {{ entity.annee }}
			{% elseif entity.moi == 9 %}
			Septembre {{ entity.annee }}
			{% elseif entity.moi == 10 %}
			Octobre {{ entity.annee }}
			{% elseif entity.moi == 11 %}
			Novembre {{ entity.annee }}
			{% else %}
			Décembre {{ entity.annee }}
			{% endif %}
			</font>
			{% endif %}
			</td>
			<td>{% if entity.rdvous is null %}<font color="firebrick">SEPHORA - {{ entity.lieux.CODAG }} - {{ entity.lieux.NOMVILLE }} - {{ entity.lieux.ADRUELIEUX }}</font>{% elseif entity.dispodir == 1 %}<font color="tomato">SEPHORA - {{ entity.lieux.CODAG }} - {{ entity.lieux.NOMVILLE }} - {{ entity.lieux.ADRUELIEUX }}</font>{% elseif entity.signe == 1 %}<font color="limegreen">SEPHORA - {{ entity.lieux.CODAG }} - {{ entity.lieux.NOMVILLE }} - {{ entity.lieux.ADRUELIEUX }}</font>{% else %}<font color="firebrick">SEPHORA - {{ entity.lieux.CODAG }} - {{ entity.lieux.NOMVILLE }} - {{ entity.lieux.ADRUELIEUX }}</font>{% endif %}</td>
            <td align="center">{% if entity.dispodir == 1 %}<i class="icon-remove icon-red"></i>{% else %}{% if entity.signe == 1 %}<a href="{{ path('auditmensuel_show', { 'id': entity.dernumag }) }}?idMag={{entity.lieux.id}}"><i class="icon-check icon-green"></i>{% endif %}{% endif %}</td>
			<td align="center">{% if entity.rdvous == 1 %}<a href="{{ path('auditmensuel_show', { 'id': entity.dernumag }) }}?idMag={{entity.lieux.id}}"><i class="icon-calendar icon-green"></i>{% else %}<i class="icon-remove icon-red"></i>{% endif %}</td>
			<!-- <td align="center">{% if entity.dispodir == 1 %}<i class="icon-flag icon-red"></i>{% endif %}</td> -->
            <td>{% if entity.rdvous is null %}<font color="firebrick">{{ entity.motifabs }}</font>{% elseif entity.dispodir == 1 %}<font color="tomato">{{ entity.motifabs }}</font>{% elseif entity.signe == 1 %}<font color="limegreen">{{ entity.motifabs }}</font>{% else %}<font color="firebrick">{{ entity.motifabs }}</font>{% endif %}</td>
			<td align="center">{% if entity.rdvous == 1 %}{% if entity.dispodir == 1 %}Directrice Absente{% else %}Rdz vous effectué{% endif %}{% else %}Rdz-vous NON effectué{% endif %}</td>
			<!-- <td align="center">{{ entity.dernumag }}</td> -->
        </tr>
	{% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}