<h1>{% trans %}controlag{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mois{% endtrans %}</th>
            <td>{{ entity.moi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Annee{% endtrans %}</th>
            <td>{{ entity.annee }}</td>
        </tr>
        <tr>
            <th>{% trans %}Signe{% endtrans %}</th>
            <td>{{ entity.signe }}</td>
        </tr>
        <tr>
            <th>{% trans %}Rdvous{% endtrans %}</th>
            <td>{{ entity.rdvous }}</td>
        </tr>
        <tr>
            <th>{% trans %}Respsect{% endtrans %}</th>
            <td>{{ entity.respsect }}</td>
        </tr>
        <tr>
            <th>{% trans %}Active{% endtrans %}</th>
            <td>{{ entity.active }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('controlag') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('controlag_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('controlag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
