<h1>lieuxmagasin</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Id_gc</th>
            <td>{{ entity.idgc }}</td>
        </tr>
        <tr>
            <th>Matricule_gc</th>
            <td>{{ entity.matriculegc }}</td>
        </tr>
        <tr>
            <th>Codag</th>
            <td>{{ entity.codag }}</td>
        </tr>
        <tr>
            <th>Adres1mag</th>
            <td>{{ entity.adres1mag }}</td>
        </tr>
        <tr>
            <th>Adres2mag</th>
            <td>{{ entity.adres2mag }}</td>
        </tr>
        <tr>
            <th>Cpmag</th>
            <td>{{ entity.cpmag }}</td>
        </tr>
        <tr>
            <th>Villemag</th>
            <td>{{ entity.villemag }}</td>
        </tr>
        <tr>
            <th>Emailmag</th>
            <td>{{ entity.emailmag }}</td>
        </tr>
        <tr>
            <th>Faxmag</th>
            <td>{{ entity.faxmag }}</td>
        </tr>
        <tr>
            <th>Telmag</th>
            <td>{{ entity.telmag }}</td>
        </tr>
        <tr>
            <th>Tel2mag</th>
            <td>{{ entity.tel2mag }}</td>
        </tr>
        <tr>
            <th>Tel3mag</th>
            <td>{{ entity.tel3mag }}</td>
        </tr>
        <tr>
            <th>Tel4</th>
            <td>{{ entity.tel4 }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>{{ entity.commentaires }}</td>
        </tr>
        <tr>
            <th>Agent_1_id</th>
            <td>{{ entity.agent1id }}</td>
        </tr>
        <tr>
            <th>Agent_2_id</th>
            <td>{{ entity.agent2id }}</td>
        </tr>
        <tr>
            <th>Agent_3_id</th>
            <td>{{ entity.agent3id }}</td>
        </tr>
        <tr>
            <th>Agent_4_id</th>
            <td>{{ entity.agent4id }}</td>
        </tr>
        <tr>
            <th>Agent_5_id</th>
            <td>{{ entity.agent5id }}</td>
        </tr>
        <tr>
            <th>Agent_6_id</th>
            <td>{{ entity.agent6id }}</td>
        </tr>
        <tr>
            <th>Agent_7_id</th>
            <td>{{ entity.agent7id }}</td>
        </tr>
        <tr>
            <th>Agent_8_id</th>
            <td>{{ entity.agent8id }}</td>
        </tr>
        <tr>
            <th>Agent_9_id</th>
            <td>{{ entity.agent9id }}</td>
        </tr>
        <tr>
            <th>Agent_10_id</th>
            <td>{{ entity.agent10id }}</td>
        </tr>
        <tr>
            <th>Societeuser</th>
            <td>{{ entity.societeuser }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('lieuxmagasin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lieuxmagasin_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('lieuxmagasin_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
