{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>{% trans %}Listing Produits{% endtrans %} - {% trans %}Materiels{% endtrans %} - {% trans %}Consommables{% endtrans %}</h4>
<div class="container">
    <div class="modal hide" id="myModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{% trans %}Modal header{% endtrans %}</h3>
    </div>
    <div class="modal-body">
    <p>{% trans %}One fine body{% endtrans %}…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{% trans %}Close{% endtrans %}</a>
    <a href="#" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</a>
    </div>
    </div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Seuil du Magasin{% endtrans %}</th>
            <th>{% trans %}Seuil du Véhicule{% endtrans %}</th>
            <!-- <th>Déposé</th> -->
			<!-- <th>Livraison 3 / 4 Jours</th> -->
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesprodmag %}
		{% if entity.nom != '-----------' %}
        <tr>
            <td>{{ entity.nom }}</td>
			<td>{{ entity.typemat }}</td>
            <td align="center">{{ entity.seuilmag }}</td>
            <td align="center">{{ entity.seuilveh }}</td>
            <!-- <td align="center"><a data-toggle="modal" data-id="107" href="#myModal"><i class="icon-share icon-green"></i></a></td> -->
			<!-- <td align="center"><a href="#"><i class="icon-road icon-green"></i></a></td> -->
        </tr>
		{% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<h4>{% trans %}Dépots dans le magasin ou demande de réapro via livraison{% endtrans %}</h4>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Quantité{% endtrans %}</th>
            <th>{% trans %}Stock Restant dans le véhicule{% endtrans %}</th>
			<th>{% trans %}Seuil Véhicule{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.prodmag.nom }}</td>
			<td align="center">{{ entity.typlivr }}</td>
			<td align="center">{{ entity.depotmag }}</td>
            <td align="center">{{ entity.prodvehic.stock }}</td>
			<td align="center">{{ entity.prodmag.seuilveh }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<div class="container">
<form action="{{ path('stockmag_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Date du dépot{% endtrans %}</th>
							<th>{% trans %}Nom{% endtrans %}</th>
							<th>{% trans %}Quantité{% endtrans %}</th>
							<th>{% trans %}Type de dépot{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datedepot">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>{{ form_widget(form.prodmag) }}</td>
							<td>{{ form_widget(form.depotmag) }}</td>
							<td>{{ form_widget(form.typlivr) }}</td>
						</tr>
			</tbody>			
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}