<h1>{% trans %}stockmag{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Depotmag{% endtrans %}</th>
            <td>{{ entity.depotmag }}</td>
        </tr>
        <tr>
            <th>{% trans %}Typlivr{% endtrans %}</th>
            <td>{{ entity.typlivr }}</td>
        </tr>
        <tr>
            <th>{% trans %}Stockve{% endtrans %}</th>
            <td>{{ entity.stockve }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('stockmag') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('stockmag_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('stockmag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
