{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>{% trans %}Bloc notes du magasin{% endtrans %}</h4>
<br></br>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('notescom_create') }}?idMag={{idMag}}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "Vos Commentaires Suggestions:") }}
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}