{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Contrats{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
			<th>{% trans %}Date d'embauche{% endtrans %}</th>
			<th>{% trans %}Date du contrat{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Avenant{% endtrans %}</th>
            <th>{% trans %}Num avenant{% endtrans %}</th>
            <th>{% trans %}Date d'envoi{% endtrans %}</th>
            <th>{% trans %}Date renvoi contrat signé{% endtrans %}</th>
            <th>{% trans %}Date de fin{% endtrans %}</th>
            <th>{% trans %}Commentaires{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modif{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.dateemb %}{{ entity.dateemb|date('d-m-Y') }}{% endif %}</td>
			<td>{% if entity.datecont %}{{ entity.datecont|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.type }}</td>
            <td>{% if entity.avenant == 1 %}<i class="icon-ok icon-green"></i>{% else %}<i class="icon-ban-circle icon-red"></i>{% endif %}</td>
            <td>{{ entity.numav }}</td>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.daterenv %}{{ entity.daterenv|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.commentaires }}</td>
            <td align="center"><a href="{{ path('contrats_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('contrats_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('contrats_new') }}">
            {% trans %}Nouveau Contrat{% endtrans %}
        </a>
</ul>
</p>
{% endblock %}