{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Contrat du{% endtrans %} {{ entity.datecont|date('d-m-Y') }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date de debut du contrat{% endtrans %}</th>
            <td>{{ entity.dateemb|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Type{% endtrans %}</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>{% trans %}Avenant{% endtrans %}</th>
            <td>{{ entity.avenant }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num avenant{% endtrans %}</th>
            <td>{{ entity.numav }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date d'envoi du contrat{% endtrans %}</th>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Date Retour signé{% endtrans %}</th>
            <td>{% if entity.daterenv %}{{ entity.daterenv|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Date fin de contrat{% endtrans %}</th>
            <td>{% if entity.datefin %}{{ entity.datefin|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}</th>
            <td>{{ entity.commentaires }}</td>
        </tr>
    </tbody>
</table>
<p>
<a class="btn btn-warning" href="{{ path('contrats_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('contrats') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}