{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationnewpage %} 
{{ parent() }}
<h4>{% trans %}Modification recadrage agent{% endtrans %} {{ entity.agent.nompers }} {{ entity.agent.prenompers }} {% trans %}du{% endtrans %} {{ entity.daterecad|date('d-m-Y') }}</h4>
<br></br>
<form action="{{ path('recadrage_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Objectifs{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Prochaine Date de vérification objectif{% endtrans %}: {{ entity.dateobj|date('d-m-Y') }}</td>
			</tr>
			<tr>
				<td>{% trans %}Commentaire{% endtrans %}: <p>{{ form_widget(edit_form.objectcom) }}</p></td>
			</tr>
			<tr>
				<td>{{ form_rest(edit_form) }}</td>
			</tr>
		</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('recadrage') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}