{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationnewpage %} 
{{ parent() }}
<h4>{% trans %}Nouveau Recadrage{% endtrans %}</h4>
<br></br>
<form action="{{ path('recadrage_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Date du recadrage{% endtrans %}: <div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="daterecad">
				<span class="add-on"><i class="icon-th"></i></span></td>
			</tr>
			<tr>
				<td>{% trans %}Agent{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ form_widget(form.agent) }}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Objectifs{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Commentaire{% endtrans %}: <p>{{ form_widget(form.objectcom) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Prochaine Date de vérification objectif{% endtrans %}: <div class="input-append date" id="datepicker" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="dateobj">
				<span class="add-on"><i class="icon-th"></i></span></td>
			</tr>
			<tr>
				<td>{{ form_rest(form) }}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Nom-Prénom du Signataire Agent{% endtrans %}</th>
		</tr>
		<tr>
			<td><input size="16" type="text" value={{ app.session.get('nomUSER') ~ "-" ~ app.session.get('prenomUSER') }} name="nomsignaltea"></td>
			<td><input size="16" type="text" value="" name="nomsignagent"></td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
				<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
							<ul class="sigNav">
								<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
							</ul>
							<div class="sig sigWrapper">
								<div class="typed"></div>
								<canvas class="pad" width="298" height="190"></canvas>
								<input type="hidden" name="output1" class="output">
							</div>
					</div>
					</td>
					<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
						<ul class="sigNav">
							<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
						</ul>
						<div class="sig sigWrapper">
							<div class="typed"></div>
							<canvas class="pad" width="298" height="190"></canvas>
							<input type="hidden" name="output2" class="output">
						</div>
					</div>
					</td>
					
		</tr>
	</thead>
</table>
    <p>
        <button class="btn btn-danger" type="submit">{% trans %}Je certifie sur l'honneur l'éxactitude des renseignements ci-dessus{% endtrans %}.</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('recadrage') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}