{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationnewpage %} 
{{ parent() }}
<h4>{% trans %}Recadrage du{% endtrans %} {{ entity.daterecad|date('d-m-Y') }}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Agent{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.agent.nompers }} {{ entity.agent.prenompers }}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Objectifs{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>
				{% if entity.object == 1 %}
					<div class="alert alert-error">
						{{ entity.objectcom }}
					</div>
				{% else %}
					<div class="alert alert-success">
						{{ entity.objectcom }}
					</div>
				{% endif %}
				</p></td>
			</tr>
			<tr>
				<td>{% trans %}Prochaine Date de vérification objectif{% endtrans %}: {{ entity.dateobj|date('d-m-Y') }}</td>
			</tr>
			<tr>
				<td>{% trans %}Objectif Atteint{% endtrans %}: {% if entity.objatt == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</td>
			</tr>
			<tr>
				<td>{% trans %}Objectif à atteindre{% endtrans %}: {% if entity.object == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Nom-Prénom du Signataire Agent{% endtrans %}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignagent }}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Signature{% endtrans %}:</th>
			<th>{% trans %}Signature{% endtrans %}:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/recadrage/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/recadrage/{{ entity.imgsignagent }}"></td>
		</tr>
	</thead>
</table>
<a class="btn btn-warning" href="{{ path('recadrage_edit', { 'id': entity.id }) }}?idMag={{idMag}}">
            {% trans %}Modifier{% endtrans %}
</a>
<br>
</br>
<ul class="record_actions">
    <li>
        <a href="{{ path('recadrage') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}