{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block categoriepage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing des catégories{% endtrans %}</h4></div>
<div class="progress progress-primary progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Catégorie{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.categorie }}</td>
			{% if app.session.get('applicationUSER') == "Toolbox" %}
			<td>{{ entity.client }}</td>
			{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>

        <a class="btn btn-primary" href="{{ path('categorie_new') }}">
            {% trans %}Nouvelle Catégorie{% endtrans %}
        </a>

</ul>
</div>
{% endblock %}