<h1>grdcompte</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Matricule_gc</th>
            <td>{{ entity.matriculegc }}</td>
        </tr>
        <tr>
            <th>Nom_gc</th>
            <td>{{ entity.nomgc }}</td>
        </tr>
        <tr>
            <th>Email_gc</th>
            <td>{{ entity.emailgc }}</td>
        </tr>
        <tr>
            <th>Adr1ss</th>
            <td>{{ entity.adr1ss }}</td>
        </tr>
        <tr>
            <th>Adr2ss</th>
            <td>{{ entity.adr2ss }}</td>
        </tr>
        <tr>
            <th>Cpss</th>
            <td>{{ entity.cpss }}</td>
        </tr>
        <tr>
            <th>Villess</th>
            <td>{{ entity.villess }}</td>
        </tr>
        <tr>
            <th>Tel</th>
            <td>{{ entity.tel }}</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ entity.fax }}</td>
        </tr>
        <tr>
            <th>Contactss</th>
            <td>{{ entity.contactss }}</td>
        </tr>
        <tr>
            <th>Commss</th>
            <td>{{ entity.commss }}</td>
        </tr>
        <tr>
            <th>Societeuser</th>
            <td>{{ entity.societeuser }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('grdcompte') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('grdcompte_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('grdcompte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
