{% extends '::base.html.twig' %}

{% block title %}
Phareos !
{% endblock %}

{% block body %}
Hello Phareos! Home Page Listing des mags classés par ville affichage ville, grand compte, adresse

Mag id 5: 
{# Dans une vue Twig, en considérant bien sûr que la variable article_id est disponible #}
<a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': 5 }) }}?tag=vacances">Lien vers l'article d'id 5</a>
{% endblock %}
