<h1>{% trans %}testarray{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Arr1{% endtrans %}</th>
            <td>{% if entity.arr1[0] is defined %}{{ entity.arr1[0] }}{% endif %}</td>
			<td>{% if entity.arr1[1] is defined %}{{ entity.arr1[1] }}{% endif %}</td>
			<td>{% if entity.arr1[2] is defined %}{{ entity.arr1[2] }}{% endif %}</td>
			<td>{% if entity.arr1[3] is defined %}{{ entity.arr1[3] }}{% endif %}</td>
			<td>{% if entity.arr1[4] is defined %}{{ entity.arr1[4] }}{% endif %}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('testarray') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('testarray_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('testarray_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
