{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Mise en stockage de l'OR Numéro{% endtrans %} {{ entity.numors|slice(0,14) }}-{{ entity.numors|slice(14,24) }}</h4></div>
<div class="container">
<div class="row">
<div class="span10">
<form action="{{ path('ordrecstock_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
<input type="hidden" name="idORS" value={{ entity.id }} />
<input type="hidden" name="idArticle" value={{ entity.articles.id }} />
<div id="SmartCartter" class="scMain">
{% for entityemplacement in entitiesemplacement %}
  <input type="hidden" pimage="" pprice="1" pmaxi="{{ entity.qteastocker }}"
  pdesc="{% trans %}Allée{% endtrans %}: {{ entityemplacement.emplacement|slice(0,1) }} - {% trans %}Travée{% endtrans %}: {{ entityemplacement.emplacement|slice(1,1) }} - {% trans %}Niveau{% endtrans %}: {{ entityemplacement.emplacement|slice(2,1) }} - {% trans %}Emplacement{% endtrans %}: {{ entityemplacement.emplacement|slice(3,1) }}" pcategory="{{ entityemplacement.alletrav|slice(0,1) }}-{{ entityemplacement.alletrav|slice(1,1) }}"
  pname="{% trans %}Emplacement{% endtrans %}: {{ entityemplacement.emplacement|slice(0,1) }}-{{ entityemplacement.emplacement|slice(1,1) }}-{{ entityemplacement.emplacement|slice(2,1) }}-{{ entityemplacement.emplacement|slice(3,1) }}" pid="{{ entityemplacement.id }}">
{% endfor %}
</div>
</form>
</div>
</div>
</div>
</div>
{% endblock %}