{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Client{% endtrans %} {{ entity.nom }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Département{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						{% for departement in entity.departements %}
						<tr>
							<td align="center">{{ departement.nom }}</td>
						</tr>
						{% endfor %}
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Compte{% endtrans %}</th>
							<th>{% trans %}Nom{% endtrans %}</th>
							<th>{% trans %}Num Mag{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.grdcpte.Nom }}</td>
							<td align="center">{{ entity.nom }}</td>
							<td align="center">{{ entity.nummag }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Adresse 1{% endtrans %}</th>
							<th>{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adres1 }}</td>
							<td align="center">{{ entity.adres2 }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Code Postal{% endtrans %}</th>
							<th>{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.cp }}</td>
							<td align="center">{{ entity.ville }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Téléphone{% endtrans %}</th>
							<th>{% trans %}Fax{% endtrans %}</th>
							<th>{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel }}</td>
							<td align="center">{{ entity.fax }}</td>
							<td align="center">{{ entity.mail }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Téléphone 2{% endtrans %}</th>
							<th>{% trans %}Téléphone 3{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel2 }}</td>
							<td align="center">{{ entity.tel3 }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Responsable du site{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.civilrespsite }}{% trans %}Civilité{% endtrans %}: </td>
							<td align="center">{{ entity.nomresposite }}{% trans %}Nom{% endtrans %}: </td>
							<td align="center">{{ entity.prenomrespsite }}{% trans %}Prénom{% endtrans %}: </td>
						</tr>
						<tr>
							<td align="center">{{ entity.telrespsite }}{% trans %}Tel{% endtrans %}: </td>
							<td align="center">{{ entity.mailrespsite }}{% trans %}Mail{% endtrans %}: </td>
							<td align="center">{{ entity.nomcolab }}{% trans %}Assistant{% endtrans %}: </td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{% trans %}Nbr Collaborateurs{% endtrans %}: {{ entity.nbrcolab }}</td>
							<td align="center">{% trans %}Types d'interventions{% endtrans %}: {{ entity.typeinter }}</td>
						</tr>
						<tr>
							<td align="center">{% trans %}Autre Intervenant{% endtrans %}: {{ entity.intervautre }}</td>
							<td align="center">{% trans %}Intervenant{% endtrans %}: {{ entity.nominterv }}</td>
							<td align="center">{% trans %}Fréquences d'Intervention{% endtrans %}: {{ entity.frequenceinterv }}</td>
						</tr>
						<tr>
							<td align="center">{% trans %}Surf. Vitrage{% endtrans %}: {{ entity.surfacevit }}</td>
							<td align="center">{% trans %}Surf. BO{% endtrans %}: {{ entity.surfacebo }}</td>
							<td align="center">{% trans %}Surf. Tapis{% endtrans %}: {{ entity.surfacetapis }}</td>
							<td align="center">{% trans %}Surf. Mag{% endtrans %}: {{ entity.surfacemag }}</td>
						</tr>
						<tr>
							<td align="center">{% trans %}Nbr Enseignes{% endtrans %}: {{ entity.nbrenseignes }}</td>
							<td align="center">{% trans %}Longueur Enseigne{% endtrans %}: {{ entity.longenseigne }}</td>
							<td align="center">{% trans %}Date mise en place{% endtrans %}: {{ entity.datemisenplace }}</td>
							<td align="center">{% trans %}Installation Distri{% endtrans %}.: {{ entity.installdistri }}</td>
						</tr>
						<tr>
							<td align="center">{% trans %}Cahier de Bord{% endtrans %}: {{ entity.cdb }}</td>
							<td align="center">{% trans %}Plan de Prévention{% endtrans %}: {{ entity.planprev }}</td>
						</tr>
						</tbody>
</table>
<p>
<form action="{{ path('client_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">{% trans %}Supprimer{% endtrans %}</button>
</form>
</p>
<p>
<a class="btn btn-warning" href="{{ path('client_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}