<h1>{% trans %}com_recip{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Idcomclients{% endtrans %}</th>
            <td>{{ entity.idcomclients }}</td>
        </tr>
        <tr>
            <th>{% trans %}Idarticles{% endtrans %}</th>
            <td>{{ entity.idarticles }}</td>
        </tr>
        <tr>
            <th>{% trans %}Qtte{% endtrans %}</th>
            <td>{{ entity.qtte }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('com_articles') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('com_articles_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('com_articles_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
