{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block responsmagaffectationpage %} 
{{ parent() }}
<h4>{% trans %}Affectation d'un responsable{% endtrans %}:</h4>
<br></br>
<div class="container">
<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <th>{% trans %}Email_pers{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('nom_responsmag_createaffectation') }}?idResponsmag={{entity.id}}">{{ entity.NOMPERS }}</a></td>
            <td><a href="{{ path('nom_responsmag_createaffectation') }}?idResponsmag={{entity.id}}">{{ entity.PRENOMPERS }}</a></td>
            <td><a href="{{ path('nom_responsmag_createaffectation') }}?idResponsmag={{entity.id}}">{{ entity.TELFIXPERS }}</a></td>
            <td><a href="{{ path('nom_responsmag_createaffectation') }}?idResponsmag={{entity.id}}">{{ entity.TELPORPERS }}</a></td>
            <td><a href="{{ path('nom_responsmag_createaffectation') }}?idResponsmag={{entity.id}}">{{ entity.EMAILPERS }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="container">
<p>{% trans %}Vôtre responsable n'est pas dans la liste{% endtrans %}: </p>
<p><a class="btn btn-primary" href="{{ path('nom_responsmag_new') }}?idMag={{idMag}}">{% trans %}Ajouter un responsable{% endtrans %}</a></p>
</div>
{% endblock %}