{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block editnomresponsmagpage %} 
{{ parent() }}
<h4>{% trans %}Edition Responsable Magasin{% endtrans %}</h4>

<form action="{{ path('nom_responsmag_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>


{% endblock %}