{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block nom_responsmagnewpage %} 
{{ parent() }}
<h5>{% trans %}Ajout d'un Responsable{% endtrans %}</h5>

<form action="{{ path('nom_responsmag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_label(form.NOM_PERS, "Nom:") }}
	{{ form_widget(form.NOM_PERS) }}
	{{ form_label(form.PRENOM_PERS, "Prénom:") }}
	{{ form_widget(form.PRENOM_PERS) }}
	{{ form_label(form.TELFIX_PERS, "Tél:") }}
	{{ form_widget(form.TELFIX_PERS) }}
	{{ form_label(form.TELPOR_PERS, "Mobile:") }}
	{{ form_widget(form.TELPOR_PERS) }}
	{{ form_label(form.EMAIL_PERS, "Email:") }}
	{{ form_widget(form.EMAIL_PERS) }}
	
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('nom_responsmag_newaffectation') }}?idMag={{idMag}}">
            {% trans %}Retour a la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
