<h1>nom_responsmag</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Num_pers{% endtrans %}</th>
            <td>{{ entity.NUMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Code_ville{% endtrans %}</th>
            <td>{{ entity.CODEVILLE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Fax_dr{% endtrans %}</th>
            <td>{{ entity.FAXDR }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <td>{{ entity.NOMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <td>{{ entity.PRENOMPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <td>{{ entity.TELFIXPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <td>{{ entity.TELPORPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Email_pers{% endtrans %}</th>
            <td>{{ entity.EMAILPERS }}</td>
        </tr>
        <tr>
            <th>{% trans %}Ad_rue{% endtrans %}</th>
            <td>{{ entity.ADRUE }}</td>
        </tr>
        <tr>
            <th>{% trans %}Suppl_ad{% endtrans %}</th>
            <td>{{ entity.SUPPLAD }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('nom_responsmag') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('nom_responsmag_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('nom_responsmag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
